/* line 23, ../sass/forms.scss */
button, form.prettyform input.button, input.button, .button {
  position: relative;
  display: inline-block;
  color: white;
  background-color: #cf2029;
  border: 0;
  text-decoration: none;
  padding: 0.4em .6em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 13, ../sass/forms.scss */
button:hover, form.prettyform input.button:hover, input.button:hover, .button:hover {
  background-color: #a31920;
  border: 0;
}
/* line 17, ../sass/forms.scss */
button:active, form.prettyform input.button:active, input.button:active, .button:active {
  top: 1px;
  left: 1px;
}

/* line 27, ../sass/forms.scss */
.button-wrapper {
  text-align: center;
  margin: 1em;
}

/* line 35, ../sass/forms.scss */
form.prettyform label, input, textarea, select {
  line-height: 1.8;
}

/* line 39, ../sass/forms.scss */
form.prettyform label {
  display: block;
  text-align: right;
  float: left;
  width: 200px;
  padding-right: 10px;
}

/* line 47, ../sass/forms.scss */
form.prettyform br {
  clear: left;
}

/* line 51, ../sass/forms.scss */
form.prettyform input, form.prettyform textarea {
  border: 1px solid black;
  margin: 5px;
}

/* line 56, ../sass/forms.scss */
input.pretty {
  border: 1px solid black;
}

/* line 60, ../sass/forms.scss */
input.prettysmall {
  border: 1px solid black;
}

/* line 65, ../sass/forms.scss */
table.pretty {
  margin: 1em 1em 1em 2em;
  background: whitesmoke;
  border-collapse: collapse;
  width: 80%;
}

/* line 72, ../sass/forms.scss */
table.pretty th, td {
  border: 1px silver solid;
  padding: 0.3em;
}

/* line 78, ../sass/forms.scss */
#answers {
  padding-left: 210px;
  padding-top: 0px;
  margin-top: 0px;
}

/* line 87, ../sass/forms.scss */
div.selected {
  background: lightblue;
}
