
<h3>Review your Ballot</h3>

{#foreach $T.questions as question}
<p>
<u>#{$T.question$index + 1}</u>: {$T.question.short_name}<br />

<b style="font-size:1.4em;">{#foreach $T.choices[$T.question$index] as choice}
{$T.choice}{#if !$T.choice$last}, {#/if}
{#/for}</b>
{#if $T.choices[$T.question$index].length < $T.question.max}
&nbsp;&nbsp;&nbsp;
[you under-voted: you may select up to {$T.question.max}]
{#/if}
&nbsp;&nbsp;&nbsp;
[<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#">edit</a>]
</p>
{#/for}

<button onclick="BOOTH.seal_ballot();">Confirm Choices and Encrypt Ballot</button>
