{% load i18n %}
<h3>{% trans "Review your Ballot" %}</h3>

{#foreach $T.questions as question}
<p>
{$T.question.short_name}<br />

<b style="font-size:1.4em;">{#foreach $T.choices[$T.question$index] as choice}
{$T.choice}{#if !$T.choice$last}, {#/if}
{#/for}</b>
{#if $T.choices[$T.question$index].length < $T.question.max}
&nbsp;&nbsp;&nbsp;
{% blocktrans %}
[you under-voted: you may select up to {$T.question.max}]
{% endblocktrans %}
{#/if}
&nbsp;&nbsp;&nbsp;
[<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#">{% trans "edit" %}</a>]
</p>
{#/for}

<button onclick="BOOTH.seal_ballot();">{% trans "Confirm Choices and Encrypt Ballot" %}</button>
