
<h3>Review your Ballot</h3>

{#foreach $T.questions as question}
<p>
{$T.question.short_name}<br />

{#foreach $T.choices[$T.question$index] as choice}
<span class="choice">&#x2713; {$T.choice}</span><br />
{#/for}
{#if $T.choices[$T.question$index].length < $T.question.max}
<span class="under-vote">Note: You under-voted; you may select up to {$T.question.max}</span><br />
{#/if}
<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#" class="edit">edit your selection</a>
</p>
{#/for}

<div class="button-wrapper"><button onclick="BOOTH.seal_ballot();">Confirm Choices and Encrypt Ballot</button></div>
