
<div id="questions_div">
<p>
    To cast a vote, you will be led through the following steps.<br />
    You will <em>not</em> be asked to log in until the very end of the process.
<p>
    
<ol>
    <li> <b>Select</b> your options.<br />
<span style="font-size: 14pt;">Answer the questions, and review your choices.</span></li>
<br />

    <li> <b>Encrypt</b> your selection.<br />
<span style="font-size: 14pt;">
  Your selection is encrypted safely inside in your browser.<br />
  A smart ballot tracker is given to let you track your ballot.<br />
</span>
</li>
<br />

    <li> <b>Submit</b> your encrypted ballot.<br />
<span style="font-size: 14pt;">
Proceed to log in and cast your encrypted ballot for tallying.
</span>
</li>
</ol>

<div align="center"><button onclick="BOOTH.show_question(0);">Start</button></div>
</div>

