
<form onsubmit="return false;" class="prettyform" id="answer_form">
<input type="hidden" name="question_num" value="<%=question_num%>" />

<p>
<br /> 
<b><%-question.question%></b>
<br />
<span style="font-size: 0.6em;">#<%=question_num + 1%> of <%=last_question_num + 1%> &mdash;
 vote for
<% if (question.min && question.min > 0) { %>
<% if (question.max) { %>
 <%=question.min%> to <%=question.max%>
<% } else { %>
 at least <%=question.min%>
<% } %>
<% } else { %>
<% if (question.max) { %>
<% if (question.max > 1) { %> up to <% } %> <%=question.max%>
<% } else { %>
 as many as you approve of
<% } %>
<% } %>
</span>
</p>

<% for (const answer_order of answer_ordering) {
  answer = question.answers[answer_order];
  answer_url = question.answer_urls[answer_order] ?
      (question.answer_urls && question.answer_urls[answer_order]) :
      "";
%>
<div id="answer_label_<%=question_num%>_<%=answer_order%>">
  <input type="checkbox" class="ballot_answer" id="answer_<%=question_num%>_<%=answer_order%>" name="answer_<%=question_num%>_<%=answer_order%>" value="yes" onclick="BOOTH.click_checkbox(<%=question_num%>, <%=answer_order%>, this.checked);" />

  <label class="answer" for="answer_<%=question_num%>_<%=answer_order%>">
    <%-answer%>

    <% if (answer_url) { %>
      &nbsp;&nbsp;
      <span style="font-size: 12pt;">
        [<a target="_blank" href="<%=answer_url%>" rel="noopener noreferrer">more info</a>]
      </span>
    <% } %>
  </label>
</div>
<% } %> <!-- end for -->

<div id="warning_box" style="color: green; text-align:center; font-size: 0.8em; padding-top:10px; padding-bottom: 10px; height:50px;">
</div>


<% if (show_reviewall) { %>
<div style="float: right;">
<button onclick="BOOTH.validate_and_confirm(<%=question_num%>);">Proceed</button>
</div>
<% } %>

<% if (question_num > 0) { %>
<button onclick="BOOTH.previous(<%=question_num%>);">Previous</button>
&nbsp;
<% } %>

<% if (question_num < last_question_num) { %>
<button onclick="BOOTH.next(<%=question_num%>);">Next</button>
&nbsp;
<% } %>

<br clear="both" />

</form>
