<h3>Review your Ballot</h3>

<div style="padding: 10px; margin-bottom: 10px; background-color: #eee; border: 1px #ddd solid;">
<% for (let i = 0; i < questions.length; i++) { question = questions[i]; %>

Question #<%=i + 1%>: <%-question.short_name%><br>
<% if (choices[i].length == 0) { %>
<div style="margin-left: 15px;">&#x2610; <b><i>No choice selected</i></b></div>
<% } %>
<% for (const choice of choices[i]) { %>
<div style="margin-left: 15px;">&#x2713; <b><%-choice%></b></div>
<% } %>
<% if (choices[i].length < question.max) { %>
[<%=choices[i].length%> selections out of possible <%=question.min%>-<%=question.max%>]<br />
<% } %>
[<a onclick="BOOTH.show_question(<%=i%>); return false;" href="#">change</a>]
<% if (i  < (questions.length - 1)) { %><br><br><% } %>
<% } %> <!-- end for -->
</div>

<p>Your ballot tracker is <b><tt style="font-size: 1.5em; word-break: break-all;"><%-encrypted_vote_hash%></tt></b>.

<p>  
  <button id="proceed_button" onclick="BOOTH.cast_ballot();">Proceed to Login</button><span id="loading_div"><img src="loading.gif" id="proceed_loading_img" /></span><br />
</p>


<form method="POST" action="<%=cast_url%>" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="<%=election_uuid%>" />
<input type="hidden" name="election_hash" value="<%=election_hash%>" />
<textarea name="encrypted_vote" style="display: none;"><%=encrypted_vote_json%></textarea>
</form>

<% if (election_metadata.use_advanced_audit_features) { %>
<div style="background: lightyellow; padding: 10px; border: 1px solid #ddd; max-width: 340px;">
<h4 style="padding: 0px; margin:0px;"><a onclick="$('#auditbody').slideToggle(250);" href="#">Spoil & Audit</a> <span style="font-size: 0.8em; color: #444">[optional]</span></h4>
<div id="auditbody" style="display:none;">
<p>
If you choose, you can spoil this ballot and reveal how your choices were encrypted. This is an optional auditing process.
</p>
<p>
You will then be guided to re-encrypt your choices for final casting.
</p>
<button onclick="BOOTH.audit_ballot();" class="pretty">Spoil &amp; Audit</button>
</p>
</div>
</div>
<% } %>

<br />

