{% load i18n %}
<h3>{% trans "Submit Your Encrypted Ballot" %}</h3>

<p>
{% blocktrans %}
All information, other than your encrypted ballot,<br />
has been removed from memory.
{% endblocktrans %}
</p>

<p>
{% blocktrans %}
As a reminder, your ballot tracking number is:<br />
{% endblocktrans %}
<b><tt style="font-size: 12pt;width: 10em; word-wrap: break-word">{$T.encrypted_vote_hash}</tt></b>
</p>

<p>
{% blocktrans %}
According to the election definition file, this ballot will be submitted to:
{% endblocktrans %}
</p>

<p><b><tt style="font-size: 12pt;width: 10em; word-wrap: break-word">{$T.cast_url}</tt></b></p>

<p>
{% blocktrans %}
    where you will log in to validate your eligibility to vote.
{% endblocktrans %}
</p>

<form method="POST" onsubmit="BOOTH.do_done();" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
<div id="submit_button">
  <label for="submit">&nbsp;</label>
  <input type="submit" value="{% trans "Submit Ballot" %}" class="pretty" />
</div>
</form>
