[submodule "auth"]
	path = auth
	url = git://github.com/benadida/auth-django-app.git
[submodule "heliosbooth"]
	path = heliosbooth
	url = git://github.com/benadida/helios-booth.git
[submodule "heliosverifier"]
	path = heliosverifier
	url = git://github.com/benadida/helios-verifier.git
