"""
Initialization for the system
"""


import helios
import auth
import auth.models

#from single-election import glue

helios.TEMPLATE_BASE = "single-election/templates/base.html"
helios.ADMIN_ONLY = True
helios.ADMIN = auth.models.User.get_or_create(user_type = 'password', user_id = 'benadida', info={'password':'test'})

# authentication limited to passwords
auth.ENABLED_AUTH_SYSTEMS = ['cas', 'password']
auth.DEFAULT_AUTH_SYSTEM = 'cas'

