"""
Initialization for the system
"""


import helios
import auth
import auth.models

#from server-ui import glue

helios.TEMPLATE_BASE = "server-ui/templates/base.html"
helios.ADMIN_ONLY = True
helios.ADMIN = auth.models.User.get_or_create(user_type = 'cas', user_id = 'yaro', info={})

# authentication limited to passwords
auth.ENABLED_AUTH_SYSTEMS = ['cas', 'password']
auth.DEFAULT_AUTH_SYSTEM = 'cas'

