"""
Initialization for the system
"""


import helios
import auth
import auth.models

#from server_ui import glue

helios.TEMPLATE_BASE = "server_ui/templates/base.html"
helios.ADMIN_ONLY = True

# authentication limited to passwords
auth.ENABLED_AUTH_SYSTEMS = ['cas', 'password']
auth.DEFAULT_AUTH_SYSTEM = 'cas'

