Django==1.7.3
South==0.8.2
anyjson==0.3.3
celery==3.0.16
django-celery==3.0.21
django-picklefield==0.3.0
kombu==2.5.13
psycopg2==2.5.1
pyparsing==1.5.7
python-dateutil>=1.5
python-openid==2.2.5
wsgiref==0.1.2
gunicorn==17.5
requests==1.2.3
unicodecsv==0.9.0
dj_database_url==0.2.2
django-sslify==0.2
django_webtest==1.7.5
webtest==2.0.7
django-db-pool==0.0.10
django-secure==0.1.2
bleach==1.4
boto==2.27.0
django-ses==0.6.0
validate_email==1.2
oauth2client==1.2
