<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
    xml:lang="{% firstof LANGUAGE_CODE 'en' %}"
    lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %} - Helios</title>
    {% block css %}
      <!--
          <link rel="stylesheet" type="text/css"  media="screen, projection" href="{{ MEDIA_URL }}combined-{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}.css" />
      -->
      <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css">

      <!--[if IE]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{{ MEDIA_URL }}ie.css">
      <![endif]-->
    {% endblock %}

    <script language="javascript" src="/static/helios/helios/jquery-1.2.2.min.js"></script>

    {% block js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
  </head>

  <body>
    <div id="content">
        <div id="header">
            <a href="/"><img border="0" src="/static/logo.gif" /></a><br />
        {% block header %}
        {% endblock %}
        </div>
        <div id="contentbody">
{% if admin_p %}
        <div style="float:right; border-left: 1px dashed black; padding: 0px 20px 5px 20px; width: 250px;">
          <h3>Administration</h3>
              {% block admin %}{% endblock %}
        </div>
{% endif %}      
              {% block content %}{% endblock %}
        </div>
      <div id="footer">
<span style="float:right;">
{% if user %}
logged in as {{user.user_id}}@{{user.user_type}}  [<a href="{% url auth.views.logout %}">logout</a>]
{% else %}
{% endif %}
</span>
<a href="http://heliosvoting.org">About Helios</a> |

<br clear="right" />
      </div>
    </div>
    
  </body>
</html>
