{% extends 'single-election/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}

<p>
    Welcome to the {{settings.SITE_TITLE}} system!
</p>

<p>
    Helios is a revolutionary voting system that empowers voters to verify that their votes were correctly tallied.<br />
    Learn more about Helios, and why secure voting matters, <a href="http://heliosvoting.org">here</a>.
</p>

<p style="font-size: 1.4em;">
    Proceed to
<a href="{% url helios.views.one_election_view settings.SINGLE_ELECTION_UUID %}">the {{settings.SINGLE_ELECTION_TITLE}}</a>.
</p>

{% endblock %}
