{% extends 'single-election/templates/base.html' %}
{% block title %}Single Election Helios{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}

<p>
    Welcome to the {{settings.SITE_TITLE}} Server.
</p>

<p>
    This site uses the <a href="http://heliosvoting.org">Helios Voting System</a> to enable individual voters
    to verify that their vote was correctly captured and tallied. Helios is a type of open-audit voting system,
    also called an end-to-end voting system.
</p>

<p style="font-size: 1.4em;">
    Proceed to
<a href="{% url helios.views.one_election_view settings.SINGLE_ELECTION_UUID %}">the {{settings.SINGLE_ELECTION_TITLE}}</a>.
</p>

{% endblock %}
