{% extends "server_ui/templates/base.html" %}

{% block tabs_menu %}
{% endblock %}

{% block header %}
{% block page_top %}
<h5 class="subheader" style="margin-bottom:0; padding-bottom:0">
{{ election_o.institution.name }}
</h5>
<h3 style="margin-top:0; padding-top:0" >{{ election_o.name }}</h3>
{% endblock %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
    <br /><br />
    <pre style="white-space:pre-wrap">
    {{ email_content|urlize }}
    </pre>
    <a class="button medium alert" href="/">Έξοδος</a>
  </div>
</div>
{% endblock %}


