{% extends "server_ui/templates/base.html" %}

{% block tabs_menu %}
{% endblock %}

{% block header %}
{% block page_top %}
<h5 class="subheader" style="margin-bottom:0; padding-bottom:0">
{{ election_o.institution.name }}
</h5>
<h3 style="margin-top:0; padding-top:0" >{{ election_o.name }}</h3>
{% endblock %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
    {% if bad_code %}
    <div class="alert-box alert">
      Εσφαλμένα στοιχεία. Παρακαλούμε δοκιμάστε ξανά.
    <div style="float: none; font-weight:normal; padding: 4px 0px 0px 0px">
    Εάν εξακολουθείτε να αντιμετωπίζετε πρόβλημα
    επικοινωνήστε με την εφορευτική επιτροπή της ψηφοφορίας.
    </div>
    </div>
    {% endif %}
    <p>Εισάγετε το μυστικό κωδικό ταυτοποίησης που σας έχει αποσταλεί.</p>
    
    <form action="{% url election_email_show %}" method="post">
      <input type="hidden" name="uuid" value="{{ election_o.uuid }}">
      <label for="secret">Κωδικός Ταυτοποίησης</label>
      <div class="row">
      <div class="columns six">
        <input name="secret" type="password" />
      </div>
      <div class="columns twelve">
        <input type="submit" value="Υποβολή" class="button medium success"/>
      </div>
    </div>
    </form>
  </div>
</div>
{% endblock %}

