<div class="question">

  <h5>Πότε μπορώ να ξεκινήσω την προετοιμασία της ψηφοφορίας;</h5>
  <p>Οποτεδήποτε. Δεν είναι υποχρεωτικό η προετοιμασία της ψηφοφορίας
  (ο ορισμός της εφορευτικής επιτροπής, η είσοδος των στοιχείων των
  ψηφοφόρων) να γίνει την ημέρα των εκλογών ή το προηγούμενο βράδυ.
  Μπορεί να γίνει μέρες πριν, ώστε να είναι σίγουρο ότι η διαδικασία
  ακολουθείται σωστά χωρίς να υπάρχει χρονική πίεση.</p>

  <h5>Τι θα συμβεί αν κάποιο μέλος της εφορευτικής επιτροπής χάσει τον
  Κωδικό Ψηφοφορίας του;</h5>
  <p>Στην περίπτωση αυτή θα είναι αδύνατη η αποκρυπτογράφηση των
  ψηφοδελτίων και η ψηφοφορία θα πρέπει να επαναληφθεί. Τα μέλη της
  εφορευτικής επιτροπής είναι απολύτως υπεύθυνα για την ολοκλήρωση
  της διαδικασίας.</p>

  <h5>Τι προτείνετε να κάνουν τα μέλη της εφορευτικής επιτροπής για να
  μην χάσουν τους Κωδικούς Ψηφοφορίας τους;</h5>
  <p>Να αποθηκεύσουν τον κωδικό ψηφοφορίας τους σε <i>δύο αντίγραφα</i>,
   σε δύο διαφορετικά φορητά μέσα (π.χ. usb sticks)
   και να τα κρατήσουν ασφαλή (π.χ. πάνω τους).

   <b>ΠΡΟΣΟΧΗ:</b> η αποστολή των Κωδικών μέσω δικτύου
   (π.χ. e-mail) ενέχει σοβαρό κίνδυνο υποκλοπής τους.
   Να μην αποστέλλονται οι Κωδικοί Ψηφοφορίας με e-mail.

   <b>ΠΡΟΣΟΧΗ:</b> οι μεγάλοι εκτυπωτές και πολυμηχανήματα γραφείου
   διαθέτουν σκληρούς δίσκους όπου αποθηκεύονται τα προς εκτύπωση
   έγγραφα. Η εκτύπωση των Κωδικών σε τέτοιο εξοπλισμό ενέχει
   κίνδυνο υποκλοπής τους εάν κάποιος έχει πρόσβαση στον εξοπλισμό.
   Είναι προτιμότερο να εκτυπωθούν σε μικρό εκτυπωτή (π.χ. inkjet).</p>

  <h5>Η ψηφοφορία ολοκληρώθηκε! Τα αποτελέσματα θα βγουν αμέσως;</h5>
  <p>Όχι. Όταν ολοκληρωθεί η διαδικασία της υποβολής των ψήφων,
   υπολείπονται δύο ακόμη στάδια, η μίξη, και η αποκρυπτογράφηση.
   Και στα δύο στάδια, το σύστημα &laquo;Ζεύς&raquo; και οι
   και οι συμμετέχοντες εξωτερικοί υπολογιστές των μελών της επιτροπής
   και των έμπιστων εντεταλμένων τους,
   εκτελούν μεγάλο αριθμό κρυπτογραφικών πράξεων προκειμένου να
   εκτελεστεί και να αποδειχθεί ότι τόσο η μίξη των ψηφοδελτίων
   όσο και η αποκρυπτογράφησή τους έγινε σωστά.
   Ανάλογα με τον αριθμό των ψηφοφόρων αυτό μπορεί
   να διαρκέσει από μερικά λεπτά έως μερικές ώρες.</p>

</div>
