{% extends "server_ui/templates/base.html" %}

{% block tabs_menu %}
{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block content %}
<div class="row">
  

  <div class="columns twelve">
    {% include "zeus/_faq_menu_partial.html" %}
    <h3>Απαντήσεις για τους Ψηφοφόρους</h3>
    <div class="question">

      <h5>Το σύστημα &laquo;Ζευς&raquo; με απλά λόγια</h5>
      <p>Αν παρομοιάζαμε την ηλεκτρονική ψηφοφορία του συστήματος
        &laquo;Ζευς&raquo; με μια ψηφοφορία με υλική κάλπη πώς θα
        έμοιαζε;</p>

      <p>Ο κάθε ψηφοφόρος παίρνει έναν ειδικό ατσάλινο φάκελο.
        Ο φάκελος έχει ένα λουκέτο που θέλει τρία κλειδιά
        (Κωδικοί Ψηφοφορίας), αυτά της εφορευτικής επιτροπής.
        Ο φάκελος έχει επίσης μια πλάκα με έναν μοναδικό κωδικό
        κολλημένη πάνω του.</p>

      <p>Το λουκέτο είναι ανοιχτό, βάζει μέσα το ψηφοδέλτιό του,
        κλείνει το λουκέτο (κρυπτογράφηση),
        γράφει το όνομά του πάνω στο φάκελο (σύνδεσμος στο email),
        και το ρίχνει στην ειδική κάλπη (&laquo;Ζευς&raquo;).</p>

      <p>Καθώς ρίχνει το ψηφοδέλτιο, η κάλπη του εκδίδει
        απόδειξη με τον κωδικό που γράφει πάνω ο φάκελός του,
        και μπορεί να ελέγξει ότι είναι πράγματι ο ίδιος.</p>

      <p>Όταν τελειώσει η ψηφοφορία, η εφορευτική επιτροπή
        πατάει ένα κουμπί στην ειδική κάλπη και αρχίζουν
        να ζεσταίνονται και να ανακατεύονται οι φάκελοι.
        Καθώς ανακατεύονται σε μεγάλη θερμοκρασία,
        οι πλάκες με τους κωδικούς ξεκολλάνε όλοι
        από τους φακέλους και κολλάνε μόνιμα στα τοιχώματα
        της κάλπης όταν κρυώσουν. (Mίξη)</p>

      <p>Όταν ανοίξει η κάλπη, όλοι μπορούν να δούν ποιοί
        ψήφισαν κοιτώντας τις πλάκες με τους κωδικούς
        πάνω στην κάλπη, αλλά όχι ποιo είναι το ψηφοδέλτιο
        του καθενός.</p>

      <p>Στη συνέχεια η επιτροπή βγάζει τα ανώνυμα ψηφοδέλτια από
        την κάλπη και με τα τρία κλειδιά της τα ξεκλειδώνει.
        (Aποκρυπτογράφηση)</p>

      <p>Επειδή ακριβώς η ανωνυμία στο Ζευς δεν αρχίζει στο κλείσιμο
        του φακέλου, αλλά στο ανακάτεμα της κάλπης, είναι δυνατόν
        χωρίς καμία επίπτωση στην ακεραιότητα και την ανωνυμία,
        να αφαιρεθούν φάκελοι ονομαστικά πριν πατηθεί το κουμπί.</p>

      <p>Όλοι γνωρίζουν ποια αφαιρέθηκαν αφού βλέπουν ποια έχουν
        κολλήσει μέσα μετά το ανακάτεμα. </p>

      <p>Ταυτόχρονα κάθε ψηφοφόρος μπορεί να ελέγξει αν η ψήφος του
        έχει καταμετρηθεί, ψάχνοντας να δει αν ο κωδικός του φακέλου
        του στην απόδειξη βρίσκεται ανάμεσα σε αυτούς της κάλπης
        μετά το ανακάτεμα.</p>

      <p>Κανείς δεν μπορεί να πειράξει τους κολλημένους κωδικούς στην κάλπη
        γιατί αυτό χρειάζεται μεγάλη θερμοκρασία, αλλά η κάλπη
        μπορεί να ζεσταθεί μόνο μια φορά αλλιώς σπάει.</p>
      
      <h5>Πώς διασφαλίζεται το απόρρητο της ψήφου;</h5>
      <p> Δύο είναι τα στεγανά για την προστασία του απορρήτου,
        Η <i>κρυπτογράφηση της ψήφου</i>, και η <i>ανώνυμη μίξη</i>
        των κρυπτογραφημένων ψηφοδελτίων.</p>

      <p> Για την κρυπτογράφηση των ψήφων σε κάθε ψηφοφορία, υπάρχουν
        πολλαπλά κρυπτογραφικά κλειδιά, οι Κωδικοί Ψηφοφορίας, τα οποία
        κατέχουν με προσωπική ευθύνη διαφύλαξης τα μέλη της
        εφορευτικής επιτροπής. Το σύστημα &laquo;Ζευς&raquo; κατέχει
        επίσης ένα Κωδικό Ψηφοφορίας σε κάθε ψηφοφορία. Το απόρρητο
        προσβάλλεται μόνο εάν κάποιος έχει διαθέσιμους ταυτόχρονα τους
        Κωδικούς όλων των μελών καθώς και αυτόν του συστήματος
        &laquo;Ζευς&raquo;. Επομένως το απόρρητο είναι πρακτικά
        εξασφαλισμένο, αφού αρκεί να μείνει ασφαλής ένας και μόνο
        Κωδικός από όλους. </p>

      <p> Για την ανώνυμη μίξη των κρυπτογραφημένων ψηφοδελτίων
        δεν χρειάζονται κρυπτογραφικά κλειδιά, αλλά παράγεται
        μια μαθηματική απόδειξη ότι η διαδικασία της μίξης
        έγινε σωστά χωρίς βλάβη της διαδικασίας.
        Η μίξη γίνεται σε αυτοδύναμα στάδια, το πρώτο εκ των οποίων
        το εκτελεί το ίδιο το σύστημα &laquo;Ζευς&raquo;.
        Στη συνέχεια η εφορευτική επιτροπή αναθέτει
        είτε στα μέλη της είτε σε οποιονδήποτε άλλο έμπιστο
        εξωτερικό φορέα να συνεισφέρει επιπλέον στάδια στη μίξη
        για μεγαλύτερη ασφάλεια.
        Όπως και με τους Κωδικούς Ψηφοφορίας,
        το απόρρητο είναι πρακτικά εξασφαλισμένο καθώς αρκεί
        ένα και μόνο στάδιο από όλα να έχει γίνει σωστά.</p>

      <h5>Πώς γίνεται η εφορευτική επιτροπή να μη γνωρίζει τί ψήφισε ο
        καθένας εφόσον διαθέτει όλα τα κλειδιά της αποκρυπτογράφησης;</h5>
      <p>Για να μπορέσει κάποιος να αποκρυπτογραφήσει κάτι που δεν πρέπει,
        χρειάζεται να ξέρει ταυτόχρονα όλα τα κλειδιά. Στην ορθή
        διαδικασία των ψηφοφοριών του συστήματος &laquo;Ζευς&raquo; κάθε
        μέλος της επιτροπής γνωρίζει μόνο το δικό του κλειδί (ως μέρος
        του Κωδικού Ψηφοφορίας του) και κανενός άλλου. Η αποκρυπτογράφηση
        γίνεται τμηματικά, περνώντας ξεχωριστά από κάθε μέλος, και μόνο
        αφού έχει περάσει από όλους προκύπτουν τα αποκρυπτογραφημένα
        ψηφοδέλτια.</p>
      
      <h5>Γιατί μπορώ να ψηφίσω παραπάνω από μία φορά; Δεν υπάρχει
        κίνδυνος να διπλομετρηθούν ψήφοι;</h5>
      <p>Κάθε ψηφοφόρος μπορεί να ψηφίσει όσες φορές θέλει μέχρι να
        λήξει η διαδικασία της ψηφορορίας. Επειδή η υποβολή της ψήφου
        δεν γίνεται σε κάποιο εκλογικό κέντρο με ελεγχόμενο
        παραπέτασμα, μπορεί κάποιος να μην είναι βέβαιος ότι ψήφισε
        χωρίς καμία εξωτερική επιρροή. Ακόμα και αν συμβεί αυτό, ο
        ψηφοφόρος μπορεί στη συνέχεια να ξαναψηφίσει με τρόπο που
        εκφράζει ελεύθερα και ανεπηρέαστα τις επιλογές του. Όσο για
        τον κίνδυνο να διπλομετρηθούν ψήφοι, αυτό είναι αδύνατο. Κάθε
        νέα ψήφος στην απόδειξη της καταχώρησής της αναφέρει σαφώς την
        ακύρωση της προηγούμενης ψήφου.
      </p>
      
      <h5>Η ψηφοφορία ολοκληρώθηκε! Τα αποτελέσματα θα βγουν αμέσως;</h5>
      <p>Όχι. Όταν ολοκληρωθεί η διαδικασία της υποβολής των ψήφων,
        υπολείπονται δύο ακόμη στάδια, η μίξη, και η αποκρυπτογράφηση.
        Και στα δύο στάδια, το σύστημα &laquo;Ζευς&raquo; και οι και
        οι συμμετέχοντες εξωτερικοί υπολογιστές των μελών της
        επιτροπής και των έμπιστων εντεταλμένων τους, εκτελούν μεγάλο
        αριθμό κρυπτογραφικών πράξεων προκειμένου να εκτελεστεί και να
        αποδειχθεί ότι τόσο η μίξη των ψηφοδελτίων όσο και η
        αποκρυπτογράφησή τους έγινε σωστά. Ανάλογα με τον αριθμό των
        ψηφοφόρων αυτό μπορεί να διαρκέσει από μερικά λεπτά έως
        μερικές ώρες.</p>

      <h5>Έχασα το μήνυμα (email) με τον σύνδεσμο για την ψηφοφορία. Τι
        να κάνω;</h5>
      <p>Επικοινωνήστε με τα μέλη της εφορευτικής επιτροπής των εκλογών
      για να σας στείλουν νέο μήνυμα.</p>

      <h5 id="client-requirements">Τι απαιτήσεις υπάρχουν για τον
      υπολογιστή που θα ψηφίσω;</h5>
      <p>Ο υπολογιστής σας θα πρέπει να έχει εγκατεστημένο ένα από
        τα <a href="#browser-support">προτεινόμενα προγράμματα
        πλοήγησης</a>. Επιπλέον:
        <ul>
          <li>Επιβεβαιώστε ότι τυχόν επιπρόσθετα προγράμματα (plugins)
          είναι ενημερωμένα.</li>
          <li>Χρησιμοποιείτε προγράμματα ελέγχου πρόσβασης (firewalls)
          και προστασίας (antivirus).</li>
          <li>Μην κατεβάζετε και μην χρησιμοποιείτε μπάρες εργαλείων
          τρίτων στο πρόγραμμα πλοήγησής σας (third party browser
          toolbars).</li>
          <li>Διατηρείτε ενημερωμένο το λειτουργικό σύστημα του
          υπολογιστή σας και λαμβάνετε πρόνοια ώστε να εγκαθίστανται
          οι διορθώσεις ασφαλείας (security patches).</li>
        </ul>
      </p>

      
      <h5 id="browser-support">Που μπορώ να βρω τις τελευταίες εκδόσεις των προτεινόμενων προγραμμάτων πλοήγησης;</h5>
      <p>
      <ul>
        <li>Για το πρόγραμμα Mozilla Firefox: <a href="http://www.mozilla.org/el/firefox/new/">http://www.mozilla.org/el/firefox/new/</a>
        <li>Για το πρόγραμμα Google Chrome:
          <a href="https://www.google.com/intl/el/chrome/browser/">https://www.google.com/intl/el/chrome/browser/</a>
      </p>

      <h5>Τι θα γίνει αν το μήνυμα με τον σύνδεσμο για την ψηφοφορία
      δεν φτάσει ή διαρρεύσει; Μπορεί κάποιος να ψηφίσει αντί για
      μένα;</h5>
      <p>Εάν διαπιστώσετε ότι δεν έχετε λάβει κανένα μήνυμα για
      συμμετοχή στην ψηφοφορία ή εάν το λάβετε και δείτε στη σελίδα
      σας ότι ψηφίσατε ενώ γνωρίζετε ότι δεν έχετε ψηφίσει, οφείλετε
      να ειδοποιήσετε αμέσως την εφορευτική επιτροπή για να
      διερευνήσει το θέμα και για να σας εξασφαλίσει το δικαίωμα της
      ψήφου.</p>

      <h5>Το μήνυμα που έλαβα και το οποίο με καλεί να ψηφίσω αναφέρει
        κάποιους &laquo;κωδικούς ελέγχου&raquo;. Τι είναι αυτοί;</h5>
      <p>Πρόκειται για προχωρημένη δυνατότητα του συστήματος
        &laquo;Ζευς&raquo; η οποία μπορεί να χρησιμοποιηθεί αν ο
        χρήστης έχει την υποψία ότι ο υπολογιστής του έχει παραβιαστεί
        και τρέχει κακόβουλο λογισμικό. Οι κωδικοί αυτοί είναι
        απαραίτητοι για τη <a href="#vote_check_procedure">Διαδικασία
        ελέγχου ψήφου</a>.</p>

      <h5>Τι είναι η &laquo;Διαδικασία ελέγχου ψήφου&raquo;;</h5>
      <p>Η <a id="vote_check_procedure">διαδικασία ελέγχου ψήφου</a>
      είναι μια προχωρημένη διαδικασία που σκοπό της έχει να
      επιβεβαιώσει ο χρήστης ότι ο υπολογιστής του, και συγκεκριμένα
      το πρόγραμμα περιήγησης στον Παγκόσμιο Ιστό (browser) που
      χρησιμοποιεί, δεν έχει μολυνθεί από εξειδικευμένο κακόβουλο
      λογισμικό το οποίο μπορεί να διαβάλει τη διαδικασία της
      ψηφοφορίας.</p>
      <p>Συγκεκριμένα, έστω ότι ο ψηφοφόρος υποψιάζεται ότι το
      πρόγραμμα πλοήγησής του έχει μολυνθεί. Στην περίπτωση αυτή θα
      θέλει να εξακριβώσει ότι το ψηφοδέλτιο που θα υποβάλει στο
      σύστημα &laquo;Ζευς&raquo; περιέχει πραγματικά τις επιλογές του
      και μόνο αυτές.</p>
      <p>Δεδομένου ότι τοπικός υπολογιστής είναι ύποπτος, ο έλεγχος
        γίνεται με την επιλεκτική δημοσίευση ειδικών ψήφων ελέγχου. Το
        σύστημα &laquo;Ζευς&raquo; όμως δεν μπορεί από μόνο του να
        δημοσιεύσει ψηφοδέλτια χωρίς να τα υποβάλει και να το ζητήσει
        ο χρήστης. Ο ψηφοφόρος μπορεί να υποβάλει ένα ψηφοδέλτιο,
        να ζητήσει τη δημοσίευσή του ώστε να διαπιστώσει ότι η
        μεταφορά και η επεξεργασία του έγινε σωστά, να μην ληφθεί
        υπόψη αυτό στην καταμέτρηση, αλλά να υποβάλει στη συνέχεια νέο
        ψηφοδέλτιο το οποίο πραγματικά θα καταμετρηθεί.</p>
      <p>Ακόμα κι έτσι, θα μπορούσε θεωρητικά να κατασκευαστεί ένα
      κακόβουλο πρόγραμμα το οποίο θα επηρεάσει το πρόγραμμα
      περιήγησης του χρήστη ώστε να εμφανίζει τις επιλογές του χωρίς
      ποτέ να επικοινωνεί με το σύστημα &laquo;Ζευς&raquo;. Για να
      αποφευχθεί αυτό, θα πρέπει ο χρήστης και το σύστημα
      &laquo;Ζευς&raquo; να μοιράζονται ένα &laquo;μυστικό&raquo; το
      οποίο δεν το γνωρίζει το οποιοδήποτε κακόβουλο πρόγραμμα</p>
      <p>Οι &laquo;κωδικοί ελέγχου ψήφου&raquo; είναι ένα τέτοιο
      μυστικό. Αν δωθεί από τον χρήστη κανονικός κωδικός ελέγχου, θα
      καταχωρηθεί η ψήφος ως έγκυρη. Αν δωθεί λανθασμένος κωδικός
      ελέγχου, το σύστημα &laquo;Ζευς&raquo; ζητά από τον χρήστη να
      επιβεβαιώσει τη δημοσίευση των επιλογών στο ψηφοδέλτιό του. Με
      τον τρόπο αυτό, μπορεί να διαπιστώσει ότι αυτές μεταφέρθηκαν στο
      σύστημα σωστά. Φυσικά θα πρέπει στη συνέχεια να προχωρήσει σε
      νέα υποβολή ψήφου. Κανένα κακόβουλο πρόγραμμα δεν μπορεί να
      μαντέψει τι θα αποφασίσει να κάνει ο χρήστης, αν δηλαδή θα
      αποφασίσει να δει τις επιλογές του ή να το καταχωρήσει ως
      έγκυρο. Συνεπώς, αν ο χρήστης επαναλάβει τη διαδικασία <i>n</i>
      φορές, η πιθανότητα να υπάρχει κακόβουλο πρόγραμμα το οποίο να
      μπορεί να τον ξεγελάσει είναι 1 / 2<sup><i>n</i></sup>.</p>

    </div>
  </div>
</div>
{% endblock %}
