<div class="question">
  <h5>Πώς διασφαλίζει το σύστημα &laquo;Ζευς&raquo; το απόρρητο της ψήφου;</h5>
  <p>Για την προσβολή του απορρήτου πρέπει να συνομωτήσουν μεταξύ τους
    όλα τα μέλη της εφορευτικής επιτροπής, καθώς και ο διαχειριστής
    του συστήματος &laquo;Ζευς&raquo;. Για κάθε ψηφοφορία, υπάρχει
    ένας Κωδικός Ψηφοφορίας για κάθε μέλος της επιτροπής καθώς και
    ένας για το ίδιο το σύστημα. Το απόρρητο αίρεται μόνο εάν είναι
    διαθέσιμοι ταυτόχρονα όλοι οι Κωδικοί.
  </p>
  <h5>Πώς γίνεται η εφορευτική επιτροπή να μη γνωρίζει τί ψήφισε ο
   καθένας εφόσον διαθέτει όλα τα κλειδιά της αποκρυπτογράφησης;</h5>
  <p>Για να μπορέσει κάποιος να αποκρυπτογραφήσει κάτι που δεν πρέπει,
     χρειάζεται να ξέρει ταυτόχρονα όλα τα κλειδιά. Στην ορθή
     διαδικασία των ψηφοφοριών του συστήματος &laquo;Ζεύς&raquo; κάθε
     μέλος της επιτροπής γνωρίζει μόνο το δικό του κλειδί (ως μέρος
     του Κωδικού Ψηφοφορίας του) και κανενός άλλου. Η αποκρυπτογράφηση
     γίνεται τμηματικά, περνώντας ξεχωριστά από κάθε μέλος, και μόνο
     αφού έχει περάσει από όλους προκύπτουν τα αποκρυπτογραφημένα
     ψηφοδέλτια.</p>
  <h5>Γιατί μπορώ να ψηφίσω παραπάνω από μία φορά; Δεν υπάρχει
    κίνδυνος να διπλομετρηθούν ψήφοι;</h5>
  <p>Κάθε ψηφοφόρος μπορεί να ψηφίσει όσες φορές θέλει μέχρι να
   κλείσει η διαδικασία της ψηφορορίας. Επειδή η υποβολή της ψήφου δεν
   γίνεται σε κάποιο εκλογικό κέντρο, μπορεί κάποιος να απαιτήσει από
   τον ψηφοφόρο να είναι παρόν τη στιγμή που αυτός ψηφίζει, ώστε να
   του υποδείξει την ψήφο του. Ακόμα και να συμβεί αυτό, ο ψηφοφόρος
   μπορεί στη συνέχεια να ξαναψηφίσει και να υποβάλλει την ψήφο που
   πραγματικά εκφράζει τις επιλογές του. Όσο για τον κίνδυνο να
   διπλομετρηθούν ψήφοι, αυτό είναι αδύνατο. Κάθε νέα ψήφος στην
   απόδειξη της καταχώρησής της αναφέρει σαφώς την ακύρωση της
   προηγούμενης ψήφου.</p>

</div>
