{% extends "server_ui/templates/base.html" %}

{% block tabs_menu %}
{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
    {% include "zeus/_faq_menu_partial.html" %}
    <h3>Ερωτήσεις για τους διαχειριστές</h3>
<div class="question">

  <h5>Πότε μπορώ να ξεκινήσω την προετοιμασία της ψηφοφορίας;</h5>
  <p>Οποτεδήποτε. Δεν είναι υποχρεωτικό η προετοιμασία της ψηφοφορίας
  (ο ορισμός της εφορευτικής επιτροπής, η είσοδος των στοιχείων των
  ψηφοφόρων) να γίνει την ημέρα των εκλογών ή το προηγούμενο βράδυ.
  Μπορεί να γίνει μέρες πριν, ώστε να είναι σίγουρο ότι η διαδικασία
  ακολουθείται σωστά χωρίς να υπάρχει χρονική πίεση.</p>

  <h5>Τι είναι ο &laquo;πίνακας ελέγχου&raquo; που αναφέρεται στο
    μήνυμα που λαμβάνουν τα μέλη της εφορευτικής επιτροπής;</h5>
  <p>Είναι οι λειτουργίες του σύστηματος &laquo;Ζευς&raquo; που
  αφορούν τα μέλη της εφορευτικής επιτροπής.</p>
    
  <h5>Τι θα συμβεί αν κάποιο μέλος της εφορευτικής επιτροπής χάσει τον
  Κωδικό Ψηφοφορίας του;</h5>
  <p>Στην περίπτωση αυτή θα είναι αδύνατη η αποκρυπτογράφηση των
  ψηφοδελτίων και η ψηφοφορία θα πρέπει να επαναληφθεί. Τα μέλη της
  εφορευτικής επιτροπής είναι απολύτως υπεύθυνα για την ολοκλήρωση
  της διαδικασίας.</p>

  <h5>Τι προτείνετε να κάνουν τα μέλη της εφορευτικής επιτροπής για να
  μην χάσουν τους Κωδικούς Ψηφοφορίας τους;</h5>
  <p>Να αποθηκεύσουν τον κωδικό ψηφοφορίας τους σε <i>δύο
   αντίγραφα</i>, σε δύο διαφορετικά φορητά μέσα (π.χ. usb sticks) και
   να τα κρατήσουν ασφαλή (π.χ. πάνω τους).</p>

  <p><b>ΠΡΟΣΟΧΗ:</b> η αποστολή των Κωδικών μέσω δικτύου (π.χ. e-mail)
   ενέχει σοβαρό κίνδυνο υποκλοπής τους. Οι κωδικοί ψηφοφορίας δεν
   πρέπει να αποστέλλονται με e-mail.</p>

  <p><b>ΠΡΟΣΟΧΗ:</b> οι μεγάλοι εκτυπωτές και πολυμηχανήματα γραφείου
   διαθέτουν σκληρούς δίσκους όπου αποθηκεύονται τα προς εκτύπωση
   έγγραφα. Η εκτύπωση των Κωδικών σε τέτοιο εξοπλισμό ενέχει κίνδυνο
   υποκλοπής τους εάν κάποιος έχει πρόσβαση στον εξοπλισμό. Είναι
   προτιμότερο να εκτυπωθούν σε μικρό εκτυπωτή (π.χ. inkjet).</p>

  <h5>Η ψηφοφορία ολοκληρώθηκε! Τα αποτελέσματα θα βγουν αμέσως;</h5>
  <p>Όχι. Όταν ολοκληρωθεί η διαδικασία της υποβολής των ψήφων,
   υπολείπονται δύο ακόμη στάδια, η μίξη, και η αποκρυπτογράφηση.
   Και στα δύο στάδια, το σύστημα &laquo;Ζευς&raquo; και οι
   και οι συμμετέχοντες εξωτερικοί υπολογιστές των μελών της επιτροπής
   και των έμπιστων εντεταλμένων τους,
   εκτελούν μεγάλο αριθμό κρυπτογραφικών πράξεων προκειμένου να
   εκτελεστεί και να αποδειχθεί ότι τόσο η μίξη των ψηφοδελτίων
   όσο και η αποκρυπτογράφησή τους έγινε σωστά.
   Ανάλογα με τον αριθμό των ψηφοφόρων αυτό μπορεί
   να διαρκέσει από μερικά λεπτά έως μερικές ώρες.</p>

  <h5>Τι πρέπει να εισάγω στο πεδίο <b>τηλέφωνο</b> και <b>email</b>
    κατά τη δημιουργία μιας ψηφοφορίας;</h5>
  <p>Το τηλέφωνο και το email που θα καταχωρήσετε θα είναι τα στοιχεία
    επικοινωνίας με τα οποία θα μπορούν να επικοινωνήσουν μαζί σας οι
    ψηφοφόροι κατά τη διάρκεια της διεξαγωγής των εκλογών</p>
    
  <h5>Κατά την εισαγωγή των στοιχείων της ψηφοφορίας, σε περίπτωση που
  δεν ισχύει ο περιορισμός του αριθμού εσωτερικών μελών ανά σχολή,
  μπορούμε να αποφύγουμε την εισαγωγή σχολών και τμημάτων;</h5>
  <p>Στην περίπτωση αυτή, μπορείτε να εισάγετε απλώς το όνομα του
    ιδρύματος, δεδομένου ότι το πεδίο &laquo;Σχολές και Ανεξάρτητα
    Τμήματα του Ιδρύματος&raquo; δεν πρέπει να παραμείνει κενό.</p>

  <h5>Βλέπω τη λίστα των ψηφοφόρων, αλλά το κουμπί &laquo;Αποστολή
  email&raquo; δεν είναι ενεργό. Γιατί;</h5>
  <p> Η αποστολή email είναι δυνατή μόνο αφού γίνει οριστικοποίηση της
    ψηφοφορίας. Για να γίνει αυτό θα πρέπει να λύσετε τυχόν
    εκκρεμότητες. Οι εκκρεμότητες εμφανίζονται κάτω από την ετικέτα
    &laquo;Πληροφορίες&raquo;.</p>

  <h5>Κατά τη διαδικασία δημιουργίας κωδικού ψηφοφορίας εμφανίζεται το
    μήνυμα &laquo;Εάν έχετε ήδη Κωδικό Ψηφοφορίας μπορείτε να τον
    επαναχρησιμοποιήσετε&raquo;. Δηλαδή;</h5>
  <p>Ενδεχομένως να έχετε ήδη δημιουργήσει και αποθηκεύσει Κωδικό
  Ψηφοφορίας, τον οποίο μπορείτε να ξαναχρησιμοποιήσετε.</p>

  <h5 id="secret-key">Τι σημαίνει &laquo;Ενεργοποίηση Κωδικού&raquo;;</h5>
  <p>Μέχρι να γίνει η ενεργοποίηση του Κωδικού Ψηφοφορίας, κανείς
  εκτός από εσάς δεν γνωρίζει την ύπαρξή του. Ο Κωδικός έχει
  δημιουργηθεί στον τοπικό υπολογιστή σας, και καμμία σχετική
  πληροφορία δεν έχει αποθηκευτεί στο σύστημα &laquo;Ζευς&raquo;. Με
  την ενεργοποίηση του Κωδικού, το σύστημα &laquo;Ζευς&raquo;
  συμπεριλαμβάνει και τον δικό σας κωδικό στη διαδικασία
  κρυπτογράφησης και αποκρυπτογράφησης των ψηφοδελτίων. Τεχνικά, αυτό
  πραγματοποιείται με την αποστολή από τον τοπικό σας υπολογιστή στο
  σύστημα &laquo;Ζευς&raquo; του δημόσιου <b>και μόνο</b> μέρους του
  Κωδικού σας.</p>

  <h5>Μετά την ενεργοποίηση του Κωδικού Ψηφοφορίας, το σύστημα με
  αποσυνδέει. Γιατί;</h5>
  <p>Για να ξεκινήσει η ψηφοφορία θα πρέπει το σύστημα
  &laquo;Ζευς&raquo; να γνωρίζει ότι τα μέλη της εφορευτικής επιτροπής
  έχουν πράγματι τους Κωδικούς τους. Για το λόγο αυτό, τους αποσυνδέει
  ώστε να πρέπει να επισκεφθούν εκ νέου τον πίνακα ελέγχου τους και να
  επιβεβαιώσουν την κατοχή του Κωδικού.</p>



</div>
  </div>
</div>
{% endblock %}
