{% extends "server_ui/templates/base.html" %}

{% block tabs_menu %}
{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block content %}
<div class="row">
  

  <div class="columns twelve">
    {% include "zeus/_faq_menu_partial.html" %}
    <h3>Απαντήσεις για τους Ψηφοφόρους</h3>
    <div class="question">
  
      <h5>Πώς διασφαλίζεται το απόρρητο της ψήφου;</h5>
      <p> Δύο είναι τα στεγανά για την προστασία του απορρήτου,
        Η <i>κρυπτογράφηση της ψήφου</i>, και η <i>ανώνυμη μίξη</i>
        των κρυπτογραφημένων ψηφοδελτίων.</p>

      <p> Για την κρυπτογράφηση των ψήφων σε κάθε ψηφοφορία, υπάρχουν
        πολλαπλά κρυπτογραφικά κλειδιά, οι Κωδικοί Ψηφοφορίας, τα οποία
        κατέχουν με προσωπική ευθύνη διαφύλαξης τα μέλη της
        εφορευτικής επιτροπής. Το σύστημα &laquo;Ζευς&raquo; κατέχει
        επίσης ένα Κωδικό Ψηφοφορίας σε κάθε ψηφοφορία. Το απόρρητο
        προσβάλλεται μόνο εάν κάποιος έχει διαθέσιμους ταυτόχρονα τους
        Κωδικούς όλων των μελών καθώς και αυτόν του συστήματος
        &laquo;Ζευς&raquo;. Επομένως το απόρρητο είναι πρακτικά
        εξασφαλισμένο, αφού αρκεί να μείνει ασφαλής ένας και μόνο
        Κωδικός από όλους. </p>

      <p> Για την ανώνυμη μίξη των κρυπτογραφημένων ψηφοδελτίων
        δεν χρειάζονται κρυπτογραφικά κλειδιά, αλλά παράγεται
        μια μαθηματική απόδειξη ότι η διαδικασία της μίξης
        έγινε σωστά χωρίς βλάβη της διαδικασίας.
        Η μίξη γίνεται σε αυτοδύναμα στάδια, το πρώτο εκ των οποίων
        το εκτελεί το ίδιο το σύστημα &laquo;Ζευς&raquo;.
        Στη συνέχεια η εφορευτική επιτροπή αναθέτει
        είτε στα μέλη της είτε σε οποιονδήποτε άλλο έμπιστο
        εξωτερικό φορέα να συνεισφέρει επιπλέον στάδια στη μίξη
        για μεγαλύτερη ασφάλεια.
        Όπως και με τους Κωδικούς Ψηφοφορίας,
        το απόρρητο είναι πρακτικά εξασφαλισμένο καθώς αρκεί
        ένα και μόνο στάδιο από όλα να έχει γίνει σωστά.</p>

      <h5>Πώς γίνεται η εφορευτική επιτροπή να μη γνωρίζει τί ψήφισε ο
        καθένας εφόσον διαθέτει όλα τα κλειδιά της αποκρυπτογράφησης;</h5>
      <p>Για να μπορέσει κάποιος να αποκρυπτογραφήσει κάτι που δεν πρέπει,
        χρειάζεται να ξέρει ταυτόχρονα όλα τα κλειδιά. Στην ορθή
        διαδικασία των ψηφοφοριών του συστήματος &laquo;Ζευς&raquo; κάθε
        μέλος της επιτροπής γνωρίζει μόνο το δικό του κλειδί (ως μέρος
        του Κωδικού Ψηφοφορίας του) και κανενός άλλου. Η αποκρυπτογράφηση
        γίνεται τμηματικά, περνώντας ξεχωριστά από κάθε μέλος, και μόνο
        αφού έχει περάσει από όλους προκύπτουν τα αποκρυπτογραφημένα
        ψηφοδέλτια.</p>
      
      <h5>Γιατί μπορώ να ψηφίσω παραπάνω από μία φορά; Δεν υπάρχει
        κίνδυνος να διπλομετρηθούν ψήφοι;</h5>
      <p>Κάθε ψηφοφόρος μπορεί να ψηφίσει όσες φορές θέλει μέχρι να
        λήξει η διαδικασία της ψηφορορίας. Επειδή η υποβολή της ψήφου
        δεν γίνεται σε κάποιο εκλογικό κέντρο με ελεγχόμενο
        παραπέτασμα, μπορεί κάποιος να μην είναι βέβαιος ότι ψήφισε
        χωρίς καμία εξωτερική επιρροή. Ακόμα και αν συμβεί αυτό, ο
        ψηφοφόρος μπορεί στη συνέχεια να ξαναψηφίσει με τρόπο που
        εκφράζει ελεύθερα και ανεπηρέαστα τις επιλογές του. Όσο για
        τον κίνδυνο να διπλομετρηθούν ψήφοι, αυτό είναι αδύνατο. Κάθε
        νέα ψήφος στην απόδειξη της καταχώρησής της αναφέρει σαφώς την
        ακύρωση της προηγούμενης ψήφου.
      </p>
      
      <h5>Η ψηφοφορία ολοκληρώθηκε! Τα αποτελέσματα θα βγουν αμέσως;</h5>
      <p>Όχι. Όταν ολοκληρωθεί η διαδικασία της υποβολής των ψήφων,
        υπολείπονται δύο ακόμη στάδια, η μίξη, και η αποκρυπτογράφηση.
        Και στα δύο στάδια, το σύστημα &laquo;Ζευς&raquo; και οι και
        οι συμμετέχοντες εξωτερικοί υπολογιστές των μελών της
        επιτροπής και των έμπιστων εντεταλμένων τους, εκτελούν μεγάλο
        αριθμό κρυπτογραφικών πράξεων προκειμένου να εκτελεστεί και να
        αποδειχθεί ότι τόσο η μίξη των ψηφοδελτίων όσο και η
        αποκρυπτογράφησή τους έγινε σωστά. Ανάλογα με τον αριθμό των
        ψηφοφόρων αυτό μπορεί να διαρκέσει από μερικά λεπτά έως
        μερικές ώρες.</p>

      <h5>Έχασα το μήνυμα (email) με τον σύνδεσμο για την ψηφοφορία. Τι
        να κάνω;</h5>
      <p>Επικοινωνήστε με τα μέλη της εφορευτικής επιτροπής των εκλογών
        για να σας στείλουν νέο μήνυμα.</p>

      <h5>Τι θα γίνει αν το μήνυμα με τον σύνδεσμο για την ψηφοφορία
      διαρρεύσει; Μπορεί κάποιος να ψηφίσει αντί για μένα</h5>
      <p>

      
    </div>
  </div>
</div>
{% endblock %}
