{% extends "server_ui/templates/base.html" %}

{% block tabs_menu %}
<dd id="" class="{% if menu_active == "home" %}active{% endif %}"><a
  href="/">Αρχική σελίδα</a></dd>
<dd id="" class="{% if menu_active == "faq" %}active{% endif %}"><a 
  href="{% url zeus.views.faqs_voter %}">Συχνές ερωτήσεις</a></dd>
<dd id="" class="{% if menu_active == "resources" %}active{% endif %}"><a 
  href="{% url zeus.views.resources %}">Υλικό</a></dd>
{% endblock %}

{% block content %}
<div class="row">
<div class="columns twelve">
  
  <ul class="disc">
    <li> <a href="#general">Γενικά</a></li>
    <li><a href="#the-voter">Ο Ψηφοφόρος</a></li>
    <li><a href="#the-election-commission">Η Εφορευτική Επιτροπή</a></li>
    <li><a href="#the-mixnet">Η Μίξη των Ψηφοδελτίων</a></li>
    <li><a href="#origins">Οι Καταβολές του Συστήματος
    &laquo;Ζευς&raquo;</a></li>
  </ul>

  <h5><a id="general">Γενικά</a></h5>
  <p>
    Η &laquo;Ψηφιακή Κάλπη Ζεύς&raquo; είναι ένα πληροφοριακό σύστημα για την
    αδιάβλητη διεξαγωγή απόρρητων ψηφοφοριών με αμιγώς ηλεκτρονικό
    τρόπο. Τόσο η προετοιμασία της ψηφοφορίας από τη διεξάγουσα αρχή, όσο
    και η υποβολή της ψήφου από τους ψηφοφόρους, γίνονται απομακρυσμένα
    μέσω Διαδικτύου. 
  </p>
  <p>
    Η διαδικασία ψηφοφορίας, επιγραμματικά:
    <ul class="disc">
      <li>Η διεξάγουσα αρχή συντάσσει τα ψηφοδέλτια και τη λίστα των
        ψηφοφόρων και ορίζει την εφορευτική επιτροπή. Η λίστα των
        ψηφοφόρων αποτελείται από τα ονοματεπώνυμά τους και την
        ηλεκτρονική τους διεύθυνση.</li>
      <li>Οι ψηφοφόροι λαμβάνουν στην ηλεκτρονική τους διεύθυνση
      μήνυμα με το οποίο καλούνται να ψηφίσουν. Το μήνυμα περιέχει
      σύνδεσμο (link) που οδηγεί στο ψηφιακό παραπέτασμα μέσα στο οποίο
      προετοιμάζεται η ψήφος. Το παραπέτασμα θα ενεργοποιηθεί όταν
      η εφορευτική επιτροπή εκκινήσει την ψηφοφορία.
      <li>Η εφορευτική επιτροπή εκκινεί και στο τέλος λήγει την
        ψηφοφορία.</li>
      <li>Οι ψηφοφόροι ψηφίζουν εντός του ορισμένου χρονικού
      διαστήματος, και λαμβάνουν ψηφιακή απόδειξη της συμμετοχής τους.
      </li>
      <li>
      Με το πέρας της ψηφοφορίας, η εφορευτική επιτροπή δίνει την
      εντολή για την αυτόματη κατάμετρηση των ψηφοδελτίων.</li>
    </ul>
  </p>
  <p>Η επικοινωνία των αρχών και των ψηφοφόρων με το πληροφοριακό
    σύστημα &laquo;Ζεύς&raquo; γίνεται μέσω ενός απλού προγράμματος
    περιήγησης του Παγκόσμιου Ιστού (web browser), ενώ προστατεύεται
    όπως ακριβώς και οι οικονομικές συναλλαγές μέσω Διαδικτύου.</p>
  <p>Η ακεραιότητα της ψηφοφορίας είναι μαθηματικά επαληθεύσιμη από
     τον καθένα μέσω της χρήσης κρυπτογραφίας, και χωρίς καμία προσβολή
     του απόρρητου.</p>
  <p>Το απόρρητο της ψήφου είναι ευθύνη της εφορευτικής επιτροπής,
   και είναι πρατικά εξασφαλισμένο καθώς αρκεί να υπάρχει ένα
   και μόνο τίμιο μέλος στην επιτροπή.</p>

  <h5><a id="the-voter">Ο Ψηφοφόρος</a></h5>
  <p>Ο ψηφοφόρος λαμβάνει μήνυμα στο ηλεκτρονικό του ταχυδρομείο όταν
     η ψηφοφορία είναι έτοιμη να αρχίσει. Το μήνυμα τον πληροφορεί
     για την ακριβή ημερομηνία και ώρα έναρξης και λήξης της
     ψηφοφορίας. Για κάθε αλλαγή που γίνεται λαμβάνει και νέο μήνυμα.
  </p>
  <p>Στο μήνυμα περιέχεται ένας <b>προσωπικός και απόρρητος σύνδεσμος</b>
     στον ιστότοπο του συστήματος &laquo;Ζεύς&raquo;. Η διαδικασία
     υποβολής της ψήφου ξεκινά ακολουθώντας το σύνδεσμο αυτό, εφόσον
     βέβαια η ψηφοφορία βρίσκεται ήδη σε εξέλιξη. Διαφορετικά ο
     ψηφοφόρος ενημερώνεται αναλόγως.</p>
  <p>Στην οθόνη του ψηφοφόρου εμφανίζεται ένα εισαγωγικό σημείωμα που
     περιγράφει τη διαδικασία υποβολής ψήφου. Η διαδικασία αποτελείται
     από δύο βήματα, την <b>επιλογή των υποψηφίων στο ψηφοδέλτιο</b>,
     και την <b>υποβολή του ψηφοδελτίου.</b></p>
  <p>Στο βήμα της επιλογής, εμφανίζεται στην οθόνη μια αναπαράσταση
     ενός ψηφοδελτίου, καθώς και οι απαραίτητες πληροφορίες και
     οδηγίες. Ο ψηφοφόρος συνθέτει διαδραστικά το ψηφοδέλτιο της
     επιλογής του.</p>
  <p>Όταν ολοκληρώσει τη διαδικασία της επιλογής, ο ψηφοφόρος 
    προχωρά στην υποβολή του ψηφοδελτίου. Το επιλεγμένο ψηφοδέλτιο
    <b>κρυπτογραφείται στον τοπικό υπολογιστή</b> του ψηφοφόρου 
    και στη συνέχεια υποβάλλεται μέσω δικτύου στο σύστημα &laquo;Ζεύς&raquo;.
    Το σύστημα εκδίδει <b>ψηφιακή απόδειξη καταχώρησης της ψήφου</b>
    σε μορφή απλού αρχείου κειμένου, την οποία ο ψηφοφόρος οφείλει
    να φυλάξει, καθώς είναι απαραίτητη για την υποβολή και
    επεξεργασία τυχόν ενστάσεων.</p>

  <h5><a id="the-election-commission">Η Εφορευτική Επιτροπή</a></h5>
  <p>Τα μέλη της εφορευτικής επιτροπής στο σύστημα
     &laquo;Ζεύς&raquo; είναι οι κλειδοκράτορες της ψηφοφορίας.
     Τα μέλη της επιτροπής λαμβάνουν ειδικά κρυπτογραφικά κλειδιά,
     τους <b>Κωδικούς Ψηφοφορίας</b>. <b>Οι κωδικοί αυτοί είναι όλοι απαραίτητοι
     για τη διεξαγωγή της ψηφοφορίας καθώς και για την
     αποκρυπτογράφηση των αποτελεσμάτων.</b> Εάν χαθεί έστω και ένας, η
     ψηφοφορία έχει καταστραφεί. Κάθε μέλος της εφορευτικής επιτροπής
     είναι υπεύθυνο για τη διαφύλαξη ενός Κωδικού, ενώ το σύστημα
     &laquo;Ζεύς&raquo; έχει και αυτό ένα Κωδικό για κάθε ψηφοφορία,
     σαν να ήταν μέλος της επιτροπής.</p>
  <p>Η πρώτη πράξη του κάθε μέλους της επιτροπής είναι να εισέλθει
     στον ιστότοπο της ψηφοφορίας, να παράξει έναν καινούριο Κωδικό
     Ψηφοφορίας, και στη συνέχεια να καταθέσει το δημόσιο τμήμα του
     στο σύστημα &laquo;Ζεύς&raquo;. Η ψηφοφορία μπορεί να αρχίσει
     μόνο όταν όλα τα μέλη της επιτροπής έχουν εκτελέσει και επιβεβαιώσει
     αυτό το βήμα.</p>
  <p>Μετά το πέρας της ψηφοφορίας η αποκρυπτογράφησή των ψηφοδελτίων
    είναι αδύνατη χωρίς όλους τους Κωδικούς Ψηφοφορίας. Κάθε
    μέλος της εφορευτικής επιτροπής συνδέεται με το σύστημα
    &laquo;Ζεύς&raquo; για να παρέχει τα κρυπτογραφικά δεδομένα που
    είναι απαραίτητα για την εξαγωγή των περιεχομένων των
    ψηφοδελτίων. Η παροχή των κρυπτογραφικών δεδομένων δεν
    προσβάλει το απόρρητο της ψηφοφορίας.</p>

  <h5><a id="#the-mixnet">Η Μίξη των Ψηφοδελτίων</a></h5>
  <p>Προκειμένου να διασφαλιστεί το απόρρητο της ψήφου, όταν
    ολοκληρωθεί η διαδικασία της ψηφοφορίας,
    και πριν γίνει η καταμέτρηση των ψήφων,
    παρεμβάλλεται ένα ενδιάμεσο στάδιο <b>μίξης των ψηφοδελτίων.</b>
    Στο στάδιο αυτό τα ήδη κρυπτογραφημένα, από τους ψηφοφόρους,
    ψηφοδέλτια, κρυπτογραφούνται με ειδικό τρόπο εκ νέου από το σύστημα
    &laquo;Ζευς&raquo;, ώστε πλέον να μην είναι αναγνωρίσιμα και
    αναδιατάσσονται τυχαία. Στο τέλος της διαδικασίας μίξης έχουμε ένα
    σύνολο ψηφοδελτίων τα οποία όταν αποκρυπτογραφηθούν θα έχουν τα ίδια
    περιεχόμενα με τα αρχικά, αλλά είναι αδύνατον να τα συνδέσουμε με
    τους χρήστες που τα υπέβαλαν. Με μέριμνα της εφορευτικής επιτροπής,
    υπολογιστές εκτός του συστήματος «Ζεύς» μπορούν να συμμετάσχουν
    στη μίξη χωρίς κίνδυνο αλλοίωσης της διαδικασίας.
    Όπως και με την επιτροπή, αρκεί και μόνο ένας τίμιος συμμέτοχος στη
    μίξη για να εξασφαλιστεί το απόρρητο.</p>

  <h5><a id="#origins">Οι Καταβολές του Συστήματος
      &laquo;Ζευς&raquo;</a>
    <p>
      Το σύστημα &laquo;Ζευς&raquo; βασίζεται στην υλοποίηση
      ηλεκτρονικής ψηφοφορίας όπως περιγράφηκε
      στην <a href="http://static.usenix.org/events/sec08/tech/full_papers/adida/adida.pdf">αρχική
      δημοσίευση</a> του
      συστήματος <a href="http://heliosvoting.org">Helios</a>. Στο
      σύστημα αυτό οι ψηφοφόροι υποβάλλουν κρυπτογραφημένα ψηφοδέλτια
      τα οποία ανακατεύονται ώστε να διατηρείται η ανωνυμία των
      ψηφοφόρων, αλληλουχία που αποτελεί τη βάση του συστήματος
      &laquo;Ζευς&raquo;. Σε μεταγενέστερες υλοποιήσεις του Helios,
      όπως και στη σημερινή υλοποίησή του, εγκαταλήφθηκε αυτή η
      προσέγγιση και παραλήφθηκε ο στάδιο της ανάμιξης των
      ψηφοδελτίων, καθώς αυτό δεν είναι απαραίτητο σε περιπτώσεις όπου
      δεν απαιτείται καν η αποκρυπτογράφηση των ψηφοδελτίων για την
      εξαγωγή των αποτελεσμάτων. Τέτοιες περιπτώσεις είναι για οι
      εκλογές αναμετρήσεις όπου οι ψηφοφόροι επιλέγουν υποψήφιους (για
      παράδειγμα με σταυρό) και εκλέγονται οι ψηφοφόροι με το
      μεγαλύτερο αριθμό σταυρών (approval voting). Τότε η εξαγωγή των
      αποτελεσμάτων μπορεί να γίνει με κρυπτογραφικές (ομομορφικές)
      πράξεις πάνω στα κρυπτογραφημένα ψηφοδέλτια. Αυτό δεν είναι
      δυνατόν στις περιπτώσεις που απαιτείται γνώση της πλήρους δομής
      του ψηφοδελτίου και όχι των ανεξάρτητων επιλογών σε αυτό, όπως
      για παράδειγμα στο σύστημα της ταξινομικής ψήφου
      (<a href="http://en.wikipedia.org/wiki/Single_transferable_vote">Single
      Transferable Vote</a>).
    </p>



</div>

</div>
{% endblock %}
