{% extends "server_ui/templates/base.html" %}

{% block tabs_menu %}

{% if bad_login %}
<div class="panel alert-box alert error">
  <p>
    Invalid link.
  
    <br /><br />
    Please confirm you follow the link sent to you by email.
    If the problem persists, contact the election authorities.
    </p>
  </div>
  <br /><Br />
{% endif %}

{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block page_top %}
{% include "zeus/intro_announcements.html" %}
{{ block.super }}
{% endblock %}

{% block content %}
<div class="row">
<div class="columns twelve">
    <h4>Zeus Electronic Voting</h4>
    
    Hold elections with one or more polls.

    An election is managed with an election administrator account, and the
    process requires a small committee of trustees to independently hold the
    elections cryptographic keys.

    Each poll in an election has its own ballot, voters, but are all
    managed by the same administrator and trustees.

    There is also an option to conduct a poll with a party lists ballot.

  <h4><a href="{{settings.SECURE_URL_HOST}}{% url login %}">Election admins login here</a></h4>
  <br />

</div>

</div>
{% endblock %}
