{% extends "server_ui/templates/base.html" %}

{% block tabs_menu %}
{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
    <h4>Υλικό</h4>
    <ul>
      <li><a href="/static/docs/election_admin">Οδηγίες</a> για τη
      διαχείριση εκλογών μέσω του συστήματος Ζευς</li>
      <li>Σύντομη <a href="/static/presentations/zeus_election_setup.pdf">παρουσίαση</a> για την προετοιμασία εκλογών μέσω του συστήματος Ζευς</li>
      <li>Σύντομη <a href="/static/presentations/zeus_election_close.pdf">παρουσίαση</a> για τη διαδικασία λήξης ψηφοφορίας μέσω του συστήματος Ζευς</li>
      <li><a href="/statis/docs/government_gazette_evoting.pdf">Φύλλο Εφημερίδας της Κυβέρνησης</a> για την ηλεκτρονική ψήφο με το σύστημα Ζευς</li>
      <li>Το σύστημα <a href="http://heliosvoting.org">Helios</a>, στο οποίο βασίζεται το σύστημα &laquo;Ζευς&raquo;</li> 
      <li>Η <a href="http://static.usenix.org/events/sec08/tech/full_papers/adida/adida.pdf">αρχική
      δημοσίεση</a> του συστήματος Helios</li>
      <li>Ο <a href="https://github.com/grnet/zeus">πηγαίος κώδικας
      του συστήματος Ζευς</a></li>
    </ul>
  </div>
</div>
{% endblock %}
