{% extends "server_ui/templates/base.html" %}

{% block tabs_menu %}
<dd id="" class="{% if menu_active == "home" %}active{% endif %}"><a
  href="/">Αρχική σελίδα</a></dd>
<dd id="" class="{% if menu_active == "faq" %}active{% endif %}"><a 
  href="{% url zeus.views.faqs %}">Συχνές ερωτήσεις</a></dd>
<dd id="" class="{% if menu_active == "resources" %}active{% endif %}"><a 
  href="{% url zeus.views.resources %}">Υλικό</a></dd>
{% endblock %}

{% block content %}
<div class="row">
<div class="columns twelve">
  <h4>Υλικό</h4>
  <ul>
    <li><a href="#">Zeus presentation</a></li>
    <li><a href="#">Zeus press</a></li>
  </ul>
</div>
{% endblock %}
