{% extends "server_ui/templates/base.html" %}
{% load i18n %}

{% block tabs_menu %}
{% include "zeus/_menu_partial.html" %}
{% endblock %}

{% block extra-head %}
{{ block.super }}
<script src="/static/zeus/javascripts/d3.v2.min.js"></script>
<script src="/static/zeus/javascripts/election_stats.js"></script>
<script src="/static/zeus/javascripts/stats/voters.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="columns twelve">
    <div href="#" class="small button split dropdown">
        <a href="#">{% trans "Choose election" %}</a>
        <span></span>
        <ul class="election-stats-list">
          {% for election in elections %}
          <li>
          <a href="{% url zeus.views.site.stats %}?uuid={{ election.uuid }}">{{ election.institution.name }}
          {% if user.is_admin %}
          ({{ election.casts.distinct_voter.countable.count }} / {{ election.voters.count }})
          {% endif %}
          </a>
          <a style="font-size: 0.8em; color:#aaa; padding-top:0" href="{% url zeus.views.site.stats %}?uuid={{ election.uuid }}">
            {{ election.name }}
          </a>
          </li>
          {% endfor %}
      </ul>
    </div>
  </div>
  <div class="columns twelve election-public-stats">
    {% include "election_public_stats.html" %}
  </div>
</div>
{% endblock %}
