.small-logo {
  height: 15px;
}

.big-logo {
  height: 25px;
}

.top-bar.trustee {
  background: #f7941e;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #f7941e;
}

#footer {
  width: 100%;
  border-top: 1px solid black;
  padding: 5px;
  background: #ddd;
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
}

.footer, .push {
  height: 2em;
}

input[type="checkbox"] {
  margin: 15px 0 0 0;
}

input[type="file"] {
  margin: 10px 0 0 0;
}

select {
  width: auto;
}

.alert-box b {
  padding-right: 5px;
}

.panel .no-margin {
  margin-bottom: 0;
}

.panel p {
  margin-bottom: 5px;
}

.panel.callout a.button {
  color: #fff;
}

.panel.callout a.button.secondary {
  color: #000;
}

.panel.callout dl dd:last-of-type {
  margin-bottom: 0;
}

table {
  width: 100%;
}

i.spacer {
  padding-left: 10px;
}

tt {
  font-weight: bold;
}

tt.big {
  font-size: 1.8em;
}

ul {
    margin-left: 20px;
}

p {
  text-align: justify;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

li s {
  color: #666;
}

.breadcrumbs > *:before {
  content: "";
  margin: 0;
  top: 0;
}

.breadcrumbs {
  overflow: hidden;
}

.breadcrumbs li {
  float: left;
}

.breadcrumbs li a {
  padding-left: 50px;
  position: relative;
  display: block;
  float: left;
}

.breadcrumbs li a:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #f4f4f4;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}

.breadcrumbs li a:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid gainsboro;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 1px;
  left: 100%;
  z-index: 1;
}

.breadcrumbs li:first-child a {
  padding-left: 0;
}

.breadcrumbs li:last-child a:before {
  border: 0;
}

.breadcrumbs li:last-child a:after {
  border: 0;
}