{% extends TEMPLATE_BASE %}

{% block content %}

  <h2 class="title">{{election.name}} &mdash; Extend Voting <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">cancel</a>]</span></h2>
  
  <form class="prettyform" action="" method="POST" id="edit_election_form">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <table class="pretty">
     {{election_form.as_table}}
     </table>
  <div>
  <label for="">&nbsp;</label><input type="submit" value="Extend Voting" id="update_button" />
  </div>
  </form>

{% endblock %}
