<form onsubmit="return false;" class="prettyform" id="answer_form">
  <input type="hidden" name="question_num" value="{$T.question_num}" />

  <p>
    <b>{$T.question.question}</b>
    <br />
    <span style="font-size: 0.6em;">
      #{$T.question_num + 1} <span data-localize="question_of">of</span> {$T.last_question_num + 1}
      &mdash;
      <span data-localize="question_choose_pre">You can choose</span>
      {#if $T.question.min && $T.question.min > 0}
        {#if $T.question.max}
          {$T.question.min} <span data-localize="question_to">to</span> {$T.question.max} <span data-localize="question_answers">answers</span>
        {#else}
        <span data-localize="question_at_least">at least</span> {$T.question.min} <span data-localize="question_answer">answer</span>
        {#/if}
      {#else}
        {#if $T.question.max}
          {#if $T.question.max > 1}<span data-localize="question_up_to">up to</span> {#/if}{$T.question.max} {#if $T.question.max > 1}<span data-localize="question_answers">answers</span>{#else}<span data-localize="question_answer">answer</span>{#/if}
        {#else}
          <span data-localize="question_approve">as many answers as you approve of</span>
        {#/if}
      {#/if}
      <span data-localize="question_choose_post"></span>
    </span>
  </p>

  {#foreach $T.question.answers as answer}
    <div id="answer_label_{$T.question_num}_{$T.answer_ordering[$T.answer$index]}"><input type="checkbox" class="ballot_answer" id="answer_{$T.question_num}_{$T.answer_ordering[$T.answer$index]}" name="answer_{$T.question_num}_{$T.answer_ordering[$T.answer$index]}" value="yes" onclick="BOOTH.click_checkbox({$T.question_num}, {$T.answer_ordering[$T.answer$index]}, this.checked);"/> {$T.question.answers[$T.answer_ordering[$T.answer$index]]}

      {#if $T.question.answer_urls && $T.question.answer_urls[$T.answer_ordering[$T.answer$index]] && $T.question.answer_urls[$T.answer_ordering[$T.answer$index]] != ""}
        <span style="font-size: 12pt;">
          [<a target="_blank" href="{$T.question.answer_urls[$T.answer_ordering[$T.answer$index]]}" data-localize="question_more_info">More Info</a>]
        </span>
      {#/if}
    </div>
  {#/for}

  <div id="warning_box" style="color: green; text-align: center; font-size: 0.8em; padding-top: 10px; padding-bottom: 10px; display: none;" data-localize="question_warning">
    Maximum number of options selected.<br />To change your selection, please de-select a current selection first.
  </div>

  {#if $T.show_reviewall}
    <div style="float: right;">
      <button onclick="BOOTH.validate_and_confirm({$T.question_num});" data-localize="question_encrypt">Encrypt</button>
    </div>
  {#/if}

  {#if $T.question_num != 0}
    <button onclick="BOOTH.previous({$T.question_num})" data-localize="question_previous">Previous</button>
    &nbsp;
  {#/if}

  {#if $T.question_num < $T.last_question_num}
    <button onclick="BOOTH.next({$T.question_num})" data-localize="question_next">Next</button>
    &nbsp;
  {#/if}

  <br clear="both" />
</form>
