{% extends 'server_ui/templates/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block content %}
    <div class="row">
        <div class="col-sm-2 col-lg-2">
            {% include "left_side_menu.html" %}
        </div>
        <div id="content" class="col-lg-10 col-sm-10">
         {% block subcontent %}
            <div class="panel panel-primary">
                <div class="panel-heading">{% trans "Institution details" %}</div>
                <div class="panel-body">
                    <p>{% trans "Name:" %} {{ institution.name }}</p>
                    <p>{% trans "Short name:" %} {{ institution.short_name }}</p>
                    <p>{% trans "Main phone:" %} {{ institution.main_phone }}</p>
                    <p>{% trans "Address:" %} {{ institution.address }}</p>
                    <p><a class="btn btn-default" href="#" role="button">{% trans "Edit" %}</a></p>
                </div>
            </div>
         {% endblock subcontent %}
        </div>
    </div>

{% endblock content %}
