{% load i18n %}

<div class="col-md-6">
            <table class="table table-condensed table-striped table-bordered">
            <thead>
            <tr>
              <td>{% trans "Institution" %}</td>
              <td>{% trans "New" %}</td>
              <td>{% trans "In progress" %}</td>
              <td>{% trans "Done" %}</td>
            </tr>
            </thead>
            <tbody>
            {% for institution in sliced_institutions %}
	            <tr>
	              <td>{{ institution.name }}</td>
	              <td>{% if institution.elections_new|length > 0 %}<a href="#" class="get-filtered" data-url="{% url "heliosinstitution.views.new_elections" institution.pk %}" data-toggle="modal" data-target="#elections_list">{% endif %}{{ institution.elections_new|length }}</a></td>
	              <td><a href="#">{{ institution.elections_in_progress|length }}</a></td>
	              <td><a href="#">{{ institution.elections_done|length }}</a></td>
	            </tr>
            {% endfor %}
            </tbody>
    </table>
</div>