{% load i18n %}
<h3>{% trans "Users with roles in your institution" %}</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>{% trans "User" %}</th>
      <th>{% trans "E-mail" %}</th>
      <th>{% trans "Role" %}</th>
      <th>{% trans "Active" %}</th>
      <th>{% trans "Expires at" %}</th>
      <th>{% trans "Action" %}</th>
   </tr>
  </thead>
  <tbody>
    {% for user in institution.institution_users %}
    <tr>
      <td>{{ user.user }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.role }}</td>
      <td>{{ user.active }}</td>
      <td>{{ user.expires_at }}</td>
      <td></td>
    </tr>
    {% endfor %}
 </tbody>
</table>
