<ul class="nav nav-pills nav-stacked main-menu">
    <li><a class="ajax-link" href="{% url "heliosinstitution.views.dashboard" %}"><i class="glyphicon glyphicon-home"></i><span> Home</span></a> </li>
    <li><a class="ajax-link" href="{% url "heliosinstitution.views.manage_users" %}"><i class="glyphicon glyphicon-user"></i><span> Manage Users</span></a></li>
    <li><a class="ajax-link" href="{% url "heliosinstitution.views.stats" %}"><i class="glyphicon glyphicon-list-alt"></i><span> Statistics</span></a></li>
    <li><a class="ajax-link" href="{% url "heliosinstitution.views.admin_actions" %}"><i class="glyphicon glyphicon-eye-open"></i><span> Logs</span></a></li>
</ul>
