{% extends 'server_ui/templates/base.html' %}
{% load i18n %}
{% load staticfiles %}
{% block extra-head %}
    <script language="javascript" src="{% static "js/institution.js" %}"></script>
{% endblock %}
{% block content %}

{% if user %}
    <div id="institution_users" data-url={% url "heliosinstitution.views.users" %}>
        {% include "institution_users.html" %} 
    </div>
    <div class="div_form well">
        {% trans "Delegate Institution Admin" %}
        <form class="form form-inline" method="POST" action="{% url "heliosinstitution.views.delegate_institution_admin" institution.id %}">
            <div class="form-group">
                <label class="sr-only" for="inst-mngt-email">{% trans "Email address" %}</label>
                <input type="email" class="form-control" name="email" placeholder="{% trans "Enter email" %}" required>
                <span id="add_inst_mngt_email_result"></span>
            </div>
            <button id="add_inst_mngt_email" type="submit" class="btn btn-primary">{% trans "Add" %}</button>
        </form>
        <span class="add_field_result help-block"></span>
    </div>
    <div class="div_form well">
        {% trans "Add new Election Admin" %}
        <form class="form form-inline" method="POST" action="{% url "heliosinstitution.views.delegate_election_admin" institution.id %} ">
            <div class="form-group">
                <label class="sr-only" for="election-mngt-email">{% trans "Email address" %}</label>
                <input type="email" class="form-control" name="email" placeholder="{% trans "Enter email" %}" required>
            </div>
            <button id="add_election_mngt_email" type="submit" class="btn btn-primary">{% trans "Add" %}</button>
        </form>
        <span class="add_field_result help-block"></span>
    </div>

{% else %}
    {% include "login_box.html" %}
{% endif %}

{% endblock %}
