{% extends "helios/templates/cryptobase.html" %}
{% block content %}
<script language="javascript">

var PUBLIC_KEY_ENC, PROOF_ENC, PUBLIC_KEY_SIGN, PROOF_SIGN;

function clear_keys() {
    $('#sk_download').hide();
    $('#pk_form').hide();
    $('#buttons').show();
    $('#clear_button').hide();
    $('#reuse').hide();
}

function show_key_reuse() {
    $('#generator').hide();
    $('#reuse').show();
}

SECRET_KEY_ENC = null;
SECRET_KEY_SIGN= null;

function reuse_key(secret_key_text) {
    SECRET_KEY = ElGamal.SecretKey.fromJSONObject(jQuery.secureEvalJSON(secret_key_text));

    $('#reuse').hide();
    setup_public_key_and_proof();
    show_pk();
}

// start collecting some local randomness
sjcl.random.startCollectors();

$(document).ready(function() {
    clear_keys();
    $('#generator').hide();

    // get some more server-side randomness for keygen
    $.getJSON('/helios/get-randomness', function(result) {
       sjcl.random.addEntropy(result.randomness);
       BigInt.setup(function() {
          ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
          $('#waiting_message').hide();
          $('#generator').show();
       });
    });
});


function generate_keypair() {
    $('#buttons').hide();
    
    try {
        SECRET_KEY_ENC = ELGAMAL_PARAMS.generate();
        SECRET_KEY_SIGN= ELGAMAL_PARAMS.generate();
    } catch (e) {
        alert(e);
    }

    setup_public_key_and_proof();
}

function setup_public_key_and_proof() {    
    // generate PoK of secret key
    PROOF_ENC = SECRET_KEY_ENC.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
    PUBLIC_KEY_ENC = SECRET_KEY_ENC.pk;
    PROOF_SIGN = SECRET_KEY_SIGN.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
    PUBLIC_KEY_SIGN = SECRET_KEY_SIGN.pk;

    var pk_val_enc = jQuery.toJSON({'pok': PROOF_ENC, 'public_key': PUBLIC_KEY_ENC});
    var pk_val_sign = jQuery.toJSON({'pok': PROOF_SIGN, 'public_key': PUBLIC_KEY_SIGN});
    $('#pk_textarea_enc').val(pk_val_enc);
    $('#pk_textarea_sign').val(pk_val_sign);

    $('#pk_hash_enc').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY_ENC)));
    $('#pk_hash_sign').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY_SIGN)));
    $('#clear_button').show();
    show_sk();
}

function show_sk() {
    $('#sk_download').show();
}

function download_sk_enc() {
    var blob = new Blob([jQuery.toJSON(SECRET_KEY_ENC)], {type: 'application/json'});
    var url = URL.createObjectURL(blob);

    saveAs(blob, 'encryption_key.json');
}
function download_sk_sign() {
    var blob = new Blob([jQuery.toJSON(SECRET_KEY_SIGN)], {type: 'application/json'});
    var url = URL.createObjectURL(blob);

    saveAs(blob, 'signing_key.json');
}

function show_pk() {
    $('#sk_download').hide();
    $('#name').show();
    $('#email').show();

    $('#pk_hash_enc').show();
    $('#pk_hash_sign').show();

    $('#pk_form').show();
}

</script>

<h2 class="title">Public Keygenerator </h2>

<p>
  Here you can setup a keypair with the correct systemparameters. This keypair can be used for as a communication key on the bulletin board.
</p>

<p id="waiting_message">
  Please wait for the generator to load...
</p>

<p id="generator">

<span id="buttons"><button onclick="generate_keypair(); return false;" id="generate_button">Generate Election Keys</button></span>

</p>

<div id="sk_download">
<h3>Your Secret Key</h3>
<span id="clear_button">
Your key has been generated, but you may choose to<br /><a href="javascript:clear_keys();">clear it from memory and start from scratch</a> if you prefer.<br />
</span>

<p>
    <button style="font-size:16pt;" onclick="download_sk_enc(); $('#pk_link').show();">Save your secret key for encryption</button>
</p>
<p>
    <button style="font-size:16pt;" onclick="download_sk_sign(); $('#pk_link').show();">Save your secret key for signing</button>
</p>

<p style="display: none;" id="pk_link">
  <a href="javascript:show_pk();">ok, I've saved the key, let's move on</a>.
</p>
</div>

<form method="post" id="pk_form" action="">
<h3>Your Public Key</h3>
<p>
    It's time to upload the public key to the server.
</p>
<p>
    The fingerprint of your public key for encryption is: <tt id="pk_hash_enc" style="font-size: 1.5em; font-weight: bold;"></tt>.<br />
    The fingerprint of your public key for signing is: <tt id="pk_hash_sign" style="font-size: 1.5em; font-weight: bold;"></tt>.<br />
    You may want to save this to confirm that your public key was properly stored by the server.<br />
    (Your public key is not currently being displayed because you do not need to save it, the fingerprint is sufficient.)
</p>
Name: <textarea id="name" name="name" cols="30" rows="1" style="display:none;">
</textarea><br>
Email: <textarea id="email" name="email" cols="50" rows="1" style="display:none;">
</textarea><br>
<textarea id="pk_textarea_enc" name="public_key_json_enc" cols="80" rows="10" style="display:none;">
</textarea>
<textarea id="pk_textarea_sign" name="public_key_json_sign" cols="80" rows="10" style="display:none;">
</textarea>
<input type="submit" value="Upload your public key">
</form>
<div id="applet_div"></div>
<br /><br />
{% endblock %}
