
{% extends "helios/templates/cryptobase.html" %}

{% block title %}Bulletin Board {% endblock %}

{% block content %}
  <h2 class="title">Encrypted Shares <span style="font-size:0.7em;">[<a href="/bulletin_board/">back to Bulletin Board</a>]</span></h2>

<p>
   Choose an election
</p>

{% if election_list %}
    <ul>
    {% for el in election_list %}
        <li>{{el.id}}. <a href="{{el.id}}/">{{el.name}}</a> </\a> </li>    {% endfor %}
    </ul>
{% else %}
    <p>There are no open elections at the moment.</p>
{% endif %}	
{% endblock %}
