
{% extends "helios/templates/cryptobase.html" %}

{% block title %}Define Threshold Scheme {% endblock %}

{% block content %}
  <h2 class="title">Bulletin Board &mdash; Define Threshold Scheme <span style="font-size:0.7em;">[<a href="/bulletin_board">Back to Bulletin Board</a>]</span></h2>

<p>
       There are {{n}} trustees for the election {{election.name}} <br>
       Define k as the number of trustees needed to decrypt the tally

</p>
 
<body>
    <form action="" method="post">
        <li>k: <input type="integer" name="k"></li> (input a number between 1 and {{n}})

        <input type="submit" value="Submit">
    </form>
</body>

<p>
<a href="../">Back</a>
</p>



{% endblock %}
