{% extends "helios/templates/cryptobase.html" %}

{% block title %}Bulletin Board {% endblock %}

{% block content %}
  <h2 class="title">Bulletin Board &mdash; Communication Keys <span style="font-size:0.7em;">[<a href="/bulletin_board">back to Bulletin Board</a>]</span></h2>

<p>
    Trustees are responsible for decrypting the election result.<br />
    Each trustee generates a keypair and submits the public portion to Helios.<br />
    When it's time to decrypt, each trustee needs to provide his secret key.
</p>

{% if key_list %}
    <ul>
    {% for key in key_list %}
        <li>{{key.id}}. {{key.name}}, {{key.email}}  <br>&mdash; {{key.public_key_encrypt_hash}} &mdash; {{key.public_key_signing_hash}} <br><a href="{{key.id}}/public_key_encrypt/">Public Key Encrypt</a>  <a href="{{key.id}}/public_key_signing/">Public Key Signing</a>  <a href="{{key.id}}/pok_encrypt/"> Pok Encrypt</a>  <a href="{{key.id}}/pok_signing/">Pok Signing</a> </\a> </li>    {% endfor %}
    </ul>
{% else %}
    <p>No uploaded keys are available.</p>
{% endif %}

<p>
<a href="/bulletin_board/publickeygenerator">Add a public key</a>
</p>


	
{% endblock %}




