{% extends TEMPLATE_BASE %}
{% block title %}Bulletin Board{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>Bulletin Board <small>[<a href="/">Back</a>]</small></h2>

      <p>
        Trustees are responsible for decrypting the election result. Each trustee generates a keypair and submits the public portion to Helios. When it's time to decrypt, each trustee needs to provide his secret key.
      </p>

      <ul>
        <li><a href="communication_keys/view/">Communication Keys</a></li>
        <li><a href="/bulletin_board/elections/">Encrypted Shares</a></li>
      </ul>
    </div>
  </div>
{% endblock %}
