{% extends "bulletin_board/templates/bulletin_board/cryptobase.html" %}

{% block title %}Available trustees for {{election.name}}{% endblock %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Available trustees </h2>

<p>
    Choose one of the trustees listed below. Only trustees for which communication keys are uploaded can be chosen.
    To add more communication keys go to the  <a href="/bulletin_board/">bulletin board</a></\a>.
</p>



{% if key_list %}
    <ul>
    {% for key in key_list %}
        <li>{{key.id}}. {{key.name}} {{key.email}}  <a href="{{key.id}}/">Select</a></\a> </li>    {% endfor %}
    </ul>
{% else %}
    <p>No uploaded keys are available.</p>
{% endif %}

<p>
<a href="{% url helios.views.trustees_list_view election.uuid %}">Back</a></p>


{% endblock %}
