{% extends TEMPLATE_BASE %}

{% block js %}
<script src="https://login.persona.org/include.js"></script>
<script>
navigator.id.watch({
  loggedInUser: null,
  onlogin: function(assertion) {
    if (assertion) {
      $('#assertion_field').val(assertion);
      $('#login_form').submit();
    }
  },
  onlogout: function() {
  }
});
</script>
{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }} &mdash; Login</h2>
{% endblock %}


{% block content %}

{% if error %}
<p style="border: 1px solid black; padding: 5px;">
    {{error}}
</p>
{% endif %}

<p>
As a first step, you need to log in with an email address you own.
</p>

<p>
<a href="javascript:navigator.id.request();">
<img src="/static/auth/login-icons/persona.png" /></a>
</p>

<p>
<form class="prettyform" action="" method="POST" id="login_form">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    <input type="hidden" name="assertion" id="assertion_field" />
</form>
</p>
{% endblock %}
