<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
    rel="stylesheet">
  
     <style>
       /* Move down content because we have a fixed navbar that is 50px tall */
      body {
        padding-top: 50px;
        padding-bottom: 20px;
      }
      .simplepage {
       padding: 40px;
      }
      .firstpage {
        margin: -40px;
      }
    </style>
{% if settings.DEBUG %}  
  <script src="/static/foundation/js/vendor/custom.modernizr.js"></script>
  <script language="javascript" src="/static/helios/js/jquery-1.4.2.min.js"></script>
  <script language="javascript" src="/static/helios/js/jquery-ui-1.8.1.custom.min.js"></script>
  <script language="javascript" src="/static/helios/js/jqsplitdatetime.js"></script>
  <script language="javascript" src="/static/helios/helios/jquery.json.min.js"></script>
{% else %}
<script language="javascript" src="/static/20140302-helios-combined.js"></script>
{% endif %}
  
  {% block js %}
  {% endblock %}
  
  {% block extra-head %}{% endblock %}
</head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{{settings.SITE_TITLE}}</a>
        </div>
        <div class="navbar-collapse in" style="height: auto;">
          <ul class="nav navbar-nav">
{% if settings.MASTER_HELIOS %}
            <li class="active">
              <a href="/about">About</a>
            </li>
            <li>
              <a target="_new" href="https://github.com/benadida/helios-server">Code</a>
            </li>
            <li>
              <a href="/docs">Docs</a>
            </li>
            <li>
              <a href="/faq">FAQ</a>
            </li>
            <li>
              <a href="/privacy">Privacy</a>
            </li>
{% endif %}
            <li>
              <a href="mailto:{{settings.HELP_EMAIL_ADDRESS}}">Help</a>
            </li>
          </ul>
            <div class="form-group navbar-right">
              <ul class="nav navbar-nav">
{% if not settings.MASTER_HELIOS %}
	              <li><a href="http://heliosvoting.org">About Helios</a></li>
{% endif %}
{% if user %}
{% if user.admin_p %}
	              <li><a href="{% url "helios.stats_views.home" %}">Admin</a></li>
{% endif %}
                <li><a href="#">{{ user.name }}</a></li>
{% else %}
{% if settings.SHOW_LOGIN_OPTIONS %}
                <li class="active">
                  <a href="{% url "helios_auth.views.index" %}">Log In</a>
                </li>
{% endif %}
{% endif %}
              </ul>
            </div>
            <div class="form-group">
            </div>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
<div class="simplepage">
      {% block content %}{% endblock %}
</div>
    </div>
    <!-- /container -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
    </script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js">
    </script>
  </body>

</html>




