{% load i18n %}<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="el"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="el"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="el"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="el"> <!--<![endif]-->
<head>
    <title>{% block title %}{% endblock %} Ηλεκτρονική κάλπη "Ζευς"</title>
    <meta charset="utf-8">

    <!--[if lt IE 8]>
    <link href="/static/zeus/stylesheets/general_foundicons_ie7.css" media="screen" rel="stylesheet" type="text/css" />
    <![endif]-->
    <!--foundation styles and js-->
    <link rel="shortcut icon" href="/static/zeus/favicon.ico">
    <link rel="stylesheet" href="/static/zeus/stylesheets/app.css?20122410">
    <link rel="stylesheet" href="/static/zeus/stylesheets/general_foundicons.css">
    <link rel="stylesheet" href="/static/zeus/stylesheets/ui-lightness/jquery-ui-1.8.23.custom.css">
    <script src="/static/zeus/javascripts/foundation/modernizr.foundation.js"></script>
    <script src="/static/zeus/javascripts/foundation/jquery.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Didact+Gothic&subset=latin,greek' rel='stylesheet' type='text/css'>

    {% block css %}
    {% endblock %}

    <script language="javascript" src="/static/zeus/javascripts/jquery.json.min.js"></script>
    <script src="/static/zeus/javascripts/foundation/jquery.foundation.reveal.js"></script>
    <script src="/static/zeus/javascripts/foundation/jquery.foundation.forms.js"></script>
    <script src="/static/zeus/javascripts/foundation/jquery.foundation.buttons.js"></script>
    <script src="/static/zeus/javascripts/foundation/jquery.foundation.tabs.js"></script>
    <script src="/static/zeus/javascripts/foundation/jquery.foundation.navigation.js"></script>
    <script src="/static/zeus/javascripts/jquery-ui-1.8.23.custom.min.js"></script>

    {% block js %}
    {% endblock %}

    {% block extra-head %}{% endblock %}
    <script>
      $(document).ready(function(){
        $(document).foundationCustomForms();
        $(document).foundationButtons();
        $(document).foundationTabs();
        $(document).foundationNavigation();
      });
    </script>
  </head>

  <body class="admin {% block page_css %}{% endblock %}">

    
    <div class="bg-wrapper">
        <div id="wrapper" class="row">
                <div class="twelve columns header">
            {% if election %}
            <a href="{% url election_index election.uuid %}">
                {% else %}
                <a href="{% url home %}">
                    {% endif %}
                <img src="/static/zeus/images/logo_bg.jpg" />
            </a>
            <div id="banner">
                <h1>{% trans "Zeus E-voting platoform" %}</h1>
            </div>
            {% include "user_section.html" %}
            {% block head_subtitle %}
            {% endblock %}
        </div>
      </div>

      <div id="page" class="row">
        <div class="columns twelve">
          <div id="progress_div">
            {% block page_top %}
            <dl class="tabs">
              {% block tabs_menu %}{% endblock %}
            </dl>
            {% block extra_menu %}
                {% include "_election_poll_admin_actions.html" %}
            {% endblock %}
            {% endblock %}
            {% if messages %}
            <div class="messages">
              {% for message in messages %}
              <div class="label medium success">{{ message }}</div>
              {% endfor %}
            </div>
            {% endif %}
          </div>
          <div id="contentbody">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
      <div id="footer" class="row">
        <div class="columns twelve">
          <span style="float:right;">
            {% if settings.FOOTER_LOGO %}
            <img src="/static/footer-logo.gif" />
            {% endif %}
          </span>
          {% if user and user.is_admin %}
          Έχετε συνδεθεί ως διαχειριστής εκλογών: {{ user.display_html_small|safe }}
          <a href="{% url logout %}">έξοδος</a> |
          <a href="/admin/">διαχείριση</a> 
              {% if user.user_type == "password" %}
              | <a href="{% url heliosauth.views.change_password %}">αλλαγή κωδικού</a>
              {% endif %}
              <br />

          {% else %}
          {% if voter %}
          Έχετε συνδεθεί ως ο ψηφοφόρος <u>{{ voter.voter_surname }} {{voter.voter_name}}</u> της ψηφοφορίας 
          <u>{{voter.election.name}}</u> | 
          <a onclick="return confirm('Είστε σίγουρος οτι θέλετε να αποσυνδεθείτε;')"
            href="{{settings.SECURE_URL_HOST}}{% url logout %}">έξοδος</a>
          {% else %}
          {% if trustee %}
          Έχετε συνδεθεί ως μέλος της εφορευτικής <u>{{trustee.name}}</u> της
          ψηφοφορίας  <u>{{ election.name }}</u>
          <a href="{{settings.SECURE_URL_HOST}}{% url logout %}">έξοδος</a>
          {% else %}
          <a href="{{settings.SECURE_URL_HOST}}{% url login %}">Σύνδεση</a>
          {% endif %}
          {% endif %}
          <br />
          {% endif %}
    </div>
</div>
    </div>
    </div>
    {% block reveals %}
    {% endblock %}
</body>
</html>
