{% extends 'server_ui/templates/base.html' %}
{% load i18n %}
{% block title %}{% trans "Confirm Vote" %}{% endblock %}

{% block content %}
<script language="javascript">
  $(document).ready(function () {
    $('#waiting_div').hide();
  });

  function show_waiting() {
    $('#cast_div').hide();
    $('#waiting_div').show();
  }
</script>
<h1>{% trans "Confirm your Vote" %}</h1>

{% if error %}
<p style="color: red;">{{error}}</p>
{% endif %}

<h3>{% trans "Your Ballot" %}</h3>

<p style="font-size:1.6em;">
  <tt>{{vote_fingerprint}}</tt>
</p>

<div id="cast_div">
  <h3>{% trans "Cast Your Ballot with your Credentials" %}</h3>

  <form method="post" onsubmit="show_waiting();" action="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

    <table>
      {{form.as_table}}
    </table><br />

    <input type="submit" value="{% trans "cast this ballot" %}" /><br /><br />
  </form>

  <p>
    {% trans "Forgot your password?" %}
    <a href="{% url "auth@password@forgotten" %}?return_url={% url "election@cast-confirm" %}">{% trans "Have it emailed to you" %}</a>.
    <br />
    ({% trans "don't worry, we won't forget your vote." %})
  </p>
</div>

<div id="waiting_div" align="center">
  {% trans "Verifying and Casting your ballot" %}<br />
  <img src="/static/helios/loading.gif" />
</div>

{% endblock %}