{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block tabs_menu %}
{% with menu_active="list" %}
{% include "_admin_index_menu.html" %}
{% endwith %}
{% endblock %}


{% block content %}
<table class="elections">
  <thead>
    <th>
      Όνομα
    </th>
    <th>
      Ίδρυμα
    </th>
    <th>
      Διαχειριστής
    </th>
    <th>
      Δημιουργία
    </th>
    <th>
      Έναρξη
    </th>
    <th>
      Λήξη
    </th>
    {% if not user.superadmin_p %}
    <th>
      Ψηφοφόροι
    </th>
    <th>
      Έχουν ψηφίσει
    </th>
    {% endif %}
  </thead>
  <tbody>
    {% for election in elections_administered %}
    <tr>
      <td>  
            {% if election.result %}
            <b style="color:green">[ΕΧΕΙ ΟΛΟΚΛΗΡΩΘΕΙ]</b>
            {% endif %}
            <b style="color:red">{% if election.canceled_at %}
            [ΕΧΕΙ ΑΚΥΡΩΘΕΙ]
            {% endif %}
            </b>
            <a href="{% if not user.superadmin_p %}{% url helios.views.one_election_view election.uuid %}{% else %}{% url helios.views.election_report election.uuid "html" %}{% endif %}">
            {{ election.name }}
            </a>
        </td>
        <td>
          {{ election.institution.name }}
        </td>
        <td>
            {{ election.admins.all.0.info.name }}
        </td>
        <td>
          {{ election.created_at }}
        </td>
        <td>
            {{ election.voting_starts_at }}
        </td>
        <td>
            {{ election.voting_ends_at }}
        </td>
        {% if not user.superadmin_p %}
        <td>
            {{ election.voter_set.all.count }}
        </td>
        <td>
            {{ election.voted_count }}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
    </table>
{% endblock %}

