{% extends 'server_ui/templates/base.html' %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block content %}
<div class="firstpage">
    <!-- Main jumbotron for a primary marketing message or call to action
    -->
    <div class="jumbotron">
      <div class="container">
        <img src="{{ settings.MAIN_LOGO_URL }}" width="60%">
        <p>
        </p>
      </div>
    </div>
    <div class="container">
      <!-- Example row of columns -->
  {% if settings.MASTER_HELIOS %}
      <div class="row">
        <div class="col-md-4">
          <h2>
            Simple Elections
          </h2>
          <p>
            Set up an election in minutes: enter your questions, upload your voter
            list, use Helios to automatically email them a password, and you're off.
          </p>
          <button type="submit" class="btn btn-default btn-lg">
            Create Election &gt; &gt;
          </button>
          <p>
          </p>
          <p>
          </p>
        </div>
        <div class="col-md-4">
          <h2>
            Private &amp; Verifiable
          </h2>
          <p class="text-left">
            Helios uses state-of-the-art cryptography to ensure privacy of individual
            votes combined with public verifiability of the tally.
          </p>
          <p>
          </p>
          <a href="#" class="btn btn-default">Learn More &gt;&gt;</a>
        </div>
        <div class="col-md-4">
          <h2>
            Proven
          </h2>
          <p>
            Helios has been used by numerous non-profits and for-profits, including
            organizations with particularly strong security needs, all with resounding
            success.
          </p>
          <a href="#" class="btn btn-default">Learn More &gt;&gt;</a>
          <p>
          </p>
        </div>
      </div>
{% else %}
  <p style="font-size: 1.4em;">
    {{settings.WELCOME_MESSAGE|safe}}
  </p>
  {% if elections|length %}
  <p>
    {% for election in elections %}
    <div class="panel">
      <a style="font-size: 1.4em;" href="{% url "helios.views.election_shortcut" election.short_name %}">{{election.name}}</a>{% if settings.SHOW_USER_INFO %}<br /> by {{election.admin.display_html_small|safe}}{% endif %}
    </div>
    <br />
    {% endfor %}
  </p>
  {% else %}
  <h4>no featured elections at the moment</h4>
  {% endif %}

{% if create_p %}
<a class="button" href="{% url "helios.views.election_new" %}">create an election</a>
{% endif %}

{% endif %}
  
</div>

</div>
{% endblock %}
