{% extends TEMPLATE_BASE %}

{% load i18n%}

{% block tabs_menu %}
<dd class=""><a href={% url list_users %}>{% trans "Users List" %}</a></dd>
<dd class="active"><a href={% url list_institutions %}>{% trans "Institutions List" %}</a></dd>
<dd class=""><a href={% url create_user %}>{% trans "Create User" %}</a></dd>
<dd class=""><a href={% url create_institution %}>{% trans "Create Institution" %}</a></dd>
{% endblock %}

{% block content %}
    
    {% if inst %}

        {% if inst.user_set.count == 0 or inst.election_set.count == 0 %}
        {% trans "Please confirm the deletion of institution" %} {{inst.name}}.</br></br>
            <a href="/account_administration/inst_deletion_confirmed?id={{inst.id}}">
            {% trans "Yes, I confirm!" %}</a></br></br>
            <a href=/account_administration/institution_list>Go Back</a>
        {% else %}
            {% trans "Insitution has users, can't be deleted." %}</br></br>
            <a href="/account_administration/institution_list">{% trans "Back" %}</a>
        {% endif %}
    
    {% else %}
        {% trans "You didn't choose an institution." %}
        <a href="/account_administration/institution_list">{% trans "Back" %}</a>
    {% endif %}
{% endblock %}
