{% extends TEMPLATE_BASE %}

{% load i18n%}

{% block tabs_menu %}
{% include "account_administration/nav.html"%}
{% endblock %}

{% block content %}
    
{% if user_for_deletion %}

    {%trans "Please confirm the deletion of user"%} 
    {{user_for_deletion.user_id}}.
    </br></br>
    <a href={% url user_deletion_confirmed %}?id={{user_for_deletion.id}}>
            {% trans "Yes, I confirm!" %}</a>
    </br></br>
        
    <a href={% url user_management %}?user_id_filter={{user_for_deletion.id}}>
            {% trans "Back" %}</a>
  
{% else %}

    {% trans "You didn't choose a user." %}
    </br></br>
    <a href={% url list_users %}>{% trans "Back" %}</a>

{% endif %}

{% endblock %}
