{% extends TEMPLATE_BASE %}
{% load remember_filters %}
{% load i18n pagination_tags %}
{% block tabs_menu %}
{% include "account_administration/nav.html" %}
{% endblock %}
{% block content %}
<form action='' method = GET>
  {% csrf_token %}
  <label for"inst_name">{% trans "Institution" %}</label>
  <input id="inst_name" type='textfield' name='inst_name' value="{{inst_name|default_if_none:""}}">
  <label for"sub_button"></label>
  <input id="sub_button" type='submit' class="button tiny" value={% trans "Filter" %}>
  <a href="{% url list_institutions %}">{% trans "Clear" %}</a>
</form>
<br />
{% autopaginate institutions paginate_by %}
{% paginate %}
<br />
<table class="prettytable" border=1>
  <div id='table_head'>
    <tr>
      <td><b>ID</b></td>
      <td><b>{% trans "Name" %}</b></td>
      <td><b>{% trans "Users" %}</b></td>
      <td><b>{% trans "Edit" %}</b></td>
      <td><b>{% trans "Create User" %}</b></td>
    </tr>
  </div>
  {% for inst in institutions %}
    <tr>
        <td>{{inst.id}}</td>
        <td>{{inst.name}}</td>
        <td><a href={% url list_users%}?inst={{inst.name}}>{{inst.user_set.count}}</a></td>
        <td><a href="{% url create_institution %}?id={{inst.id}}">{% trans "Edit" %}</td>
        <td><a href={% url create_user %}?id={{inst.id}}>{% trans "Create User"%}</a>
        </td>
    </tr>
  {% empty %}
    <tr>
      <td colspan=7>{% trans "No results found" %}</td>
    </tr>
  {% endfor %}
</table>
{% paginate %}
{% endblock content%}
