{% extends TEMPLATE_BASE %}

{% load i18n %}
{% load remember_filters %}

{% block tabs_menu%}
{% include "account_administration/nav.html" %}
{% endblock%}

{% block content %}

<form action="" method="GET">
<label for="inst">{% trans "Institution" %}</label>
<input id="inst" type='textfield' name='inst' value="{{inst|default_if_none:""}}">
<label for="uid">User ID</label>
<input id="uid" type='textfield' name='uid' value="{{uid|default_if_none:""}}" >
<label for"sub_button"></label>
<input id="sub_button" type='submit' class="button tiny" value={% trans "Filter" %}>
<a href="{% url list_users  %}">{% trans "Clear" %}</a>
</form>

<table class="prettytable" border=1>
    <tr>
        <td><b>ID</b></td>
        <td><b>User ID</b></td>
        <td><b>{% trans "Name" %}</b></td>
        <td><b>{% trans "Institution" %}</b></td>
        <td><b>{% trans "Elections Held" %}</b></td>
        <td><b>{% trans "Details" %}</b></td>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.user_id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.institution.name}}</td>
        <td>{{user.elections.all.count}}</td>
        <td>
            <a href={% url user_management %}?user_id_filter={{user.id}}>

            {% trans "Details" %}</a>
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan=7>{% trans "No results found" %}</td>
    </tr>
    {% endfor %}
</table>

<div class="pagination" style="text-align:center;">
    <span class="step-links">
            {% if users.has_previous %}
                {%comment%}
                <a href={% url list_users %}?page={{users.previous_page_number}}{% get_filters_for_url request.GET %}>{% trans "previous" %}</a>
                {%endcomment%}
                <a href={% url
                list_users%}?page={{users.previous_page_number}}{%clean_query_string request%}>{% trans "previous" %}</a>
            {% endif %}
    <span class="current">
       {% trans "Page" %} {{ users.number }} {% trans "of" %} {{ users.paginator.num_pages}}.
    </span>

    {% if users.has_next %}
        <a href={% url list_users%}?page={{users.next_page_number}}{%clean_query_string request %}>{% trans "next" %}</a>
          {% endif %}
     </span>
</div>
{% endblock content%}
