{% extends TEMPLATE_BASE %}

{% load i18n %}

{% block tabs_menu %}
    <dd class=""><a href={% url list_users %}>{% trans "Users List" %}</a></dd>
    <dd class=""><a href={% url list_institutions %}>{% trans "Institutions List" %}</a></dd>
    <dd class=""><a href={% url create_user %}>{% trans "Create User" %}</a></dd>
    <dd class=""><a href={% url create_institution %}>{% trans "Create Institution" %}</a></dd>
{% endblock %}

{% block content %}
{% if u_data %}
<table border=1>
<tr>
    <td><b>ID</b></td>
    <td><b>User ID</b></td>
    <td><b>{% trans "Name" %}</b></td>
    <td><b>{% trans "Institution" %}</b></td>
    <td><b>E-Counting</b></td>
    <td><b>{% trans "Elections Held" %}</b></td>
</tr>
<tr>
    {{data}}
    <td>{{u_data.id}}</td>
    <td>{{u_data.user_id}}</td>
    <td>{{u_data.name}}</td>
    <td>{{u_data.institution.name}}</td>
    <td>
    {% if u_data.ecounting_account %}
        {% trans "Yes" %}
    {% else%}
        {% trans "No"%}
    {% endif %}
    </td>
    <td>{{u_data.elections.all.count}}</td>
</tr>
</table>
{% if u_data.management_p or u_data.superadmin_p %}
{% if user_type == 'superadmin'%}
<br>
<a href="/account_administration/user_management/?change_pass=yes&user_id_filter={{u_data.id}}">
{% trans "Reset Password" %}</a>
</br></br>
{% if u_data.elections.count == 0%}
<a href="/account_administration/delete_user/?id={{u_data.id}}">{%trans "Delete Account"%}</a>
</br></br>
{% endif%}
{% endif %}

{%else%}
<br>

<a href="/account_administration/reset_password?user_id_filter={{u_data.id}}">
{% trans "Reset Password" %}</a>
</br></br>
<a href="/account_administration/user_creation?edit_id={{u_data.id}}">Edit</a>
</br></br>
{% if u_data.elections.count == 0 %}
<a href="/account_administration/delete_user/?id={{u_data.id}}">{%trans "Delete Account"%}</a>
</br></br>
{% endif%}
{% endif %}
{% endif %}

<a href="/account_administration/user_list">{% trans "Back" %}</a></br></br>

{% if u_data %}
<table border=1>
<tr>
    <td>{% trans "Election Name" %}</td>
    <td>{% trans "Start date" %}</td>
    <td>{% trans "End Date" %}</td>
    <td>{% trans "Results" %}</td>
</tr>
    {%for el in u_data.elections.all%}
<tr>
    <td>{{el.name}}</td><td>{{el.voting_starts_at}}</td><td>{{el.voting_ends_at}}</td>
</tr>
    {% endfor %}
</table>
    
{% endif%}

{% endblock %}
