{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block tabs_menu %}
{% include "account_administration/nav.html" %}
{% endblock %}
{% block content %}
{% if u_data %}
<table class="elections">
  <thead>
    <tr>
    <th>ID</b></th>
    <th>User ID</th>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Institution" %}</th>
    <th>{% trans "Elections Held" %}</th>
    </tr>
  </thead>
  <tbody>
  <tr>
    <td>{{u_data.id}}</td>
    <td>{{u_data.user_id}}</td>
    <td>{{u_data.name}}</td>
    <td>{{u_data.institution.name}}</td>
    <td>{{u_data.elections.all.count}}</td>
  </tr>
  </tbody>
</table>
{% if u_data.management_p or u_data.superadmin_p %}
{% if user_type == 'superadmin'%}
  <br>
  <a href={% url user_management %}?uid={{u_data.id}}>{% trans "Reset Password" %}</a>
  </br></br>
  <a href={% url create_user %}?edit_id={{u_data.id}}>{% trans "Edit" %}</a>
  </br></br>
{% endif %}
{%else%}
  <br>
  <a href={% url reset_password %}?uid={{u_data.id}}>
  {% trans "Reset Password" %}</a>
  </br></br>
  <a href={% url create_user%}?edit_id={{u_data.id}}>{% trans "Edit" %}</a>
  </br></br>
{% endif %}
{% endif %}
<a href={% url list_users%}>{% trans "Back" %}</a></br></br>
{% if u_data %}
  <table class="elections">
    <thead>
      <tr>
       <th>{% trans "Election Name" %}</th>
       <th>{% trans "Start date" %}</th>
       <th>{% trans "End Date" %}</th>
       <th>{% trans "Results" %}</th>
      </tr>
    </thead>
    <tbody>
      {%for el in u_data.elections.all%}
        <tr>
          <td>{{el.name}}</td>
          <td>{{el.voting_starts_at}}</td>
          <td>{{el.voting_ends_at}}</td>
          <td><a href="{% url election_zip_results el.uuid el.short_name LANGUAGE_CODE %}">{% trans "Save results"%}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>    
{% endif%}
{% endblock %}
