.top-bar {
	background-color:#339933;	
	background-image:url('/media/img/logo.png');
	background-repeat:no-repeat;
	min-height:80px;
}
#banner {
	background:#4C9900;
}

#footer {
	background:#4C9900;
}
#progress_div td.selected {
  background:#DFF0D8;
}
.btn-primary,a.btn,.btn-lg,.btn-primary {
	background-color:#336633;
	border-color:#336633;
}
.btn-primary:hover,#proceed_button{
	background-color:#009933;
	border-color:#009933;
}
a:hover, a:focus {
  color: #009933;
  text-decoration: underline;
}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus{
	color:#fff;
	background-color:#009933;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
  color: #FFF;
  background-color: #009933;
  border-color: #336633;
}

.panel-primary > .panel-heading {
    color: #fff;
    background-color: #2ecc71;
    border-color: #2ecc71;    
}

.panel-primary {
    border-color: #2ecc71;    
}

:focus{
    outline: 0;
}
