<div id="questions_div">
<p>
<!--    To cast a vote, you will be led through the following steps.<br />
    If you have not yet logged in, you will be asked to do so at the very end of the process.
-->
Para depositar um voto na urna, você deve seguir os passos listados abaixo. ATENÇÃO: enquanto a eleição estiver aberta, você pode votar quantas vezes desejar. No entanto, APENAS O ÚLTIMO voto será contabilizado.
<p>
    
<ol>
    <li> <b>Selecionar</b> suas escolhas.<br />
<!--<span style="font-size: 14pt;">You can easily navigate forwards and backwards.</span>--></li> 
<br />

    <li> <b>Revisar &amp; Confirmar</b> suas escolhas.<br />
<!--<span style="font-size: 14pt;">
  Your choices are encrypted safely inside your browser, and you get a smart ballot tracker.<br />
</span> -->
</li>
<br />

    <li> <b>Depositar</b> sua cédula cifrada na urna.<br />
<span style="font-size: 14pt;">
<!--You will be asked to log in to submit your encrypted ballot for tallying. -->
Nesse momento você deverá se autenticar com nome de usuário e senha que lhe foram enviados por email.
</span>
</li>
</ol>

<div align="center"><button class="btn btn-primary" onclick="BOOTH.show_question(0);">Iniciar</button></div>
</div>
