{#if $T.election_metadata.use_advanced_audit_features}
<div style="float: right; background: lightyellow; margin-left: 20px; padding: 0px 10px 10px 10px; border: 1px solid #ddd; width:200px;">
<h4><a onclick="$('#auditbody').slideToggle(250);" href="#">Auditar</a> <span style="font-size: 0.8em; color: #444">[opcional]</span></h4>
<div id="auditbody" style="display:none;">
<p>
<!--If you choose, you can audit your ballot and reveal how your choices were encrypted. -->
Se você quiser, você pode auditar sua cédula e verificar se ela contém sua escolha.
</p>
<p>
<!--You will then be guided to re-encrypt your choices for final casting. -->
Após fazer isso, você deverá cifrar seu voto novamente para depósito final na urna.
</p>
<input type="button" value="Verificar Cédula" onclick="BOOTH.audit_ballot();" class="pretty" />
</p>
</div>
</div>
{#/if}

<!--<h3>Your ballot is ready to be submitted</h3> -->
<h3>Sua cédula está pronta para ser depositada na urna</h3>

<p>
<!--<em>Don't forget to click "Proceed to Submission" below!</em> -->
<em>Não esqueça de clicar em "Depositar Voto na Urna"!</em>
</p>

<!--<p>Before submitting, you can take note of your smart ballot tracker [<a onclick="BOOTH.show_receipt(); return false;" href="#">print</a>]:<br /><br /> -->

<p>Antes de depositar na urna, você pode anotar seu rastreador de cédula:<br /><br />


<b><tt style="font-size: 16pt;">&nbsp;&nbsp;&nbsp;{$T.encrypted_vote_hash}</tt></b><br /><br />

</p>

<!--<p>
Once you click "Proceed", Helios will remember only your encrypted vote. Thus, only you know your vote.</p> -->
<p>Após clicar em "Depositar na Urna", o Helios vai guardar apenas seu voto cifrado. Assim, somente você conhecerá seu voto.</p>

<button id="proceed_button" onclick="BOOTH.cast_ballot();">Depositar Voto na Urna</button><br />
<div id="loading_div"><img src="loading.gif" id="proceed_loading_img" /></div>



<form method="POST" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
</form>