
body {
  font-family: 'Lucida Grande',sans-serif;
  background: white;
  padding: 0px;
  margin: 0px;
}

#content {
  position: absolute;
  padding: 20px 30px 20px 30px;
  top: 0px;
  margin-left: 100px;
  margin-top: 0px;
  width: 860px;
  background: #eee;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
}

#header {
  padding-top: 0px;
  text-align: center;
  padding-bottom: 20px;
}

#footer {
  border-top: 1px solid #666;
  bottom: 0px;
  margin: auto;
  width: 860px;
  text-align: center;
  color: #666;
  clear: both;
}

#footer a, #footer a:visited {
  color: black;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#page h2 {
  background: #fc9;
  border-bottom: 1px solid #666;
  padding: 5px 0px 2px 5px;
}

#election_info {
  font-size: 16pt;
}

table.pretty {
    margin: 1em 1em 1em 2em;
    background: whitesmoke;
    border-collapse: collapse;
    width: 80%;
}

table.pretty th, td {
    border: 1px silver solid;
    padding: 0.3em;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  html, body {
    max-width: 100vw;
    overflow-x: hidden;
  }

  #content {
    position: relative;
    width: 100vw;
    max-width: 100vw;
    margin-left: 0;
    padding: 10px 15px;
    box-sizing: border-box;
  }

  #header {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% + 30px);
    box-sizing: border-box;
  }

  #footer {
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
    width: calc(100% + 30px);
    box-sizing: border-box;
  }

  /* Create a scrollable wrapper for the table */
  table.pretty {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin: 1em 0;
    font-size: 0.9em;
  }

  table.pretty thead,
  table.pretty tbody {
    display: block;
  }

  table.pretty tr {
    display: flex;
  }

  table.pretty th,
  table.pretty td {
    flex: 0 0 auto;
    padding: 0.2em 0.4em;
    white-space: nowrap;
  }
}

