<!DOCTYPE html>

<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><html class="no-js" lang="en" ><![endif]-->

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">

  <title>Helios&mdash;{% block title %}{% endblock %}</title>
  {% block css %}
    <link rel="stylesheet" type="text/css" media="screen" href="/static/main.css">
  {% endblock %}

  {% block js %}{% endblock %}
</head>

<body>
  <div id="content">
    <div id="header">
      {% block header %}{% endblock %}
    </div>

    {% block content %}{% endblock %}
    <div id="footer"></div>
  </div>
</body>

</html>
