{% extends 'server_ui/templates/base.html' %}
{% load i18n %}
{% block title %}{{ settings.SITE_TITLE }}{% endblock %}

{% block header %}
<h2>{{ settings.SITE_TITLE }}</h2>
{% endblock %}

{% block tabs_menu %}
{% with menu_active="list" %}
<h3>{% trans "Change password" %}</h3>
{% endwith %}
{% endblock %}


{% block content %}
{% if password_changed %}
<div class="success panel alert-box">
    {% trans "Your new password was set." %}
</div>
{% endif %}
<form action="{% url heliosauth.views.change_password %}" method="post">
    {% with form as form %}
    {% include "foundation_form.html" %}
    {% endwith %}
  <input class="button medium success" type="submit" value="{% trans "SAVE" %}" />
</form>
{% endblock %}


