
body {
  font-family: 'Lucida Grande',sans-serif;
  background: white;
  padding: 0px;
  margin: 0px;
}

#content {
  position: absolute;
  padding: 20px 30px 20px 30px;
  top: 0px;
  margin-left: 100px;
  margin-top: 0px;
  width: 860px;
  background: #eee;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  border-bottom: 1px solid #666;
}

#header {
  padding-top: 0px;
  text-align: center;
  padding-bottom: 20px;
}

#footer {
  border-top: 1px solid #666;
  bottom: 0px;
  margin: auto;
  width: 860px;
  text-align: center;
  color: #666;
  clear: both;
}

#footer a, #footer a:visited {
  color: black;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#page h2 {
  background: #fc9;
  border-bottom: 1px solid #666;
  padding: 5px 0px 2px 5px;
}

#election_info {
  font-size: 16pt;
}

/* Mobile responsive styles */
@media screen and (max-width: 768px) {
  html, body {
    width: 100%;
    overflow-x: hidden;
  }

  #content {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    padding: 10px 15px;
    box-sizing: border-box;
  }

  #header {
    width: 100%;
    box-sizing: border-box;
  }

  #footer {
    width: 100%;
    box-sizing: border-box;
  }
}