
<div class="row">
  <div class="columns twelve">
    <p>
    {gettext("BALLOT_ENCRYPTED_SUCCESS")}
  </p>
  <div class="panel confirm-vote">
    {#foreach $T.questions as question}
    <ul class="confirm-choices">
      {#foreach $T.choices[$T.question$index] as choice}
      <li><h6>{#if $T.election.module_params.ranked}Επιλογή {$T.choice$index+1}:{#/if}
        <span class="question" style="margin-top:35px;">{show($T.choice.question)}:</span> 
          {#foreach $T.choice.answers as answer}
          <span class="answer">- {$T.answer}</span>
          {#/for}</h6></li>
      {#/for}
      {#if !$T.choices[$T.question$index].length }
      <li><h5>{gettext("BLANK_BALLOT")}</h5></li>
      {#/if}
    </ul>
  </div>
</div>
<div class="columns twelve">
  <a onclick="BOOTH.show_question({$T.question$index}); return false;"
    class="button medium">{gettext("BACK_TO_BALLOT_CHOICES")}</a>
  {#/for}
</div>
</div>

<br />
<br />
<div class="row">
  <div class="columns twelve">
    <p>{gettext("SUBMIT_BALLOT_PROMPT")}
  </p>
</div>
</div>

<form>
<div class="confirm-checks">
  <div class="clearfix form-row">
    <label for="required-to-cast-2" onclick="BOOTH.check_cast_form()">
      <input type="checkbox" id="required-to-cast-2" style=""
      onclick="BOOTH.check_cast_form()">
      <span class="custom checkbox" onclick="BOOTH.check_cast_form()"></span>
      {gettext("ELECTION_TERMS_LABEL")}
    </label>
  </div>
</div>
</form>

<button id="proceed_button" class="button success medium secondary cast-ballot"
  onclick="BOOTH.cast_ballot();">{gettext("SUBMIT_BALLOT")}</button><br />
<div id="loading_div"></div>

<form method="post" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
  <input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
  <input type="hidden" name="election_hash" value="{$T.election_hash}" />
  <input type="hidden" name="audit_password" value="{$T.audit_password}" />
  <textarea name="encrypted_vote" style="display: none;">
    {$T.encrypted_vote_json}
  </textarea>
</form>


