@import "compass/css3";

$banner-bg: #1A243C;
$banner-text: #fff;
$footer-bg: #1A243C;
$footer-text: #fff;
$wrapper-bg: lighten($footer-bg, 10%);
$content-bg: #fff;
$active-bg: #fc9;
$active-text: #000;
$inactive-bg: #ccc;
$inactive-text: #888;
$question-bg: #eee;
$button: #cf2029;