@import "compass/css3";

$banner-bg: #ccc;
$footer-bg: #ccc;
$wrapper-bg: #ddd;
$content-bg: #fff;
$active-bg: #fc9;
$active-text: #000;
$inactive-bg: #ccc;
$inactive-text: #888;
$question-bg: #eee;
$button: darken(lightblue, 20%);