{% if election.voting_has_started %}
  {% if not election.voting_has_stopped %}

<div id="cast_form">
<form method="post" action="" onsubmit="show_waiting()" class="">
    <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
{% if status_update_label %}
<div class="round" style="background: #eee; padding: 10px; border: 1px dashed #888;">
<input type="checkbox" name="status_update" value="1" checked /> {{status_update_label}}<br />
<blockquote style="font-size: 1.3em;">
"{{status_update_message}}"
</blockquote>
<input type="hidden" name="status_update_message" value="{{status_update_message}}" />
</div>
<br />
{% endif %}
    
    <div class="clearfix form-row">
<label for="required-to-cast-1" onclick="check_cast_form()">
  <input type="checkbox" id="required-to-cast-1" style=""
  onclick="check_cast_form()">
  <span class="custom checkbox" onclick="check_cast_form()"></span> Επιβεβαιώνω οτι είμαι ο "{{ voter.voter_surname }} {{ voter.voter_name }}".
</label>
</div>

    <div class="clearfix form-row">
<label for="required-to-cast-2" onclick="check_cast_form()">
  <input type="checkbox" id="required-to-cast-2" style=""
  onclick="check_cast_form()">
  <span class="custom checkbox" onclick="check_cast_form()"></span> Επιβεβαιώνω ότι αυτή τη στιγμή είμαι μόνος 
        στο τερματικό μου, και κανένας άλλος δεν έχει παρακολουθήσει τις επιλογές μου
      </label>
    </div>
    
    <div class="cast-actions clearfix">
    <input type="submit" class="submit button success medium" value="Καταχώρηση ψήφου" />
    <button class="button medium alert cancel"
      onclick="document.location='./view';">Ακύρωση</button><br />
  </div>
</form>

</div>
<div id="waiting_div">
    Verifying and Casting your ballot<br />
    <img src="/static/helios/loading.gif" />
</div>
  {% else %}
<p style="font-size:1.4em;">
  voting has stopped, sorry.
</p>
  {% endif %}
{% else %}
<p style="font-size:1.4em;">
  voting has not yet begun, sorry.
</p>
{% endif %}
