<form method="post" action="{% url "election@password-voter-login" election.uuid %}" onsubmit="show_waiting()">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="return_url" value="{{return_url}}" />
<input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

<div style="border: 1px solid #888; padding: 10px; max-width: 500px;">
{{login_form.as_p}}
{% if bad_voter_login %}
<p style="color: red;">
{% if election.use_token_auth %}
Invalid voting token, please try again.
{% else %}
bad voter ID or password, please try again.
{% endif %}
</p>
{% endif %}
{% if cast_ballot == "1" %}
<input type="submit" class="button" value="authenticate &amp; cast ballot" />
<p class="small">
  {% if election.use_token_auth %}
  Your voting token can be found in the email you received.
  <a href="{% url "election@password-voter-resend" election.uuid %}" target="_blank">Didn't receive your token? Click here to resend it.</a>
  {% else %}
  Your voter ID and password can be found in the email you received.
  <a href="{% url "election@password-voter-resend" election.uuid %}" target="_blank">Forgot your password? Click here to resend it.</a>
  {% endif %}
  {% if election.help_email %}If you still cannot find your login information, contact your election administrator at <tt>{{election.help_email}}</tt>.{% endif %}
</p>
<p class="small">
Cast as many ballots as you wish: only the last one counts.
</p>
{% else %}
<input type="submit" class="button" value="log in" />
{% endif %}
</form>
</div>


