{% load i18n zeus_tags %}

<div class="admin-status">
  <div class="panel">
    <h4>{% trans "Election status" %}</h4>
    {{ election.status_display }}
  </div>
</div>

<div class="clearfix admin-actions">
{% if not election.feature_canceled and not election.feature_frozen and not election.any_poll_feature_validate_create_running %}
{% trans "Freeze election" as label %}
{% reveal_action label "#freeze-admin-action" "" "freeze-election" %}
{% endif %}

{% if election.feature_can_close %}
{% trans "Close election" as label %}
{% reveal_action label "#close-admin-action" "" "close-election"%}
{% endif %}

{% if election.feature_can_cancel %}
{% trans "Cancel election" as label %}
{% reveal_action label "#cancel-admin-action" cls="alert cancel-election" %}
{% endif %}

{% if election.feature_compute_results_finished %}
<a href="{% url election_pdf_results election.uuid election.short_name %}">Save results (PDF)</a>
<br /><br />
{% comment %}
<a href="{% url election_csv_results election.uuid election.short_name %}">Save results (CSV)</a>
<br /><br />
{% endcomment %}
{% if election.get_module.module_id != 'stv' %}
<a href="{% url election_zip_results election.uuid election.short_name %}">Save results (ZIP)</a>
{% endif%}
<br /><br />
{% endif %}
</div>
