{% load i18n zeus_tags %}

<div class="admin-status">
  <div class="panel">
    <h4>{% trans "Election status" %}</h4>
    {{ election.status_display }}
  </div>
</div>

<div class="clearfix admin-actions">
{% if not election.feature_canceled and not election.feature_frozen and not election.any_poll_feature_validate_create_running %}
{% trans "Freeze election" as label %}
{% if election.can_freeze %}
{% reveal_action label "#freeze-admin-action" "" "freeze-election" %}
{% else %}
{% reveal_action label "#freeze-admin-action" "" "freeze-election disabled" %}
{% endif %}
{% endif %}

{% if election.feature_can_close %}
{% trans "Close election" as label %}
{% reveal_action label "#close-admin-action" "" "close-election"%}
{% endif %}

{% if election.feature_can_cancel %}
{% trans "Cancel election" as label %}
{% reveal_action label "#cancel-admin-action" cls="alert cancel-election" %}
{% endif %}
{% if election.feature_compute_results_finished %}
{% with election.get_module as module %}
  {% if module.pdf_result %}
    <a href="{% url election_pdf_results election.uuid election.short_name LANGUAGE_CODE %}">{% trans "Save results" %} (PDF)</a>
<br /><br />
  {% endif %}
  {% if module.csv_result%}
    <a href="{% url election_zip_results election.uuid election.short_name LANGUAGE_CODE%}">
{% trans "Save results" %} (ZIP)</a>
<br /><br />
  {% endif %}
{% endwith %}
{% endif %}
</div>
