{% load i18n %}
{% if poll and admin %}
<div class="row">
    <div class="columns twelve">
            <dl class="tabs">
            <dd class="{% if menu_active == "edit_poll" %}active{% endif %}"><a
              href="{% url election_poll_edit election.uuid poll.uuid %}">
             {% trans "Edit poll" %}</a></dd>

            <dd class="{% if menu_active == "voters" %}active{% endif %}"><a 
              href="{% url election_poll_voters election.uuid poll.uuid %}">
              {% trans "Voters" %}
            </a></dd>
            <dd class="{% if menu_active == "questions" %}active{% endif %}"><a 
              href="{% url election_poll_questions election.uuid poll.uuid %}">
              {{ poll.get_module.questions_title_message }}
            </a></dd>
            
            {% if poll.feature_compute_results_finished %}
            <dd class="{% if menu_active == "results" %}active{% endif %}"><a 
              href="{% url election_poll_results election.uuid poll.uuid %}">
              {% trans "Results" %}
            </a></dd>
            {% endif %}
            </dl>
</div>
</div>
{% endif %}

