<p>
Σε αυτό το σημείο η ψηφοφορία έχει σταματήσει, η πρώτη
μίξη των κρυπτογραφημένων ψηφοδελτίων έχει ολοκληρωθεί 
και έχετε ζητήσει να επιτραπεί η δυνατότητα απομακρυσμένης
μίξης. Για την προσθήκη απομακρυσμένης μίξης
χρησιμοποιείστε τον ακόλουθο σύνδεσμο:
</p>

<div class="panel">
  <b>{{ election.get_mix_url }}</b>
</div>

<div class="panel">
  Έχουν προστεθεί <b> {{ election.remote_mixes.count }}</b> απομακρυσμένες μίξεις.
</div>
{% if election.remote_mixes %}
<a class="button small alert" style="float: right" href="{% url helios.views.election_remove_last_mix election.uuid %}">
  Αφαίρεση τελευταίας απομακρυσμένης μίξης.
</a>
<br /><br />
{% endif %}

<br /<br />
<a class="button medium success"
  href="{% url helios.views.election_stop_mixing election.uuid %}"
  onclick="return confirm("Είστε σίγουρος; Δεν θα είναι δυνατόν να προσθέσετε νέες μείξεις μετα το βήμα αυτό.")">
  Όλοκλήρωση διαδικασίας μείξης
</a>
