{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{{cast_vote.vote_tinyhash}} - {{election.name}}{% endblock %}
{% block content %}
<h3 class="title">{% trans "Cast Vote" %} {{cast_vote.vote_tinyhash}}</h3>
{% trans "cast in" %} <a href="{% url "election@view" election.uuid %}">{{election.name}}</a><br />
{% trans "Fingerprint" %}: <tt>{{cast_vote.vote_hash}}</tt><br />
{% trans "by" %} <b>
    <u>
        {% if the_voter.alias %}
        {{the_voter.alias}}
        {% else %}
        {{the_voter.name}}
        {% endif %}
    </u></b>
<br /><br />
<a href="#" onclick="$('#castvote_content').slideToggle(250); return false;">{% trans "details" %}</a>
<br /><br />
<div style="display:none;" id="castvote_content">
    <textarea cols="100" rows="10">{{vote_content}}</textarea>
</div>
<br /><br />

{% endblock %}