{% extends TEMPLATE_BASENONAV %}
{% load i18n %}
{% block title %}Voto depositado!{% endblock %}

{% block content %}
<h2>{{election.name}}</h2>
<br>
<h4>
{% blocktrans %}
    Congratulations, your vote has been <b><u>successfully cast</u></b>!
{% endblocktrans %}
</h4>
<br>
<p>
<span class="alert alert-info" role="alert">

{% trans "Your smart ballot tracker is:" %}
  <tt style="font-size: 10pt;width: 10em; word-wrap: break-word; font-weight: bold; ">  {{vote_hash}}</tt>
</span>
</p>
<br><br>
{% if logout %}
<p><span>{% trans "For your safety, we have logged you out." %}</span></p>
<iframe width="0" height="0" border="0" frameborder="0" src="{% url "auth@logout" %}">
</iframe>
{% endif %}

{% endblock %}
