{% extends TEMPLATE_BASE %}
{% block title %}Release Tally for {{election.name}}{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>
        {{election.name}}&mdash;Release Tally
      </h2>

      <p>
        You are about to release the tally for this election.
      </p>

      <form method="post">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

        <input class="button" type="submit" value="Release the Tally" />
        <a class="secondary button" href="./view">Back to Election</a>
      </form>
    </div>
  </div>
{% endblock %}
