{% extends TEMPLATE_BASE %}

{% block js %}
<script language="javascript" src="{{ HELIOS_STATIC }}/jquery-jtemplates.js"></script>
<script language="javascript" src="{{ HELIOS_STATIC }}/class.js"></script>  
<script language="javascript" src="{{ HELIOS_STATIC }}/jquery.json.min.js"></script>
<script language="javascript" src="{{ HELIOS_STATIC }}/bigint.js"></script>
<script language="javascript" src="{{ HELIOS_STATIC }}/random.js"></script>
<script language="javascript" src="{{ HELIOS_STATIC }}/elgamal.js"></script>
<script language="javascript" src="{{ HELIOS_STATIC }}/sha1.js"></script>
<script language="javascript" src="{{ HELIOS_STATIC }}/sha2.js"></script>
<script language="javascript" src="{{ HELIOS_STATIC }}/helios.js"></script>
{% endblock %}


