{% extends TEMPLATE_BASE %}
{% load staticfiles %}
{% block js %}
<script language="javascript" src="{% static "js/underscore-min.js" %}"></script>
<script language="javascript" src="{% static "js/jquery-jtemplates.js" %}"></script>
<script language="javascript" src="{% static "js/jquery.json.min.js" %}"></script>

<script language="javascript" src="{% static "js/jscrypto/jsbn.js" %}"></script>
<script language="javascript" src="{% static "js/jscrypto/jsbn2.js" %}"></script>
<script language="javascript" src="{% static "js/jscrypto/sjcl.js" %}"></script>

<script language="javascript">
  // required for jscrypto library
  var JSCRYPTO_HOME = "{% static "js/jscrypto" %}";
</script>

<script language="javascript" src="{% static "js/jscrypto/class.js" %}"></script>  
<script language="javascript" src="{% static "js/jscrypto/bigint.js" %}"></script>
<script language="javascript" src="{% static "js/jscrypto/random.js" %}"></script>
<script language="javascript" src="{% static "js/jscrypto/elgamal.js" %}"></script>
<script language="javascript" src="{% static "js/jscrypto/sha1.js" %}"></script>
<script language="javascript" src="{% static "js/jscrypto/sha2.js" %}"></script>
<script language="javascript" src="{% static "js/jscrypto/helios.js" %}"></script>
{% endblock %}


