{% extends TEMPLATE_BASE %}

{% block js %}
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/underscore-min.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jquery-jtemplates.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jquery.json.min.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/filesaver.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/blobbuilder.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/filereader.js"></script>

<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/jsbn.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/jsbn2.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/sjcl.js"></script>

<script language="javascript">
  // required for jscrypto library
  var JSCRYPTO_HOME = "{{ZEUS_MEDIA_URL}}/jscrypto";
</script>

<script language="javascript">
  $(document).ready(function(){
      if (!$.browser.webkit && !$.browser.mozilla) {
        $("#invalid-browser").show();
      }
  })
</script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/class.js"></script>  
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/bigint.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/random.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/elgamal.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/sha1.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/sha2.js"></script>
<script language="javascript" src="{{ ZEUS_MEDIA_URL }}/jscrypto/helios.js"></script>
{% endblock %}


