{% extends "election_page.html" %}

{% block page_css %}election-page{% endblock %}

{% block extra_title %}
{% if admin_p %}
<a class="button small" href="{% url helios.views.one_election_edit election.uuid %}">Επεξεργασία</a>
{% if election.completed %}
{% endif %}
{% endif %}
{% endblock %}

{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block content %}
{% if election.voting_has_started %}
<script>
if (!navigator.javaEnabled()) {
//
// even if Java is not enabled, we now have a server-side solution
//
//  $(document).ready(function() {
//    $('#votelink').hide();
//    $('#nojava_message').show();    
//  });
//
}
</script>
{% endif %}



{% if admin_p %}
{% if election.result %}
{% else %}
{% if not election.frozen_at %}
  <h5>Ακολουθήστε τα παρακάτω βήματα για την ολοκλήρωση της ψηφοφορίας</h5>
{% if election.issues_before_freeze %}
<ul>
  {% for issue in election.issues_before_freeze %}
  <li>
  {{issue.action}}{% if forloop.last %}{% else %}{% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<a class="button medium success" href="{% url helios.views.one_election_freeze election.uuid %}">Άνοιγμα ψηφοφορίας</a>
<p>Η ψηφοφορία θα ξεκινήσει στις {{ election.voting_starts_at }}</p>
{% endif %}

{% else %}

{% if not election.tallied %}
{% if election.tallying_started_at %}
Η διαδικασία μείξης έχει ξεκινήσει. Παρακαλούμε ανανεώστε τη σελίδα
ανα τακτά χρονικά διαστήματα μέχρι να ολοκληρωθεί η διαδικασία.
{% else %}
{% if election.num_cast_votes %}
<a class="button success" href="{% url helios.views.one_election_compute_tally election.uuid %}">Κλείσιμο κάλπης</a><br />
{% else %}
<a class="button success disabled secondary">Κλείσιμο κάλπης</a><br />
{% endif %}
{% endif %}
{% else %}

{% if election.ready_for_decryption_combination %}
<a class="button success" href="{% url helios.views.combine_decryptions election.uuid %}">
{% if election.num_trustees == 1 %}
release results
{% else %}
Υπολογισμός αποτελέσματος
{% endif %}
</a><br />
{% if election.num_trustees == 1 %}
The result is released and all voters are notified.
{% else %}
{% endif %}
{% else %}
<a class="button success" href="{% url helios.views.list_trustees_view election.uuid %}">Τα μέλη της εφορευτικής επιτροπής πρέπει να αποκρυπτογραφήσουν τα αποτελέσματα</a>
{% endif %}

{% endif %}

{% endif %}
</span>

{% endif %}

</p>

{% endif %}

{% if election.result %}
<h5>Η ψηφοφορία έχει ολοκληρωθεί</h5>

<h3 class="highlight-box">Αποτελέσματα</h3>
<table width="100%">
  <thead>
    <tr>
      <th>Σειρά επιλογής</th>
      <th>Ψήφοι</th>
    </tr>
  </thead>
  <tbody>
{% for q,b in election.pretty_result.items %}
    <tr>
      <td>{{ q }}</td><td> {{ b }} </td>
    </tr>
</tbody>
{% endfor %}
</table>

{% else %}

{% if election.voting_has_stopped %}
<span class="highlight-box round">
Η ψηφοφορία έχει κλείσει.
</span><br />
{% else %}

{% if election.voting_has_started and not admin_p %}
<span class="highlight-box round" style="font-size: 1.6em; margin-right: 10px;" id="votelink">
<a class="button success large" href="{{test_cookie_url}}">Συμμετοχή στην ψηφοφορία</a>
</span><br />
<br />
{% if election.voting_extended_until %}
This {{election.election_type}} was initially scheduled to end at {{election.voting_ends_at}},<br />
but has been extended until {{ election.voting_extended_until }} (UTC).
{% else %}
{% if election.voting_ends_at %}
<br />
Η ψηφοφορία θα ολοκληρωθεί στις {{election.voting_ends_at}}.
{% else %}
This {{election.election_type}} ends at the administrator's discretion.
{% endif %}
<br />
{% endif %}

{% else %}
<span class="highlight-box round">
  {% if not admin_p %}
  Η ψηφοφορία ανοίγει στις {{ election.voting_starts_at}}
  {% endif %}
</span> <br /><br />
{% endif %}

{% if user %}
{% if voter %}
<p style="padding-top:1px;">
  You are registered to vote in this {{election.election_type}}.
{% if election.use_voter_aliases %}
Your voter alias is {{voter.alias}}.
{% endif %}
</p>

{% else %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}

{% if 0 %}
<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
<a href="#" onclick="$('#auditbody').slideToggle(250);">Audit Info</a>
<div id="auditbody" style="display:none;">
<br />Election URL:<br />
<tt style="font-size: 1.2em;"><a href="{{election.url}}">{{election.url}}</a></tt>

{% if election.frozen_at %}
<br />
<br />Election Fingerprint:<br />
<tt style="font-size: 1.3em; font-weight: bold;">{{election.hash}}</tt>


{% if votes %}
<p>Your smart ballot tracker:<br />
<tt style="font-size:14pt; font-weight: bold;">{{votes.0.vote_hash}}</tt>
</p>
{% endif %}

<p style="font-size: 1.3em;">
<a href="{% url helios.views.voters_list_pretty election.uuid %}">Ballot Tracking Center</a> &nbsp;| &nbsp;
<a href="{% url helios.views.one_election_audited_ballots election.uuid %}">Audited Ballots</a>
</p>

{% if not election.voting_has_started %}
<p style="font-size: 1.2em;">
  <a href="{{SECURE_URL_HOST}/booth/vote.html?election_url={% url helios.views.one_election election.uuid %}">preview booth</a>
</p>
{% endif %}  

{% endif %}

{% if election.voting_has_stopped %}
<p style="font-size: 1.2em;">
{% if election.result %}
verify <a target="_blank" href="/verifier/verify.html?election_url={% url helios.views.one_election election.uuid %}">election tally</a>.
{% endif %}

review the <a href="{{vote_url}}">voting booth</a>.
</p>
{% endif %}

</div>
</div>
{% endif %}




{% endblock %}
