{% extends "helios/templates/trustee_home_base.html" %}
{% load i18n %}

{% block content %}
<script>
function reset() {
    $('#processing').hide();
    $('#result').html("");
    $('#input').hide();
    $('#loading').show();
    BigInt.setup(function() {
        $('#loading').hide();
        $('#input').show();
    });
}

$(document).ready(function() {
    reset();
});

var PK_HASH = "{{trustee.public_key_hash}}";

function check_sk(sk_value) {
    $('#input').hide();
    $('#processing').show();

  var secret_key = ElGamal.SecretKey.fromJSONObject(
                     jQuery.secureEvalJSON(sk_value));
  var pk_hash = b64_sha256(jQuery.toJSON(secret_key.pk));
  var key_ok_p = (pk_hash == PK_HASH);
    
    $('#processing').hide();

    var reset_link = "<br /><a href='javascript:reset();'>{% trans "Please try again" %}</a>";
    if (key_ok_p) {
      var data = {'verified': true}
      data[CSRF_TOKEN_NAME] = CSRF_TOKEN;
      $.ajax({
        "url": "{% url election_trustee_verify_key election.uuid %}",
        "type": "post",
        "data": data,
        "error": function() {
          $('#result').html("{% trans "Error in verifying your trustee key, please try again." %}" + reset_link);
        },
        "success": function() {
            alert("{% trans "Your trustee key has been verified!" %}");
            window.location = '{% url logout %}';
        }
      })
    } else {
      $('#result').html("{% trans "Your trustee key could not be verified." %}" + reset_link);
    }
  }

var opts = {
    dragClass: "drag",
    accept: false,
    readAsMap: {
        'text/*' : 'Text'
    },
    readAsDefault: 'Text',
    on: {
        load: function(e, file) {
          // Native ProgressEvent
          if (e.srcElement && e.srcElement.result) {
            $("textarea[name=secret_key]").val(e.srcElement.result);
          }
          if (e.currentTarget && e.currentTarget.result) {
            $("textarea[name=secret_key]").val(e.currentTarget.result);
          }
    	},
    }
  };

  $(document).ready(function(){
    try {
      $("#file-input").fileReaderJS(opts);
      $(".select-file-option").show();
      $(".paste-file-option").hide();
    } catch (err) {
        $(".paste-file-option").show();
        $(".select-file-option").hide();
    }

    if ($.browser.webkit || $.browser.mozilla) {
        $(".select-file-option").show();
        $(".paste-file-option").hide();
    }
  })
</script>

<p>
{% trans "The fingerprint for the public part of your trustee key is:" %} <b>{{trustee.public_key_hash}}</b>
</p>

<div id="loading">
{% trans "Loading cryptographic functions..." %}
</div>

<div id="input" style="display:none;">
<div class="select-file-option">
<p>
{% trans "Select your trustee key file and press 'Verify'." %}
<p>
<input type="file" id="file-input" />
</div>
<div class="paste-file-option">
<p>
{% trans "To verify your trustee key, paste it here:" %}
<p>
<form onsubmit="check_sk(this.secret_key.value); this.secret_key.value=''; return false;">
<textarea name="secret_key" cols="60" rows ="5" wrap="soft">
</textarea>
</div>
<br/><br/>
    <p>
    {% blocktrans %}
    After your trustee key has been successfully verified
    you will be automatically logged out.
    {% endblocktrans %}
    </p>
<input class="button success medium" type="submit" value="{% trans "Verify" %}" />
</form>
</div>

<div id="processing" style="display:none;">
{% trans "Verifying private trustee key..." %}
</div>

<div id="result">
</div>


<div id="applet_div"></div>
{% endblock %}
