{% extends "election_page.html" %}
{% load pagination_tags i18n zeus_tags %} 

{% block title %}
{{ poll.name_display }} | {% trans "Voters" %}
{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}

<form>
Choose voters authentication<br>
<input type="radio" name="authentication" checked="checked" value="Zeus">Zeus<br>
<input type="radio" name="authentication" value="Third party">Third Party</br>
<input type="submit">
</form>

{% endblock %}
