{% extends TEMPLATE_BASE %}

{% block title %}Remove Administrator - {{election.name}}{% endblock %}

{% block content %}
  <h3 class="title">{{election.name}} &mdash; Remove Administrator <span style="font-size:0.7em;">[<a href="{% url "election@admins" election.uuid %}">cancel</a>]</span></h3>

<p>
    Are you sure you want to remove <strong>{{admin_to_remove.display_html_small|safe}}</strong> ({{admin_to_remove.user_id}}) as an administrator of this election?
</p>

<p>
    They will no longer be able to manage this election.
</p>

<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
<input type="hidden" name="email" value="{{admin_to_remove.user_id}}" />
<input type="hidden" name="user_type" value="{{admin_to_remove.user_type}}" />

<input class="button" type="submit" value="Remove Administrator" />
&nbsp;&nbsp;
<a href="{% url "election@admins" election.uuid %}">Cancel</a>
</form>

{% endblock %}
