{% extends "election_page.html" %}

{% block title %}{{election.name}}: Ψηφοφόροι{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block content %}
<h5>Μαζική προσθήκη ψηφοφόρων στην ψηφοφορία</h5>
<form method="post" action="" id="upload_form" enctype="multipart/form-data">
  {% csrf_token %}
  <p>
    Παρακαλούμε προετοιμάστε ένα αρχείο απλού κειμένου με τους ψηφοφόρους
    σε μορφή CSV, όπως το παρακάτω:
  </p>
  <pre>
      1,psifoforos1@idrima.minedu.gov.gr,Όνομα1,Επώνυμο1,Πατρώνυμο1,+306971234567
      2,psifoforos2@idrima.minedu.gov.gr,Όνομα2,Επώνυμο2,Πατρώνυμο2,+306971234568
      3,psifoforos3@idrima.minedu.gov.gr,Όνομα3,Επώνυμο3,Πατρώνυμο3,+306971234569
      ...
  </pre> 
  <u style="float:right">* Το πατρώνυμο και το κινητό τηλέφωνο είναι προαιρετικά</u>
  <br /><br />
  <p>
  Τα πεδία είναι με τη σειρά τα εξής:
  <ol>
    <li>Αριθμός μητρώου. Κάθε αριθμός αντιστοιχεί σε μία ψήφο.
        Δεν απαιτείται να είναι συνεχόμενοι. Εάν δεν υπάρχει μητρώο,
        απλά αριθμήστε τους ψηφοφόρους στον κατάλογό σας.
    </li>
    <li>E-mail του ψηφοφόρου στο οποίο θα λάβει πρόσκληση για να ψηφίσει.
        Ο ίδιος ψηφοφόρος (δηλαδή η ίδια διεύθυνση email) μπορεί να έχει
        παραπάνω από μία ψήφο εάν η διεύθυνσή του εμφανίζεται παραπάνω από
        μία φορά (με διαφορετικό αριθμό μητρώου, βέβαια).
    </li>
    <li>Όνομα του ψηφοφόρου</li>
    <li>Επώνυμο του ψηφοφόρου</li>
    <li>Πατρώνυμο ή άλλη επωνυμία του ψηφοφόρου (προαιρετικό)</li>
    <li>Κινητό τηλέφωνο του ψηφοφόρου (προαιρετικό)</li>
  </ol>
  </p>
  <p>
    Ο ευκολότερος τρόπος για να προετοιμάσετε ένα τέτοιο αρχείο είναι 
    να χρησιμοποιήσετε ένα πρόγραμμα υπολογιστικών φύλλων και να το εξάγετε σε μορφή CSV.
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
    
    <input type="file" name="voters_file" />
    <br /><br />
    <input class="button success" type="submit" value="Μεταφόρτωση αρχείου"/>
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  Η μεταφόρτωση ολοκληρώθηκε.<br />
  Μπορείτε τώρα να <a href="./manage">δείτε την λίστα των ψηφοφόρων</a>.
</div>

{% endblock %}
