{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block content %}
{% if error %}
    <div style="color: red;">{{error}}</div>
{% endif %}
<div id="header" class="col-md-12">
  <h2 class="title">{% trans "Extend Voting" %}
  </h2>
  <h3 class="title">{{election.name}}</h3>
</div>
<div class="col-md-4 col-xs-6">
  <form role="form" action="" method="POST" id="edit_election_form">
  <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
  {% for field in election_form.visible_fields %}
  <div class="form-group {% if field.errors %}has-error{% endif %}">
      {{ field.errors }}
      <label for="{{ field.label }}">{{ field.label }}</label>
      {{ field }}
      <p class="help-block">{{ field.help_text }}</p>
  </div>
  {% endfor %}
  <div class="form-group">
    <button id="next_button" type="submit" class="btn btn-primary">{% trans "Extend Voting" %}</button>
    <a class="btn btn-danger" href="{% url "helios.views.one_election_view" election.uuid %}">{% trans "cancel" %}</a>
  </div>
  </form>
</div>
{% endblock %}
