{% extends "helios/templates/cryptobase.html" %}

{% block title %}Questions for {{election.name}}{% endblock %}
{% block content %}
  <h3 class="title">{{election.name}} &mdash; Questions <span style="font-size:0.7em;">[<a href="{% url "one-election-view" election.uuid %}">back to election</a>]</span></h3>

  <script language="javascript">
{% if election.questions %}
  QUESTIONS = JSON.parse("{{questions_json|escapejs}}");
{% else %}
  QUESTIONS = [];
{% endif %}
{% if admin_p and not election.frozen_at %}
  ADMIN_P = true;
{% else %}
  ADMIN_P = false;
{% endif %}

  CSRF_TOKEN = '{{csrf_token}}';

  async function refresh() {
      await setupQuestionDiv();
      add_answers(document.getElementById('answer_table'),DEFAULT_NUM_ANSWERS);
 }
  
//  ??????????????????????
  // function save_questions(callback) {
  //     $.post('./save_questions', {'questions_json' : $.toJSON(QUESTIONS), 'csrf_token': CSRF_TOKEN}, function(result) {
  //         if (result == "FAILURE") {
  //           alert("The questions could not be saved. Please check that the URLs you entered are either http:// or https://");
  //         } else {
  //           callback();
  //         }
  //     });      
  // }
  function save_questions(callback) {
      var request = new XMLHttpRequest();
      request.open('POST', './save_questions', true);
      request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
      request.send('questions_json='+JSON.stringify(QUESTIONS)+'&csrf_token='+CSRF_TOKEN);
      request.onload = function() {
        callback();
      }
  }
  
  function get_question_from_form(form) {
      var max = null;
      if (form.max.value != "")
        max = parseInt(form.max.value);
        
      var new_q = {'question' : form.question.value, 'min': parseInt(form.min.value), 'max': max, 'short_name': form.question.value, 'answers': [], 'answer_urls': [], 'choice_type': form.choice_type.value, 'tally_type': 'homomorphic', 'result_type': form.result_type.value};
      var i = 0;
      while(true) {
          i += 1;
          if (!form['answer_' + i] || !form['answer_' + i].value)
            break;
          new_q.answers[i-1] = form['answer_' + i].value;
          new_q.answer_urls[i-1] = form['answer_url_' +i].value;
      }
      
      if (new_q.answers.length == 0) {
        return null;
      }
      
      return new_q;
  }

  function question_add(form) {
      var new_q = get_question_from_form(form);
      if (new_q) {
        QUESTIONS.push(new_q);
        save_questions(refresh);
      }
  }
  
  function question_remove(q_num) {
      var new_questions = [];
      QUESTIONS.forEach(function(q, i) {
          if (i == q_num)
            return;
          new_questions.push(q);
      });
      QUESTIONS = new_questions;
      save_questions(refresh);
  }

  function question_edit(q_num) {
    document.getElementById('q_view_'+q_num).style.display = 'none';
    document.getElementById('q_edit_'+q_num).style.display = 'block';

    // set the default values for this question
    var form = document.getElementById('question_edit_' + q_num + '_form');
    var q_data = QUESTIONS[q_num];
    form.min.value = q_data.min;
    form.max.value = q_data.max;
    form.question.value = q_data.question;
    form.result_type.value = q_data.result_type;

    // add the answers
    var answer_table = document.getElementById('answer_table_' + q_num);
    add_answers(answer_table, q_data.answers.length);
    (q_data.answers).forEach(function(a, i) {
     form['answer_' + (i+1)].value = a;
    });

    // URLs
    (q_data.answer_urls).forEach(function(a, i) {
     form['answer_url_' + (i+1)].value = a;
    });
  }

  function question_edit_cancel(q_num) {
    document.getElementById('q_edit_'+q_num).style.display = 'none';
    document.getElementById('q_view_'+q_num).style.display = '';
  }

  function question_update(q_num, form) {
      var new_q = get_question_from_form(form);
      QUESTIONS[q_num] = new_q;
      save_questions(refresh);
  }

  var DEFAULT_NUM_ANSWERS = 5;

  function add_answer(el) {
    // el = $(el);  ???????????????
    // var num_answers = el.find('input.answer').length + 1;
    var num_answers = el.querySelectorAll('input.answer').length + 1;
    
    // el.querySelector('tbody').innerHTML = el.querySelector('tbody').innerHTML + '<tr><th>&nbsp;&nbsp;&nbsp;</th><th>Answer #' + num_answers + '</th><td><input type="text" class="answer" name="answer_' + num_answers + '" size="70" /><br /><nobr>Link (optional, <tt>http</tt> or <tt>https</tt> only): <input type="url" name="answer_url_' + num_answers + '" width="50%" /></nobr></td></tr>';
    var el1 = document.createElement('tr');
    el1.innerHTML = '<th>&nbsp;&nbsp;&nbsp;</th><th>Answer #' + num_answers + '</th><td><input type="text" class="answer" name="answer_' + num_answers + '" size="70" /><br /><nobr>Link (optional, <tt>http</tt> or <tt>https</tt> only): <input type="url" name="answer_url_' + num_answers + '" width="50%" /></nobr></td>';
    el.querySelector('tbody').appendChild(el1);
  }

  function add_answers(el, num) {
    for (var i=0; i<num; i++)
      add_answer(el);
  }

  function question_move_up(num) {
    var temp_q = QUESTIONS[num];
    QUESTIONS[num] = QUESTIONS[num-1];
    QUESTIONS[num-1] = temp_q;
    save_questions(refresh);
  }

  // $(document).ready(function() {
  //     $('#questions').setTemplateURL("/static/helios/static_templates/question.html");

  //     refresh();
  // });
  window.onload = function() {
    console.log('Onload.....');
    if (document.readyState != 'loading'){
      startSetup();
    } else {
      document.addEventListener('DOMContentLoaded', startSetup);
    }
  }

  function startSetup() {
    refresh();
  }

  async function setupQuestionDiv() {
    const q_div = await import('/static/static_templates/question.js');
    document.getElementById('questions').innerHTML = q_div.question_markup; 
  }

  </script>

  <div id="questions">
  </div>
					
			<!-- end #content -->
{% endblock %}
