{% extends TEMPLATE_BASE %}
{% block title %}New Election{% endblock %}

{% load foundation %}

{% block content %}
  {% include "partials/election_progress.html" with current="create" %}

  <div class="row">
    <div class="large-12 columns">
      <h2>Create a New Election</h2>

      {% if error %}
        <p style="color: red;">
          {{error}}
        </p>
      {% endif %}

      <form method="POST" id="create_election_form">
        {{election_form|foundationinline}}

        <div class="row">
          <div class="large-9 large-offset-3 columns">
            <input type="submit" class="small button" value="Next" id="next_button" />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
