{% extends "election_page.html" %}
{% load i18n %}

{% block page_css %}election-page{% endblock %}

{% block extra_title %}
{{ block.super }}
{% endblock %}

{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block reveals %}
{% if admin %}
{% include "_reveal_freeze.html" %}
{% include "_reveal_close.html" %}
{% include "_reveal_tally.html" %}
{% include "_reveal_cancel.html" %}
{% include "_reveal_mix.html" %}
{% endif %}
{% endblock %}
{% block content %}
<div class="row">
{% if not election.feature_closed %}
{% include "_election_extended_notice.html" %}
{% else %}
{% if not election.feature_completed %}
<div class="columns twelve">
<div class="alert-box secondary">
{% blocktrans with date=election.voting_ended_at %}
Election closed at <em>{{ date }}</em>. Waiting for results.
{% endblocktrans %}
</div>
</div>
{% endif %}
{% endif %}
</div>
{% include "_election_information.html" %}
<div class="columns five election-contact">
  <h5>{% trans "Support" %}</h5>
  <ul>
    <li><b>{% trans "Election support email" %}: </b>{{ election.help_email }}</li>
      <li><b>{% trans "Election support phone" %}: </b>{{ election.help_phone }}</li>
  </ul>
</div>
<div class="columns seven election-actions">
{% if admin %}
{% include "_election_admin_actions.html" %}
{% endif %}
{% if voter %}
{% include "_election_voter_actions.html" %}
{% endif %}
</div>

{% endblock %}
