{% extends "election_page.html" %}

{% block title %}{{election.name}}: Υποψήφιοι{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}

{% if admin_p and not election.frozen_at %}
<div class="columns twelve">
  <form action="./questions" method="post">
    <p>Ανανεώστε την λίστα υποψηφίων και πατήστε αποθήκευση.</p>

    <div class="row labels">
      <div class="columns four">
        <label>Επώνυμο</label>
      </div>
      <div class="columns two">
        <label>Όνομα</label>
      </div>
      <div class="columns two">
        <label>Πατρώνυμο</label>
      </div>
      <div class="columns four">
        <label>Σχολή</label>
      </div>
      </div>
      {% for cand in candidates %}
    <div class="row">
      <div class="columns four">
        <input type="text" value="{{ cand.surname }}" name="candidates_lastname"  
        placeholder="Επώνυμο" />
      </div>
      <div class="columns two">
        <input type="text" value="{{ cand.name }}" name="candidates_name"  
        placeholder="Όνομα" />
      </div>
      <div class="columns two">
        <input type="text" value="{{ cand.father_name }}" name="candidates_fathers_name"
        placeholder="Πατρώνυμο" />
      </div>
      <div class="columns four">
        <select type="text" name="candidates_department">
          {% for department in departments %}
          <option {% if cand.department == department %}selected{% endif %} value="{{ department }}">{{ department }}</option>
          {% endfor %} 
        </select>
      </div>
      </div>
    {% endfor %}

    {% for i in empty_inputs %}
    <div class="row">
      <div class="columns four">
        <input type="text" value="{{ cand }}" name="candidates_lastname"  
        placeholder="Επώνυμο" />
      </div>
      <div class="columns two">
        <input type="text" value="{{ cand }}" name="candidates_name"  
        placeholder="Όνομα" />
      </div>
      <div class="columns two">
        <input type="text" value="{{ cand }}" name="candidates_fathers_name"
        placeholder="Πατρώνυμο" />
      </div>
      <div class="columns four">
        <select type="text" value="{{ cand }}" name="candidates_department">
          {% for department in departments %}
          <option value="{{ department }}">{{ department }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endfor %}
    <div class="row">
    <input type="submit" class="button success" value="Αποθήκευση">
    </div>
</form>
</div>
{% endif %}


<div class="columns 
  {% if admin_p and not election.frozen_at %}six{% else %}twelve{% endif %}">
  <div class="panel">
    <ol>
      {% for a in election.questions.0.answers %}
      <li>
      {{ a }}
      </li>
  {% empty %}
  <li><span class="label alert">Δεν έχουν προστεθεί υποψήφιοι</span></li>
  {% endfor %}
</ol>
</div>
</div>
{% endblock %}
