{% extends TEMPLATE_BASE %}
{% block title %}{% if poll %}
{{ poll.name_display }}
{% else %}
{{ election.name }}{% endif %}{% endblock %}


{% block head_subtitle %}
<div id="header" class="columns twelve">
<h4 id="election-name" class="subheader">
  <span class="inst">{{ election.institution.name }}</span>
  <span class="elname">{{ election.name }}</span>
  {% if poll and not poll.has_linked_polls %}<span class="pollname">{{ poll.name }}</span>{% endif %}
  <span class="extra-election-actions"></span>
</h4>
</div>
{% endblock %}

{% block tabs_menu %}
{% endblock %}
