{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block content %}
<h3 class="title">
    {{ election.name }} - {% trans "Register" %}
</h3>

{% if user %}
<p>
    {% trans "You are currently logged in as" %} {{user.user_id}} [{{user.user_type}}]
</p>
{% if voter %}
<p>
    {% trans "You are currently registered for this election." %}
</p>
{% else %}
<p>
    {% trans "You are <em>not</em> registered for this election." %}
</p>

<form method="post" action="{% url "election@register" election.uuid %}">
    <input type="submit" value="{% trans "Register" %}" />
</form>
{% endif %}

{% else %}
{% endif %}

{% endblock %}