{% extends TEMPLATE_BASE %}
{% block title %}Confirm Your Vote in {{election.name}}{% endblock %}

{% block content %}
  <div class="row">
    <div class="larger-12 columns">
      <h2>{{election.name}}&mdash;Vote Successfully Cast!</h2>

      <p>
        Congratulations, your vote has been <b>successfully cast</b>!
      </p>

      <h3>Your Smart Ballot Tracker</h3>

      <div class="panel callout">
        <p class="text-center">
          <tt class="big">{{vote_hash}}</tt>
        </p>
      </div>

      <p>
        <iframe src="{{socialbuttons_url}}" frameborder="0" border="0" style="width: 300px; height: 35px;" scrolling="no" align="middle"></iframe>
      </p>

      {% if logout %}
        <div data-alert class="alert-box info">
          For your safety, we have logged you out.
        </div>
      {% endif %}

      <a class="button" href="{% url helios.views.one_election_view election.uuid %}">Return to Election Info</a>

      {% if logout %}
        <iframe width="0" height="0" border="0" frameborder="0" src="/helios_auth/logout"></iframe>
      {% endif %}
    </div>
  </div>
{% endblock %}
