{% extends "helios/templates/trustee_home_base.html" %}

{% block content %}
<script language="javascript">

var PUBLIC_KEY, PROOF;

function clear_keys() {
    $('#sk_download').hide();
    $('#pk_form').hide();
    $('#buttons').show();
    $('#clear_button').hide();
    $('#reuse').hide();
}

function show_key_reuse() {
    $('#generator').hide();
    $('#reuse').show();
}

SECRET_KEY = null;

function reuse_key(secret_key_text) {
    SECRET_KEY = ElGamal.SecretKey.fromJSONObject(jQuery.secureEvalJSON(secret_key_text));

    $('#reuse').hide();
    setup_public_key_and_proof();
    show_pk();
}

// start collecting some local randomness
sjcl.random.startCollectors();

$(document).ready(function() {
    clear_keys();
    $('#generator').hide();

    // get some more server-side randomness for keygen
    $.getJSON('../../get-randomness', function(result) {
       sjcl.random.addEntropy(result.randomness);
       BigInt.setup(function() {
          ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
          $('#waiting_message').hide();
          $('#generator').show();
       });
    });
});


function generate_keypair() {
    $('#buttons').hide();
    
    try {
        SECRET_KEY = ELGAMAL_PARAMS.generate();
    } catch (e) {
        alert(e);
    }

    setup_public_key_and_proof();
}

function setup_public_key_and_proof() {    
    // generate PoK of secret key
    PROOF = SECRET_KEY.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
    PUBLIC_KEY = SECRET_KEY.pk;

    var pk_val = jQuery.toJSON({'pok': PROOF, 'public_key': PUBLIC_KEY});
    $('#pk_textarea').val(pk_val);
    $('#pk_hash').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY)));

    $('#clear_button').show();
    show_sk();
}

function show_sk() {
    $('#sk_download').show();
}

function download_sk() {
  try{
    var bb = new BlobBuilder;
    bb.append(jQuery.toJSON(SECRET_KEY));
    saveAs(bb.getBlob("text/plain;charset=utf-8"), "election_key.txt");
  } catch (err) {
    UTILS.open_window_with_content(jQuery.toJSON(SECRET_KEY), "application/json");
  }
}

function show_pk() {
    $('#sk_download').hide();
    $('#pk_hash').show();
    $('#pk_form').show();
}

</script>

<p>
Ως επίτροπος πρέπει να δημιουργησετε το κλειδί σας για αυτές τις εκλογές.
</p>

<p id="waiting_message">
  Παρακαλώ περιμένετε για τον γεννήτορα να φορτώσει...
</p>

<p id="generator">

<span id="buttons"><button onclick="generate_keypair(); return false;" id="generate_button">Generate Election Keys</button></span>

<br /><br />
Εάν έχετε ήδη δημιουργήσει το ζεύγος κλειδιών μπορείτε να το <a href="javascript:show_key_reuse()">επαναχρησιμοποιήσετε</a>.
</p>

<div id="reuse">
<h3>Επαναχρησιμοποίηση Κλειδιού</h3>

<p>
Εισάγετε το μυστικό κλειδί σας παρακάτω:
</p>
<form onsubmit="reuse_key(this.secret_key.value); return false;">
<textarea cols="80" rows="5" wrap="soft" name="secret_key">
</textarea>
<br />
<input type="submit" value="reuse" />
</form>
</div>

<div id="sk_download">
<h3>Το μυστικό κλειδί σας</h3>
<span id="clear_button">
Το κλειδί σας έχει παραχθεί αλλά εάν θέλετε μπορείτε να το <br /><a href="javascript:clear_keys();">διαγράψετε από την μνήμη και να ξεκινήσετε από την αρχή.</a> <br />
</span>

<p>
    <button style="font-size:16pt;" onclick="download_sk(); $('#pk_link').show();">Σώστε το μυστικό κλειδί σας</button>
</p>

<p style="display: none;" id="pk_link">
  <a href="javascript:show_pk();">Εντάξει έσωσα το μυστικό κλειδί. Ας συνεχίσουμε</a>.
</p>
</div>

<form method="post" id="pk_form" action="{% url helios.views.trustee_upload_pk election.uuid, trustee.uuid %}">
<h3>Το δημόσιο κλειδί σας</h3>
<p>
    Τώρα πρέπει να φορτώσετε το δημόσιο κλειδί σας στον εξυπηρετητή.
</p>
<p>
    Το αποτύπωμα του κλειδιού σας είναι: <tt id="pk_hash" style="font-size: 1.5em; font-weight: bold;"></tt>.<br />
  Μπορεί να θέλετε να αποθηκεύσετε το αποτύπωμα και να επιβεβαιώσετε ότι το δημόσιο κλειδί σας έχει αποθηκευτεί σωστά από το διακομιστή.<br />
    (Το δημόσιο κλειδί σας δεν εμφανίζεται επί του παρόντος επειδή δεν χρειάζεται να το αποθηκεύσετε. Το δακτυλικό αποτύπωμα είναι επαρκές.)
</p>
<textarea id="pk_textarea" name="public_key_json" cols="80" rows="10" style="display:none;">
</textarea>
<input type="submit" value="Upload your public key">
</form>

<div id="applet_div"></div>
<br /><br />
{% endblock %}
