{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Freeze Ballot</h2>
<p>
Once the ballot is frozen, the questions and available choices can no longer be modified.<br />
The list of trustees and their public keys will also be frozen.
</p>

<p>
{% if election.openreg %}
Your election currently has <b>open registration</b>. After you freeze the ballot, you will be able to continue to manage the voter list while the election runs. You will <em>not</em> be able to switch back to a closed-registration setting.
{% else %}
Your election currently has <b>closed registration</b>.<br />After you freeze the ballot, you also will <em>not</em> be able to modify the voter list, nor will you be able to re-open registration.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
You must freeze the ballot before you can contact voters.
</p>
{% endif %}

{% if issues_p %}
<p>
    There are <b>problems</b> that prevent you from freezing the election:
    <ul>
        {% for issue in issues %}
        <li>{{issue}}</li>
        {% endfor %}
    </ul>
    <a href="{% url helios.views.one_election_view election.uuid %}">go back to the election</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="pretty" type="submit" value="freeze!" />
<button onclick="document.location='./view'; return false;">never mind</button>
</form>
{% endif %}

<br /><br />
{% endblock %}