{% extends TEMPLATE_BASE %}
{% block title %}Admin for {{election.name}}{% endblock %}

{% block content %}
  {% include "partials/election_progress.html" with current="admin" election=election %}

  <div class="row">
    <div class="large-12 columns">
      <h2>
        {{ election.name }}&mdash;Admin

        {% if not election.frozen_at %}
          <small>[<a href="{% url 'helios.views.one_election_edit' election.uuid %}">Edit</a>]</small>
        {% endif %}

        {% if not election.private_p %}
          {% if can_feature_p %}
            {% if election.featured_p %}
              <small>[<a href="{% url 'helios.views.one_election_set_featured' election.uuid %}?featured_p=0">Unfeature</a>]</small>
            {% else %}
              <small>[<a href="{% url 'helios.views.one_election_set_featured' election.uuid %}?featured_p=1">Feature</a>]</small>
            {% endif %}
          {% endif %}
        {% endif %}

        {% if election.is_archived %}
          <small>[<a href="{% url 'helios.views.one_election_archive' election_uuid=election.uuid %}?archive_p=0">Unarchive</a>]</small>
        {% else %}
          <small>[<a href="{% url 'helios.views.one_election_archive' election_uuid=election.uuid %}?archive_p=1">Archive</a>]</small>
        {% endif %}
      </h2>

      <p>
        On this page you will find the procedure that has to be followed to get this election up and running. You'll notice that there are quite a few steps, but all of them are well-explained once you get there. The blue box that is shown at the top, gives you a reminder of which task is next. Below all steps you will find a button that takes you to its page.
      </p>

      <h3>Procedure</h3>

      <div class="row" id="next-help">
        <div class="large-12 columns">
          <div data-alert class="alert-box info">
            <b>Next</b>

            {% if election.use_threshold %}
              {% if not election.encrypted_shares_uploaded %}
                {% if not election.frozen_trustee_list %}
                  Manage the election's trustees. When you're done, you can freeze the trustee list and define the threshold scheme.
                {% else %}
                  Wait for the key ceremony to be performed. In the meantime, you can continue with the next step in the procedure.
                {% endif %}
              {% else %}
                {% if not election.result %}
                  {% if not election.frozen_at %}
                    {% if election.issues_before_freeze %}
                      {% if election.issues_before_freeze|length > 1 %}
                        {% for issue in election.issues_before_freeze %}
                          {{forloop.counter}}. {{issue.action}}{% if not forloop.last %}<i class="spacer"></i>{% endif %}
                        {% endfor %}
                      {% else %}
                        {{election.issues_before_freeze.0.action}}
                      {% endif %}
                    {% else %}
                      Freeze ballot and open election. {% if election.voting_starts_at %}Once you do this, the election will be ready for voting and will open automatically at {{election.voting_starts_at}}, as per your settings.{% else %}Once you do this, the election will be immediately open for voting.{% endif %}
                    {% endif %}
                  {% else %}
                    {% if not election.encrypted_tally %}
                      {% ifequal election.num_cast_votes 0 %}
                        Wait for the voters to cast their ballots. {% if not election.voting_ends_at %}The election will end at your discretion.{% else %}The election will automatically end at {{election.voting_ends_at}}.{% endif %}
                      {% else %}
                        {% if election.tallying_started_at %}
                          Tally computation is under way. Reload this page in a couple of minutes.
                        {% else %}
                          Compute encrypted tally. The encrypted votes will be combined into an encrypted tally. Once this is done, the trustees will be asked to provide their share of the decryption.
                        {% endif %}
                      {% endifequal %}
                    {% else %}
                      {% ifequal election.num_trustees 1 %}
                        Release results.
                      {% else %}
                        Combine trustee decryptions and release results. The decryption shares from the trustees are combined and the tally is decrypted.
                      {% endifequal %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% else %}
              {% if not election.result %}
                {% if not election.frozen_at %}
                  {% if election.issues_before_freeze %}
                    {% if election.issues_before_freeze|length > 1 %}
                      {% for issue in election.issues_before_freeze %}
                        {{forloop.counter}}. {{issue.action}}{% if not forloop.last %}<i class="spacer"></i>{% endif %}
                      {% endfor %}
                    {% else %}
                      {{election.issues_before_freeze.0.action}}
                    {% endif %}
                  {% else %}
                    Freeze the ballot and open election.

                    {% if election.voting_starts_at %}
                      Once you do this, the election will be ready for voting and will open automatically at {{election.voting_starts_at}}, as per your settings.
                    {% else %}
                      Once you do this, the election will be immediately open for voting.
                    {% endif %}
                  {% endif %}
                {% else %}
                  {% if not election.encrypted_tally %}
                    {% ifequal election.num_cast_votes 0 %}
                      Wait for the voters to cast their ballots. {% if not election.voting_ends_at %}The election will end at your discretion.{% else %}The election will automatically end at {{election.voting_ends_at}}.{% endif %}
                    {% else %}
                      {% if election.tallying_started_at %}
                        Tally computation is under way. Reload this page in a couple of minutes.
                      {% else %}
                        Compute encrypted tally. The encrypted votes will be combined into an encrypted tally. Once this is done, the trustees will be asked to provide their share of the decryption key.
                      {% endif %}
                    {% endifequal %}
                  {% else %}
                    {% ifequal election.num_trustees 1 %}
                      Release results.
                    {% else %}
                      The decryption shares from the trustees are combined and the tally is decrypted.
                    {% endifequal %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>

      <ol>
        <li><s>Create a new election.</s></li>
        <li>
          {% if election.use_threshold %}
            {% if election.trustees_added_public_keys %}<s>{% endif %}Manage the election's trustees.{% if election.trustees_added_public_keys %}</s>{% endif %}
            <ol>
              <li>{% if election.num_trustees > 0 %}<s>{% endif %}Enter their names and e-mail addresses and send them the link to their dashboard.{% if election.num_trustees > 0 %}</s>{% endif %}</li>
              <li>{% if election.frozen_trustee_list %}<s>{% endif %}Freeze the trustee list and define the threshold scheme. Once the list is frozen, it can no longer be modified. The threshold scheme determines how many trustees will need to present their keys in order to decrypt the result.{% if election.frozen_trustee_list %}</s>{% endif %}</li>
              <li>{% if election.trustees_added_communication_keys and election.trustees_added_encrypted_shares and election.trustees_added_public_keys %}<s>{% endif %}Wait for the key ceremony to be performed. In the meantime, you can continue with the next step in the procedure.{% if election.trustees_added_communication_keys and election.trustees_added_encrypted_shares and election.trustees_added_public_keys %}</s>{% endif %}
                <ol>
                  <li>{% if election.frozen_trustee_list and election.trustees_added_communication_keys %}<s>{% endif %}All trustees should upload their communication keys. When the last has been added, they will all receive an e-mail to start the second step.{% if election.trustees_added_communication_keys %}</s>{% endif %}</li>
                  <li>{% if election.frozen_trustee_list and election.trustees_added_encrypted_shares %}<s>{% endif %}Each trustee should generate <i>encrypted shares</i> for the others. These shares will be used in the last step to determine the part of the election key that each trustee will receive. Again, an e-mail will be sent to all trustees when the last share has been uploaded.{% if election.trustees_added_encrypted_shares %}</s>{% endif %}</li>
                  <li>{% if election.frozen_trustee_list and election.trustees_added_public_keys %}<s>{% endif %}Finally, all trustees have to decrypt their shares and retrieve their part of the key that will be used to encrypt the ballots.{% if election.trustees_added_public_keys %}</s>{% endif %}</li>
                </ol>
              </li>
            </ol>
          {% else %}
            {% if election.num_trustees > 0 %}<s>{% endif %}Manage the election's trustees.{% if election.trustees|length > 0 %}</s>{% endif %}
            <ol>
              <li>{% if election.num_trustees > 0 %}<s>{% endif %}Enter their names and e-mail addresses and send them the link to their dashboard.{% if election.num_trustees > 0 %}</s>{% endif %}</li>
              <li>{% if election.num_trustees > 0 and election.trustees_added_public_keys %}<s>{% endif %}Wait for the trustees to generate their public keys.{% if election.num_trustees > 0 and election.trustees_added_public_keys %}</s>{% endif %}</li>
            </ol>
          {% endif %}
        </li>
        <li>{% if election.questions %}<s>{% endif %}Add questions to the ballot.{% if election.questions %}</s>{% endif %}</li>
        <li>{% if election.openreg or election.num_voters > 0 %}<s>{% endif %}Enter your voter list (or open registration to the public).{% if election.openreg or election.num_voters > 0 %}</s>{% endif %}</li>
        <li>{% if election.frozen_at %}<s>{% endif %}Freeze ballot and open election. {% if election.voting_starts_at %}Once you do this, the election will be ready for voting and will open automatically at {{election.voting_starts_at}}, as per your settings.{% else %}Once you do this, the election will be immediately open for voting.{% endif %}{% if election.frozen_at %}</s>{% endif %}</li>
        <li>{% if election.num_cast_votes > 0 %}<s>{% endif %}Wait for the voters to cast their ballots. {% if not election.voting_ends_at %}The election will end at your discretion.{% else %}The election will automatically end at {{election.voting_ends_at}}.{% endif %}{% if election.num_cast_votes > 0 %}</s>{% endif %}</li>
        <li>{% if election.tallying_started_at %}<s>{% endif %}Compute encrypted tally. The encrypted votes will be combined into an encrypted tally.{% if election.tallying_started_at %}</s>{% endif %}</li>
        {% if election.use_threshold %}
          <li>{% if election.ready_for_decryption_combination %}<s>{% endif %}Wait for the trustees to provide their share of the key used to encrypt the ballots.{% if election.ready_for_decryption_combination %}</s>{% endif %}</li>
        {% endif %}
        <li>{% if election.result %}<s>{% endif %}Release tally.{% if election.result %}</s>{% endif %}</li>
      </ol>

      {% if election.use_threshold %}
        {% if not election.frozen_trustee_list %}
          {% ifequal election.num_trustees 0 %}
            <a class="button" href="{% url 'helios.views.trustees_list_view' election.uuid %}">Trustees &raquo;</a>
          {% else %}
            <a class="button" href="{% url 'helios.views.trustees_freeze' election.uuid %}">Freeze Trustee List &raquo;</a>
          {% endifequal %}
        {% else %}
          {% if not election.questions %}
            <a class="button" href="{% url 'helios.views.one_election_questions' election.uuid %}">Questions &raquo;</a>
          {% else %}
            {% if not election.openreg and election.num_voters == 0 %}
              <a class="button" href="{% url 'helios.views.voters_list_pretty' election.uuid %}">Voters &raquo;</a>
            {% else %}
              {% if not election.frozen_at and election.issues_before_freeze|length == 0 %}
                <a class="button" href="{% url 'helios.views.one_election_freeze' election.uuid %}">Freeze Ballot &raquo;</a>
              {% else %}
                {% if not election.ready_for_decryption_combination %}
                  {% if not election.ready_for_decryption and election.num_cast_votes > 0 and not election.tallying_started_at %}
                    <a class="button" href="{% url 'helios.views.one_election_compute_tally' election.uuid %}">Compute Tally &raquo;</a>
                  {% endif %}
                {% else %}
                  {% if not election.result %}
                    <a class="button" href="{% url 'helios.views.combine_decryptions' election.uuid %}">Release Tally &raquo;</a>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      {% else %}
        {% ifequal election.num_trustees 0 %}
          <a class="button" href="{% url 'helios.views.trustees_list_view' election.uuid %}">Trustees &raquo;</a>
        {% else %}
          {% if not election.questions %}
            <a class="button" href="{% url 'helios.views.one_election_questions' election.uuid %}">Questions &raquo;</a>
          {% else %}
            {% if not election.openreg and election.num_voters == 0 %}
              <a class="button" href="{% url 'helios.views.voters_list_pretty' election.uuid %}">Voters &raquo;</a>
            {% else %}
              {% if not election.frozen_at and election.issues_before_freeze|length == 0 %}
                <a class="button" href="{% url 'helios.views.one_election_freeze' election.uuid %}">Freeze Ballot &raquo;</a>
              {% else %}
                {% if not election.ready_for_decryption_combination %}
                  {% if not election.ready_for_decryption and election.num_cast_votes > 0 and not election.tallying_started_at %}
                    <a class="button" href="{% url 'helios.views.one_election_compute_tally' election.uuid %}">Compute Tally &raquo;</a>
                  {% endif %}
                {% else %}
                  {% if not election.result %}
                    <a class="button" href="{% url 'helios.views.combine_decryptions' election.uuid %}">Release Tally &raquo;</a>
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endifequal %}
      {% endif %}

      {% if election.issues_before_freeze %}
        <h3>Issues</h3>

        <div data-alert class="alert-box warning">
          {% if election.issues_before_freeze|length > 1 %}
            {% for issue in election.issues_before_freeze %}
              {{forloop.counter}}. {{issue.action}}{% if not forloop.last %}<i class="spacer"></i>{% endif %}
            {% endfor %}
          {% else %}
            {{election.issues_before_freeze.0.action}}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      {% if election.result %}
        <div data-alert class="alert-box info">
          This election is complete.
        </div>
      {% endif %}

      {% if election.frozen_at %}
        <h3>Embed an Election Badge</h3>

        <p>Adding the following HTML to your site displays a thin banner with direct links to vote.</p>
        <textarea class="no-margin" cols="90" wrap="soft">&lt;iframe src="{{election_badge_url}}" frameborder="0" style="border: 1px solid black" height="75" width="200"&gt;&lt;/iframe&gt;</textarea>
      {% endif %}
    </div>
  </div>

  <script language="javascript">
    $(document).ready(function (){
      if ($('#next-help .alert-box').html().trim() == '<b>Next</b>')
        $('#next-help').remove();
    });
  </script>
{% endblock %}
