{% extends "election_page.html" %}
{% load i18n %}

{% block title %}{{election.name}}: Voters{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block content %}
<h5>{% trans "Bulk upload voters" %}</h5>

{% if error %}
<div class="panel alert-box alert">
  {% trans "Error in reading file." %} ({{ error }})
</div>
{% else %}
<p>
{% trans "There were" %} <b>{{ count }}</b> {% trans "entries read from the uploaded file." %}
</p>

<table>
  <thead>
      <tr>
          <th>{% trans "Registration ID" %}</th>
          <th>{% trans "Email" %}</th>
          <th>{% trans "Given name" %}</th>
          <th>{% trans "Surname" %}</th>
          <th>{% trans "Middle or other name" %}</th>
          <th>{% trans "Mobile phone" %}</th>
      </tr>
  </thead>
  <tbody>
{% for v in voters %}
{% if forloop.counter > 7 %}
<tr style="display:none">
{% else %}
<tr>
{% endif %}
    <td>{{v.voter_id}}</td><td>{{v.email}}</td>
    <td>{{v.name}}</td><td>{{v.surname}}</td>
    <td>{{ v.fathername }}</td><td>{{ v.mobile }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<span class="button tiny more-voters" style="display:none">
    {% trans "Show all voters" %}
</span>
<script>
    $(document).ready(function(){
        if ($("tr:hidden").length > 0) {
            $(".more-voters").show();
        }
        $(".more-voters").click(function(){
            $("tr").show();
            $(".more-voters").hide();
        })
    })
</script>
<p></p>
<form method="post" action="" id="upload_form">
  {% csrf_token %}
  {% blocktrans %}The voters above will be enrolled. Note that you can also review and
  edit the complete voter list from the control panel.{% endblocktrans %}
  <input type="hidden" name="confirm_p" value="1" />
  <br /><br />
  <input class="button success" type="submit" value="{% trans "Confirm voters" %}" />
</form>
{% endif %}
<form 
    method="post"
    action="{% url election_poll_voters_upload_cancel election.uuid poll.uuid %}">
    {% csrf_token %}
    <input type="submit" class="button alert small" 
    value="{% trans "Cancel voter enrollment" %}" />
</form>
{% endblock %}
