{% extends "election_page.html" %}

{% block title %}{{election.name}}: Voters{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block content %}
<h5>Enroll voters for poll</h5>
<form method="post" action="" id="upload_form" enctype="multipart/form-data">
  {% csrf_token %}
  <p>
  Please, prepare a simple text file with the voters in CSV form,
  as in the example:
  </p>
  <pre>
      1,voter1@some.institution.tld,John,Doe,F.,+306971234567
      2,voter2@some.institution.tld,Edgar,Poe,Allan,+306971234568
      3,voter3@some.institution.tld,Jessy,Loe,M,+306971234569
      ...
  </pre> 
  <u style="float:right">*The last two fields (middle name and mobile phone) are optional</u>
  <br /><br />
  <p>
  The fields are, in order:
  <ol>
    <li>Registration number. Each such number corresponds to one vote.
    The numbering is not required to be sequential. If no registration numbers
    are available or you do not wish to use them, simply enumerate the voters
    using 1, 2, 3, ..., etc.
    </li>
    <li>Personal Email of the voter where they will receive the secret invitation to vote.
    Multiple registered entries may have the same Email address,
    if the same person is eligiible to more than one votes
    (e.g. when representing multiple parties separately).
    </li>
    <li>The voter's given name</li>
    <li>The voter's surname</li>
    <li>The voter's middle name, or other title or name (optional)</li>
    <li>A personal mobile phone number of the voter (optional)</li>
  </ol>
  </p>
  <p>
    The easiest way to prepare such a file is to first prepare it
    as a spreadsheet and then export it in CSV form.
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
    
    <input type="file" name="voters_file" />
    <br /><br />
    <input class="button success" type="submit" value="Upload file"/>
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  Upload complete.<br />
  You can now να <a href="./manage">review the voter list</a>.
</div>

{% endblock %}
