{% extends TEMPLATE_BASE %}
{% load timezone_tags %}

{% block content %}

  <h2 class="title">Election {{election.name}} Already Tallied</h2>

  <p>
      This election has already been tallied, you can no longer cast a vote.
  </p>
  
  <p>
      {% if election.voting_start_at %}Voting start at {{election.voting_start_at|utc_time}}<br />{% endif %}
      {% if election.voting_end_at %}Voting end at {{election.voting_end_at|utc_time}}<br />{% endif %}
  </p>
  
  <p>
      <a href="{% url "election@view" election.uuid %}">view the election tally</a>
  </p>
{% endblock %}