{% extends "helios/templates/trustee_home_base.html" %}
{% load i18n zeus_tags %}

{% if election.feature_trustee_decrypt %}
{% block js %}
{{ block.super }}
<script src="/static/zeus/javascript/trustee_decrypt.js"></script>
{% endblock %}
{% endif %}

{% block content %}
<p>
{% if trustee.public_key_hash %}
{% trans "The public part of your trustee key has been successfully uploaded." %}<br />
{% trans "Please," %}<a href="{% url election_trustee_check_sk election.uuid %}{% if election.any_poll_feature_can_partial_decrypt %}?redirect={% url election_trustee_home election.uuid %}{% endif %}" id="check_sk_link">
{% trans "confirm you indeed possess the trustee key" %}</a>, {% trans "if you haven't." %}
{% else %}
<a href="{% url election_trustee_keygen election.uuid %}">{% trans "generate trustee key" %}</a>
{% endif %}
</p>

<p>
{% if election.any_poll_feature_can_partial_decrypt %}
{% if trustee.partial_decryptions_finished %}
{% trans "Your partial decryption has been successfully uploaded." %}
{% else %}
{% include "_trustee_decrypt.html" %}
{% endif %}
{% else %}
{% trans "After voting is over, you must revisit this page to decrypt the results." %}
{% endif %}
</p>

{% endblock %}
