{% extends TEMPLATE_BASE %}
{% block title %}{{ election.name }}{% endblock %}


{% block head_subtitle %}
   <h4 id="election-name" class="subheader">
       <span class="inst">{{ election.institution.name }}</span>
       <span class="elname">
           {{election.name}}
           </span>
           <span class="button small
        election-desc-toggle">Πληροφορίες</span>
{% if election.is_archived %}
<span class="medium label alert">αρχείο</span>
{% endif %}
<div class="extra-election-actions">
  {% block extra_title %}
  {% if admin_p %}
  {% if not election.voting_ended_at %}
  <a class="button small" href="{% url helios.views.one_election_edit election.uuid %}">Επεξεργασία</a>
  {% endif %}
<a class="button small" href="{% url helios.views.one_election_view election.uuid %}">
  Προβολή εκκρεμοτήτων</a>
{% if election.completed %}
{% endif %}
{% endif %}
{% endblock %}
</div>
</h4>
  <div id="election-description-modal" class="reveal-modal">
    <h4>{{ election.name }}</h4>
    <p class="election-description-in-modal">{{ election.description }}</p>
      <br /><br />
      <u>Στοιχεία επικοινωνίας</u>
      <br /><Br />
      <ul>
          <li><b>Email:</b>{{ election.help_email }}</li>
          <li><b>Τηλέφωνο:</b>{{ election.help_phone }}</li>
      </ul>
  </div>
  <div id="election-description">
    <p class="election-description">{{ election.description }}</p>
  </div>
  <script>
    $("span.election-desc-toggle").live("click", function(){
      $('#election-description-modal').reveal();
    })
</script>
  {% endblock %}

  {% block tabs_menu %}
  {% endblock %}
