{% extends "election_page.html" %}

{% block page_css %}election-page{% endblock %}

{% block extra_title %}
{{ block.super }}
{% endblock %}

{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block content %}
{% if election.voting_has_started %}
<script>
if (!navigator.javaEnabled()) {
//
// even if Java is not enabled, we now have a server-side solution
//
//  $(document).ready(function() {
//    $('#votelink').hide();
//    $('#nojava_message').show();    
//  });
//
}
</script>
{% endif %}


<div class="row">
  <div class="columns six"><i>Έναρξη ψηφοφορίας στις:</i> <b>{{ election.voting_starts_at }}</b></div>
  <div class="columns six"><i>Λήξη ψηφοφορίας στις:</i> <b>
      {% if election.voting_extended_until %}
      {{ election.voting_extended_until }}
      {% else %}
      {{ election.voting_ends_at }}
      {% endif %}</b></div>

</div>
<br/>
<div class="row">
  <div class="columns six"><i>Σύνολο ψηφοφόρων:</i> <b>{{ election.voter_set.count }}</b></div>
</div>
<br /><br />
{% if admin_p %}
{% if election.result %}
{% else %}
{% if not election.frozen_at %}
  <h5>Ακολουθήστε τα παρακάτω βήματα για την ολοκλήρωση της ψηφοφορίας</h5>
{% if election.issues_before_freeze %}
<ul>
  {% for issue in election.issues_before_freeze %}
  <li>
  {{issue.action}}{% if forloop.last %}{% else %}{% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<a class="button medium success" href="{% url helios.views.one_election_freeze election.uuid %}">
Οριστικοποίηση ψηφοφορίας</a>
<p>Η ψηφοφορία θα αρχίσει στις {{ election.voting_starts_at }}</p>
{% endif %}

{% else %}

{% if not election.tallied %}
{% if election.tallying_started_at %}
Η διαδικασία μείξης έχει ξεκινήσει. Παρακαλούμε ανανεώστε τη σελίδα
ανά τακτά χρονικά διαστήματα μέχρι να ολοκληρωθεί η διαδικασία.
{% else %}
{% if election.num_cast_votes %}
<a class="button success" href="{% url helios.views.one_election_compute_tally election.uuid %}">Λήξη της ψηφοφορίας</a><br />
{% else %}
<a class="button success disabled secondary">Λήξη της ψηφοφορίας</a><br />
{% endif %}
{% endif %}
{% else %}

{% if election.ready_for_decryption_combination %}
{% if election.num_trustees == 1 %}
release results
{% else %}
Αποκρυπτογράφηση τελικών ψηφοδελτίων......
{% endif %}
<br />
{% if election.num_trustees == 1 %}
Τα τελικά ψηφοδέλτια έχουν αποκρυπτογραφηθεί.
{% else %}
{% endif %}
{% else %}
{% if election.encrypted_tally %}
<a class="button success" href="{% url helios.views.list_trustees_view election.uuid %}">
  Τα μέλη της εφορευτικής επιτροπής πρέπει να αποκρυπτογραφήσουν τα τελικά ψηφοδέλτια</a>
{% else %}
Παρακαλούμε περιμένετε για την επαλήθευση της διαδικασίας της μείξης.
{% endif %}
{% endif %}

{% endif %}

{% endif %}
</span>

{% endif %}

</p>

{% endif %}

{% if election.result %}
<h5>Η ψηφοφορία έχει ολοκληρωθεί</h5>

{% if admin_p %}
{% if election.ecounting_request_send %}
<p>
Τα αποκρυπτογραφημένα ψηφοδέλτια έχουν σταλεί στο <b><a
        href="http://e-counting.minedu.gov.gr">σύστημα
        e-counting</a></b>
{% else %}
<a href="{% url helios.views.election_post_ecounting election.uuid %}">Αποστολή δεδομένων στην 
πλατφόρμα ecounting</a>
{% endif %}
<br /><br />
<a href="{% url helios.views.election_zeus_proofs election.uuid  %}">Αποθήκευση κρυπτογραφικών δεδομένων</a>
{% endif %}
{% else %}

{% if election.voting_has_stopped %}
<span class="highlight-box round">
Η ψηφοφορία έχει λήξει οριστικά.
</span><br />
{% else %}

{% if election.voting_has_started and not admin_p %}
<span class="highlight-box round" style="font-size: 1.6em; margin-right: 10px;" id="votelink">
<a class="button success large" href="{{test_cookie_url}}">Συμμετοχή στην ψηφοφορία</a>
</span><br />
<br />
{% else %}
<span class="highlight-box round">
  {% if not admin_p %}
  Η ψηφοφορία αρχίζει στις {{ election.voting_starts_at}}
  {% endif %}
</span> <br /><br />
{% endif %}

{% if user %}
{% if voter %}
<p style="padding-top:1px;">
  Έχετε καταχωρηθεί ως ψηφοφόρος σε αυτήν την {{election.election_type}}
{% if election.use_voter_aliases %}
με ψευδώνυμο {{voter.alias}}
{% endif %}
.
</p>

{% else %}
{% endif %}
{% endif %}
{% endif %}
{% endif %}

{% if election.voting_extended_until %}
<div class="alert-box alert">
H ψηφοφορία ήταν προγραμματισμένη αρχικά να λήξει στις {{election.voting_ends_at}},<br />
αλλά παρατάθηκε μέχρι τις {{ election.voting_extended_until }}.
</div>
{% else %}
{% if election.voting_ends_at %}
<br />
{% else %}
Ο χρόνος της λήξης αυτής της {{election.election_type}} είναι
στη διακριτική ευχέρεια του διαχειριστή της.
{% endif %}
<br />
{% endif %}


{% if 0 %}
<div style="background: lightyellow; padding:5px; padding-left: 10px; margin-top: 15px; border: 1px solid #aaa; width: 720px;" class="round">
<a href="#" onclick="$('#auditbody').slideToggle(250);">Audit Info</a>
<div id="auditbody" style="display:none;">
<br />Election URL:<br />
<tt style="font-size: 1.2em;"><a href="{{election.url}}">{{election.url}}</a></tt>

{% if election.frozen_at %}
<br />
<br />Αποτύπωμα Ψηφοφορίας<br />
<tt style="font-size: 1.3em; font-weight: bold;">{{election.hash}}</tt>


{% if votes %}
<p>Το αποτύπωμα της ψήφου σας<br/>
<tt style="font-size:14pt; font-weight: bold;">{{votes.0.vote_hash}}</tt>
</p>
{% endif %}

<p style="font-size: 1.3em;">
<a href="{% url helios.views.voters_list_pretty election.uuid %}">Ballot Tracking Center</a> &nbsp;| &nbsp;
<a href="{% url helios.views.one_election_audited_ballots election.uuid %}">Audited Ballots</a>
</p>

{% if not election.voting_has_started %}
<p style="font-size: 1.2em;">
  <a href="{{SECURE_URL_HOST}/booth/vote.html?election_url={% url helios.views.one_election election.uuid %}"
>προεπισκόπηση του ψηφοδελτίου</a>
</p>
{% endif %}  

{% endif %}

{% if election.voting_has_stopped %}
<p style="font-size: 1.2em;">
{% if election.result %}
Επαληθεύστε <a target="_blank" href="/verifier/verify.html?election_url={% url helios.views.one_election election.uuid %}">τη διαδικασία της ψηφοφορίας</a>.
{% endif %}

δείτε <a href="{{vote_url}}">ψηφιακό παραπέτασμα</a> της ψηφοφορίας.
</p>
{% endif %}

</div>
</div>
{% endif %}




{% endblock %}
