{% extends TEMPLATE_BASE %}
{% block title %}Confirm Your Vote in {{election.name}}{% endblock %}

{% load foundation %}

{% block content %}
  <script language="javascript">
    $(document).ready(function() {
      $('#waiting_div').hide();
    });

    function show_waiting() {
      $('#all_forms').hide();
      $('#waiting_div').show();
    }

    // FIXME: set this to false once it's clear how to set it back to true
    // so that it's not easy to forget to cast a ballot
    var ready_to_unload = true;

    window.onbeforeunload = function(evt) {
      if (ready_to_unload)
        return;

      if (typeof evt == 'undefined') {
        evt = window.event;
      }

      var message = "You have not yet cast your ballot! Make sure to complete the voting process if you want your vote to count.";

      if (evt) {
        evt.returnValue = message;
      }

      return message;
    };
  </script>

  <div class="row">
    <div class="large-12 columns">
      <h2>{{election.name}}&mdash;Confirm Your Vote</h2>

      <p>
        We have received, <b>but not yet recorded</b>, your encrypted ballot.
      </p>

      <h3>Your Smart Ballot Tracker</h3>

      <div class="panel callout">
        <p class="text-center">
          <tt class="big">{{vote_fingerprint}}</tt>
        </p>
      </div>

      <div id="waiting_div">
        <p>
          Verifying and casting your ballot...
        </p>

        <p class="text-center">
          <img src="/static/helios/loading.gif" />
        </p>
      </div>

      <div id="all_forms">
        {% if voter %}
          {% if election.voting_has_started %}
            {% if not election.voting_has_stopped %}
              <div id="cast_form">
                <form id="cast_confirm_form" method="post" action="" onsubmit="show_waiting()">
                  <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

                  {% if status_update_label %}
                    <div class="panel">
                      <input type="checkbox" name="status_update" value="1" checked />{{status_update_label}}<br />
                      <blockquote>"{{status_update_message}}"</blockquote>
                      <input type="hidden" name="status_update_message" value="{{status_update_message}}" />
                    </div>
                  {% endif %}

                  <button type="submit">I am <u>{{voter.display_html_big|safe}}</u>, cast this ballot!</button>

                  <div data-alert class="alert-box info">
                    You can cast as many ballots as you want: only the last one counts.
                  </div>
                </form>

                <p>
                  If you cancel now, your ballot will <b>not</b> be recorded. You can start the voting process over again, of course.
                </p>

                <a class="tiny secondary button" href="{% url helios.views.one_election_view election.uuid %}">Cancel</button>
              </div>
            {% else %}
              <div data-alert class="alert-box warning">
                Voting has stopped, sorry.
              </div>
            {% endif %}
          {% else %}
            <div data-alert class="alert-box warning">
              Voting has not yet begun, sorry.
            </div>
          {% endif %}
        {% else %}
          {% if show_password %}
            {% if user %}
              <p>
                You are logged in as <u>{{user.display_html_small|safe}}</u>, but this election requires election-specific credentials.
              </p>
            {% endif %}

            {% with cast_ballot="1" %}
              <p>
                Please provide the voter ID and password you received by email.
              </p>

              {% if bad_voter_login %}
                <div data-alert class="alert-box error">
                  Bad voter ID or password, please try again.
                </div>
              {% endif %}

              <form method="post" action="{% url helios.views.password_voter_login election.uuid %}" onsubmit="show_waiting()">
                <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
                <input type="hidden" name="return_url" value="{{return_url}}" />
                <input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

                {{password_login_form.as_table|foundationinline}}

                <input class="button" type="submit" value="Confirm Your Ballot" />
              </form>
            {% endwith %}
          {% else %}
            {% if user %}
              <div alert-box class="alert-box warning">
                {% if election.openreg %}
                  Sorry, you are <i>not eligible</i> for this election.
                {% else %}
                  Sorry, you are <i>not registered</i> for this election, and registration is closed.
                {% endif %}
              </div>

              <a class="button" href="{% url helios.views.one_election_view election.uuid %}">Return to Election Info</a>
            {% else %}
              <p>
                Now, we need you to log in, so we can verify your eligibility. Don't worry, we'll remember your ballot while you log in.
              </p>

              {% if election.openreg %}
                {% if not election.eligibility %}
                  <div data-alert class="alert-box info">
                    This election is open to <i>anyone</i>, so log in with your preferred account.
                  </div>
                {% endif %}
              {% else %}
                <div data-alert class="alert-box info">
                  This election is only open to <i>registered voters</i>, so log in with the same account you registered with.
                </div>
              {% endif %}

              {{login_box|safe}}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>
    </div>
    </div>
{% endblock %}
