{% extends "election_page.html" %}
{% load pagination_tags i18n zeus_tags %} 

{% block title %}
{{ poll.name_display }} | {% trans "Voters" %}
{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}

<div class="row content-header">
    <div class="columns seven">
    <div class="columns six" style="padding-left:0;">
        <h6>{% trans "Total voters count" %}: <span>{{ voters_count }}</span></h6>
    </div>
    <div class="columns six" style="padding-left:0; width: 42%;" >
    <h6>{% trans "Votes cast" %}: {{ voted_count }}</h6>
    </div>
  </div>


  <div class="columns five">
   
   {% autopaginate voters voters_per_page %}

   {% if admin %}
        <div href="#" class="button medium dropdown" style="float:right;">
            {% trans "Voter list actions" %}&nbsp;
            <ul>
            {% if poll.feature_can_add_voter %}
            <li>
            <a style="" class="foundicon-plus" 
                href="{% url election_poll_voters_upload election.uuid poll.uuid%}">
                &nbsp;{% trans "Import voters" %}</a>
            </li>
            {% endif %}
            {% if poll.feature_can_send_voter_mail %}
            <li>
            <a style="" class="foundicon-mail" 
            href="{% url election_poll_voters_email election.uuid poll.uuid %}{% if q %}?q={{q}}{% endif %}">
                &nbsp;{% trans "Send voters email" %}</a>
            </li>
            {% endif %}
            <li>
            <a style="" class="foundicon-down-arrow"
            href="{% url election_poll_voters_csv election.uuid poll.uuid poll.short_name%}{% if q %}?q={{q}}{% endif %}">
                &nbsp;{% trans "Export voter list to CSV" %}</a>
            </li>
            {% if poll.feature_can_clear_voters %}
            {% url election_poll_voters_clear election.uuid poll.uuid as clear_url %}
            {% trans "Delete all voters" as label %}
            {% menu_confirm_action label clear_url voters_clear_confirm "remove" "POST" "alert" q%}
            {% endif %}
          </ul>
        </div>
{% endif %}
        </div>
</div>

<div class="before-table row">
    <div class="columns eight">
        {% paginate %}
    </div>
    <div class="columns four filters">
        <form action="{{ request.get_full_path }}" method="GET">
        <label>{% trans "Filter" %}:</label>
        <input name="q" type="text" value="{{ q }}"/>
        <input type="submit" value="SEARCH"/>
        <a href="{% url election_poll_voters election.uuid poll.uuid %}" />clear</a>
    </form>
    </div>
</div>

<table class="voters" width="100%">
  <thead>
    <tr>
      {% for key, value  in voter_table_header %}
        <th>
          {% if key != 'actions' %}
          <a href="?order={{key}}{% complete_voter_get_parameters request.GET key %}" 
             class="{{ ordering_cls }}">{{ value }}</a>
          {% else %}
            {{ value }}
          {% endif %}
        </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
  {% for voter in voters %}
  <tr>
    <td>
      {{ voter.voter_login_id }}
    </td>
    <td>
      {{ voter.voter_email }}
    </td>
    <td>
      {{ voter.voter_surname }}
    </td>
    <td>
      {{ voter.voter_name }} 
    </td>
    <td>
        {% if voter.voter_fathername %}, {{ voter.voter_fathername }}{% endif %}
    </td>
    <td>
        {% if voter.voter_mobile %}, {{ voter.voter_mobile }}{% endif %}
    </td>
    <td>
      {% if voter.voted %}
      {% trans "YES" %} {% if voter.excluded_at %}<b style="color:red">{% trans "(Excluded)" %}</b>{% endif %}
      {% else %}
      {% trans "NO" %}
      {% endif %}

    </td>
    {% if admin %}
    <td>
      {{ voter.last_booth_invitation_send_at }}
    </td>
    <td>
      {{ voter.last_visit }}
    </td>
    {% endif %}
{% if admin %}
      <td>
<div href="#" class="tiny button dropdown">
{% trans "Voter actions" %}&nbsp;
<ul>

{% if poll.feature_can_send_voter_mail %}
    {% trans "Send voter email" as label %}
    {% url election_poll_voter_email election.uuid poll.uuid voter.uuid as email_url %}
    {% menu_action label email_url "mail" %}
{% endif %}

{% if not voter.voted and poll.feature_can_delete_voter %}
    {% url election_poll_voter_delete election.uuid poll.uuid voter.uuid as delete_url %}
    {% trans "Delete voter" as label %}
    {% menu_confirm_action label delete_url voter_remove_confirm "remove" "POST" "alert"%}
{% else %}
    {% if not voter.excluded_at and poll.feature_can_exclude_voter %}
        {% url election_poll_voter_exclude election.uuid poll.uuid voter.uuid as exclude_url%}
        {% trans "Exclude voter" as label %}
        {% menu_confirm_action label exclude_url voter_exclude_confirm "remove" %}
    {% endif %}
{% endif %}

</ul>
</div>
</td>
{% endif %}
</tr>
{% empty %}
<tr><td colspan=6>{% trans "No voters added" %}</td></tr>
{% endfor %}
</tbody>
</table>
{% paginate %}
{% endblock %}
