{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">{{election.name}} &mdash; Πάγωμα ψηφοφορίας</h2>
<p>
Μόλις η ψηφοφορία παγώσει, οι ερωτήσεις και οι επιλογές δεν μπορούν πλέον να τροποποιηθούν.<br />
Η λίστα των επιτρόπων και των δημόσιων κλειδιών τους θα δεσμεύονται επίσης.
</p>

<p>
{% if election.openreg %}
Η εγγραφή για την εκλογή είναι <b>ανοιχτή</b> που σημαίνει ότι οποιοσδήποτε μπορεί να ψηφίζει ακόμα και εάν παγώσετε την ψηφοφορία.
{% else %}
Η εγγραφή για την εκλογή σας είναι <b>κλειστή</b> που σημαίνει ότι οι ψηφοφόροι που ορίζετε μπορούν να ρίξουν το ψηφοδέλτιο τους. 
Ως διαχειριστής, θα μπορείτε να τροποποιήσετε τον κατάλογο των ψηφοφόρων καθώς εξελίσσεται η εκλογή.
{% endif %}
</p>    

{% if helios.VOTERS_EMAIL %}
<p>
Θα πρέπει να παγώσει η ψηφοφορία προτού μπορέσετε να επικοινωνήσετε με τους ψηφοφόρους.
</p>
{% endif %}

{% if issues_p %}
<p>
    Πριν παγώσετε την εκλογή πρέπει να:
    <ul>
        {% for issue in issues %}
        <li>{{issue.action}}</li>
        {% endfor %}
    </ul>
    <a href="{% url helios.views.one_election_view election.uuid %}">επιστροφή στην εκλογή</a>
</p>
{% else %}
<form method="post" action="">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />
    
<input class="pretty" type="submit" value="Πάγωμα ψηφοφορίας" />
<button onclick="document.location='./view'; return false;">ακύρωση παγώματος</button>
</form>
{% endif %}

<br /><br />
{% endblock %}
