{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block content %}

<h3 class="title">
  {{election.name}} - {% trans "Update" %}
  <span style="font-size:0.7em;">
    [ <a href="{% url "election@view" election.uuid %}">{% trans "cancel" %}</a> ]
  </span>
</h3>

{% if error %}
<p style="color: red;">
  {{error}}
</p>
{% endif %}

<form class="prettyform" action="" method="POST" id="edit_election_form">
  <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
  <table class="pretty">
    {{election_form.as_table}}
  </table>
  <div>
    <label for="">&nbsp;</label>
    <input type="submit" value="{% trans "Update" %}" id="update_button" />
  </div>
</form>

{% endblock %}