{% extends TEMPLATE_BASE %}

{% block content %}
  <h2 class="title">Elections you Deleted <span style="font-size:0.7em;">[<a href="/">back to home</a>]</span></h2>

<ul>
{% for election in elections %}
<li>[<a 
     onclick="return window.confirm('Are you sure you want to undelete this election?');" 
     href="{% url "helios.views.one_election_undelete" election.uuid %}">undelete</a>]
     <b>{{election.name}}</b> - {{election.num_voters}} voters / {{election.num_cast_votes}} cast votes - <em>deleted at {{election.deleted_at}}</em></li>
{% endfor %}
</ul>
{% endblock %}