{% extends "election_page.html" %}
{% load i18n %}

{% block title %}{{election.name}}: Voters{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block content %}
<h5>Bulk upload voters</h5>

{% if error %}
<div class="panel alert-box alert">
  Error in reading file. ({{ error }})
</div>
{% else %}
<p>
There were <b>{{ count }}</b> entries read from the uploaded file.
</p>

<table>
  <thead>
      <tr>
          <th>Email</th>
          <th>Given name</th>
          <th>Surname</th>
          <th>Middle or other name</th>
          <th>Mobile phone</th>
      </tr>
  </thead>
  <tbody>
{% for v in voters %}
{% if forloop.counter > 7 %}
<tr style="display:none">
{% else %}
<tr>
{% endif %}
    <td>{{v.email}}</td><td>{{v.name}}</td><td>{{v.surname}}</td>
    <td>{{ v.fathername }}</td><td>{{ v.mobile }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<span class="button tiny more-voters" style="display:none">
    {% trans "Show all voters" %}
</span>
<script>
    $(document).ready(function(){
        if ($("tr:hidden").length > 0) {
            $(".more-voters").show();
        }
        $(".more-voters").click(function(){
            $("tr").show();
            $(".more-voters").hide();
        })
    })
</script>
<p></p>
<form method="post" action="" id="upload_form">
  {% csrf_token %}
  The voters above will be enrolled. Note that you can also review and
  edit the complete voter list from the control panel.
  <input type="hidden" name="confirm_p" value="1" />
  <Br /><br />
  <input class="button success" type="submit" value="Confirm voters" />
</form>
{% endif %}
<form 
    method="post"
    action="{% url election_poll_voters_upload_cancel election.uuid poll.uuid %}">
    {% csrf_token %}
    <input type="submit" class="button alert small" 
    value="{% trans "Cancel voter enrollment" %}" />
</form>
{% endblock %}
