{% extends "election_page.html" %}{% load i18n %}
{% load zeus_tags %}
{% block title %}{{election.name}}: {% trans "Election Polls" %}{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}

<div class="section">
    {% if election.polls.count %}
    <div class="row">
  <div class="columns six">
  </div>
  <div class="columns twelve">
   {% if admin and election.any_poll_feature_can_send_voter_mail %}
        <div href="#" class="button medium dropdown" style="float:right;">
            {% trans "Batch polls actions" %}&nbsp;
            <ul>
            {% url election_voters_email election.uuid as email_url %}
            {% trans "Send voters email" as label %}
            <li>
            <a style="" class="foundicon-mail" 
                href="{% url election_voters_email election.uuid %}">
                &nbsp;{% trans "Send voters email" %}</a>
            </li>
          </ul>
        </div>
    {% endif %}
<br /><br />
<br /><br />
</div>
</div>
  <table class="pretty polls-table">
    <thead>
        <tr>
        <th>{% trans "name" %}</th>
        <th>{% trans "status" %}</th>
        <th>{% trans "ballot size" %}</th>
        <th>{% trans "voters registered" %}</th>
        <th>{% trans "voters invited" %}</th>
        <th>{% trans "voters voted" %}</th>
        {% if user.superadmin_p %}
        <th>{% trans "votes" %}</th>
        <th>{% trans "last vote" %}</th>
        {% endif %}
        <th>{% trans "select action" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for poll in polls %}
    <tr data-uuid="{{ poll.uuid }}">
      <td>
          {% if not election.feature_can_rename_poll %}
              {{ poll.name }}
          {% else %}
              {% with "#rename-poll-"|add:poll.short_name as htmlid %}
              {% reveal_action poll.name htmlid "" "rename-poll nobutton" %}
              {% endwith %}
          {% endif %}
      </td>
      <td>
          {{ poll.status_display }}
          {% if poll.feature_compute_results_finished %}
          <a href="{% url election_poll_results election.uuid poll.uuid %}">
              {% trans "Results" %}</a>
          {% endif %}
      </td>
      <td><a class="foundicon-edit" href="{% url election_poll_questions election.uuid poll.uuid %}">
          {{ poll.questions_count }}
      </a></td>
      <td><a class="foundicon-edit" href="{% url election_poll_voters election.uuid poll.uuid %}">
          {{ poll.voters.count }}
      </a></td>
      <td>{{ poll.voters.filter.invited.count }}</td>
      <td>{{ poll.voters.filter.cast.count }}</td>
      {% if user.superadmin_p %}
      <td>{{ poll.cast_votes.count }}</td>
      <td>{{ poll.last_cast_date }}</td>
      {% endif %}
      <td>
          <div href="#" class="button tiny dropdown" style="">
              {% trans "Actions" %}&nbsp;
          <ul>
            {% url election_poll_voters election.uuid poll.uuid as manage_url %}
            {% trans "Manage voters" as label %}
            {% menu_action label manage_url "people" %}
            {% if poll.feature_can_manage_questions %}
            {% url election_poll_questions_manage election.uuid poll.uuid as manage_url %}
            {% menu_action poll.get_module.manage_questions_title manage_url "edit" %}
            {% endif %}
            {% if poll.feature_can_remove %}
            {% url election_poll_remove election.uuid poll.uuid as delete_url %}
            {% trans "Delete poll" as label %}
            {% menu_confirm_action label delete_url poll_delete_confirm "remove" "POST" "alert" %}
            {% endif %}
          </ul>
        </div>
      </td>
    </tr>
    {% endfor %}
</tbody>
<tfoot>
    <td>
    {% trans "Totals" %}
    </td>
    <td></td>
    <td>{{ election.questions_count }}</td>
    <td>{{ election.voters.count }}</td>
    <td>{{ election.voters.invited.count }}</td>
    {% if user.superadmin_p %}
    <td>{{ election.voters.cast.count }}</td>
    <td></td>
    {% endif %}
    <td>{{ election.cast_votes.count }}</td>
    <td></td>
</tfoot>
</table>
{% else %}
{% endif %}
{% if admin and election.feature_can_add_poll %}
{% include "_election_polls_add.html" %}
{% endif %}
</div>
{% endblock %}

{% block reveals %}
{{ block.super }}
{% if admin %}
{% for poll in polls %}
{% include "_reveal_rename_poll.html" %}
{% endfor %}
{% endif %}
{% endblock %}
