{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{% trans "Administrators for" %} {{election.name}}{% endblock %}

{% block content %}
<h3 class="title">{{election.name}} - {% trans "Administrators" %}
  <span style="font-size:0.7em;">[ <a
      href="{% url "election@view" election.uuid %}">{% trans "back to election" %}</a> ]
  </span>
</h3>

<p>
  {% trans "Administrators have full control over this election, including managing voters, questions, trustees, and settings." %}
</p>

<p>
  [ <a href="{% url "election@admins@add" election.uuid %}">{% trans "add an administrator" %}</a> ]
</p>

<h4>{% trans "Election Creator" %}</h4>
<p>
  <strong>{{admin.display_html_small|safe}}</strong> ({{admin.user_id}})<br />
  <em>{% trans "The election creator cannot be removed." %}</em>
</p>

{% if additional_admins %}
<h4>{% trans "Additional Administrators" %}</h4>
<ul>
  {% for a in additional_admins %}
  <li>
    {{a.display_html_small|safe}} ({{a.user_id}})
    {% if a.pk != current_user.pk %}
    [ <a href="{% url "election@admins@remove" election.uuid %}?email={{a.user_id}}&user_type={{a.user_type}}">
      {% trans "remove" %}</a> ]
    {% else %}
    <em>({% trans "you" %})</em>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% else %}
<p>
  <em>{% trans "No additional administrators have been added." %}</em>
</p>
{% endif %}

{% endblock %}