{% extends "election_page.html" %}

{% block title %}{{election.name}}: Ψηφοφόροι{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}


<p>
Για να ελέγξετε μια ψήφο ελέγχου, ανοίξτε τον <a target="_new"
  href="/booth/single-ballot-verify.html?election_url={% url helios.views.one_election election.uuid %}">Επαληθευτή ψήφου ελέγχου</a> 
και επικολλήστε τα περιεχόμενα της ψήφου στο αντίστοιχο πεδίο.
</p>

{% if audited_ballots %}
<p>
Εμφάνιση ψήφων ελέγχου: {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% ifequal offset 0 %}
{% else %}
<a href="?">αρχική</a> &nbsp;&nbsp;
{% endifequal %}
{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">επόμενες {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">επόμενες {{limit}}</a>
{% endif %}
<br /><br />
<table class="pretty">
{% for b in audited_ballots %}
<tr><td><tt style="font-size: 1.4em;">{{b.vote_hash}}</tt> [<a target="_blank"
      href="?vote_hash={{b.vote_hash|urlencode}}">προβολή περιεχομένων</a>]</td></tr>
{% endfor %}
</table>
{% else %}
<em>no audited ballots yet</em>
{% endif %}

{% endblock %}
