{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block content %}
<div id="header" class="col-md-12"> 
  <h2 class="title">{% trans "Update" %} <span style="font-size:0.7em;">[<a href="{% url helios.views.one_election_view election.uuid %}">{% trans "cancel" %}</a>]</span></h2>
  <h3 class="title">{{election.name}}</h3>
</div>
<div class="col-md-12">
  <form class="form-horizontal" role="form" action="" method="POST" id="create_election_form">
  {% for field in election_form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
     {{ field.errors }}
      <label for="{{ field.label }}" class="col-sm-2 control-label">{{ field.label }}</label>
      <div class="col-sm-10" class="form-control"> 
      {{ field }}
      {{ field.help_text }}
      </div>
    </div> 
  {% endfor %}
  <div class="form-group">
    <button id="next_button" type="submit" class="btn btn-primary">{% trans "Next" %}</button>
  </div>
  </form>
</div>

{% endblock %}
