{% extends "election_page.html" %}

{% block title %}{{election.name}}: Ψηφοφόροι{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}


{% if voter_audited_ballots %}
<h4>Προσωπικές ψήφοι ελέγχου</h4>
<table class="pretty" width="100%">
{% for b in voter_audited_ballots %}
{% include "_audit_ballots_list.html" %}
{% endfor %}
</table>
{% endif %}

<h4>Όλες οι ψήφοι ελέγχου</h4>
{% if audited_ballots %}
<p>
Εμφάνιση ψήφων ελέγχου: {{offset_plus_one}} - {{offset_plus_limit}} &nbsp;&nbsp;
</p>

{% ifequal offset 0 %}
{% else %}
<a href="?">αρχική</a> &nbsp;&nbsp;
{% endifequal %}
{% if next_after %}
<a href="?after={{next_after}}&offset={{offset_plus_limit}}">επόμενες {{limit}}</a> &nbsp;&nbsp;
{% endif %}

{% if more_p %}
<a href="?after={{next_after}}&offset={{next_offset}}">επόμενες {{limit}}</a>
{% endif %}
<table class="pretty" width="100%">
{% for b in audited_ballots %}
{% include "_audit_ballots_list.html" %}
{% endfor %}
</table>

{% else %}
<em>no audited ballots yet</em>
{% endif %}

{% endblock %}
