{% extends "election_page.html" %}{% load i18n %}
{% load zeus_tags %}

{% block title %}
{{ election.name }}: {{ module.questions_title_message }}
{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block extra_menu %}
{% include "_election_poll_admin_actions.html" %}
{% endblock %}

{% block content %}
<div class="columns twelve">
  <div class="panel">

{% if poll.election.election_module == "stv" %}
    {%trans "Eligibles count"%} : {{poll.eligibles_count}}
    <br/>
        {% if poll.has_department_limit %}
            {%trans "Maximum elected from the same constituency" %} : {{poll.department_limit}}
        {% endif %}
{% endif %}
    {% for q in poll.questions_data %}
    <h5>{{ q.question }} {% if q.question_subtitle %}({{ q.question_subtitle }}){% endif %}</h5>
    {% trans "Min answers" %} : {{q.min_answers}}<br>
    {% trans "Max answers" %} : {{q.max_answers}}<br>
    <br>
    <ol>
      {% if q.answers_display %}
          {% for a in q.answers_display%}
            <li>
            {{ a }}
            </li>
          {% endfor %}
      {% else %}
          {% for a in q.answers %}
            <li>
            {{ a }}
            </li>
          {% endfor %}
      {% endif %}
    </ol>
    {% empty %}
    <span class="label alert">
        {{ module.no_questions_added_message }}
    </span>
    {% endfor %}
    
</div>
<div style="text-align: right">
{% if admin and poll.feature_can_manage_questions %}
{% trans "Manage questions" as label %}
{% url election_poll_questions_manage election.uuid poll.uuid as manage_url %}
{% action label manage_url %}
{% endif %}
</div>
</div>
{% endblock %}
