{% extends TEMPLATE_BASE %}
{% block title %}Your vote has been cast{% endblock %}

{% block head_subtitle %}
{% endblock %}

{% block content %}
<p>
Your vote has been successfully cast.
Thank you for participating.

<br>
A
<a target="_blank" href="{% url election_poll_download_signature election_uuid poll_uuid cast_vote.fingerprint %}"
  >submission receipt</a> for your vote has been sent to your Email address.
</p>

{% comment %}
<div class="vote-hash panel">{{ vote_hash }}
  <div class="vote-hash-actions">
  </div>
</div>
{% endcomment %}
{% endblock %}
