{% extends "election_page.html" %}{% load i18n %}
{% load zeus_tags %}
{% block title %}{{election.name}}: {% trans "Election Polls" %}{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}
{% if election.feature_can_add_poll or  poll%}

<form data-protect="1" class="prettyform" action="" method="POST">
  <table class="pretty">
    {% with form=form%}
      {% include "foundation_form.html" %}
    {% endwith %}
  </table>
  <a class="button" href="{% url election_polls_list  election.uuid%}">
  {% trans "Cancel" %}</a>
  <input class="button" type="submit" value="{% trans "Save" %}"/>
</form>

<script>
var elems = $("input[id^=id_oauth2]:not(#id_oauth2_thirdparty), select[id^=id_oauth2]");

function show_elems(time){
    elems.parents().show(time);
    elems.parents().next().show(time);
}

function hide_elems(time){
    elems.parent().hide(time);
    elems.parent().next().hide(time);
}

$(function(){
    if ($("#id_oauth2_thirdparty").prop('checked')){
        show_elems(300);
    }
    else{
        hide_elems(0);
    }
    $("#id_oauth2_thirdparty").change(function(){
        if ($("#id_oauth2_thirdparty").prop('checked')){
            show_elems(300);
        }
        else{
            hide_elems(300);
        }
    });
});
</script>
{% endif %}
{% endblock %}
