{% extends "election_page.html" %}

{% block title %}{{election.name}}: Candidates{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}

{% if admin_p and election.can_change_candidates %}
<div class="columns twelve">
  <form action="./candidates" method="post">
    <p>Edit the candidate list and press 'Save'.
    <br /><br />
    <b>All form fields for candidates are mandatory.</b>
    </p>
    {% if error %}
    <div class="alert-box alert">
      Error in saving data. Please check that all fields are filled in.
    </div>
    {% endif %}
    <div class="row labels">
      <div class="columns four">
        <label>Surname</label>
      </div>
      <div class="columns two">
        <label>Given name</label>
      </div>
      <div class="columns two">
        <label>Middle name</label>
      </div>
      <div class="columns four">
        <label>Affiliation</label>
      </div>
      </div>
      {% for cand in candidates %}
    <div class="row">
      <div class="columns four">
        <input type="text" value="{{ cand.surname }}" name="candidates_lastname"  
        placeholder="Surname" />
      </div>
      <div class="columns two">
        <input type="text" value="{{ cand.name }}" name="candidates_name"  
        placeholder="Given name" />
      </div>
      <div class="columns two">
        <input type="text" value="{{ cand.father_name }}" name="candidates_fathers_name"
        placeholder="Middle name" />
      </div>
      <div class="columns four">
        <select type="text" name="candidates_department">
          {% for department in departments %}
          <option {% if cand.department == department %}selected{% endif %} value="{{ department }}">{{ department }}</option>
          {% endfor %} 
        </select>
      </div>
      </div>
    {% endfor %}

    {% for i in empty_inputs %}
    <div class="row">
      <div class="columns four">
        <input type="text" value="{{ cand }}" name="candidates_lastname"  
        placeholder="Surname" />
      </div>
      <div class="columns two">
        <input type="text" value="{{ cand }}" name="candidates_name"  
        placeholder="Given name" />
      </div>
      <div class="columns two">
        <input type="text" value="{{ cand }}" name="candidates_fathers_name"
        placeholder="Middle name" />
      </div>
      <div class="columns four">
        <select type="text" value="{{ cand }}" name="candidates_department">
          {% for department in departments %}
          <option value="{{ department }}">{{ department }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% endfor %}
    <div class="row">
    <input type="submit" class="button success" value="Save">
    </div>
</form>
</div>
{% endif %}


<div class="columns 
  {% if admin_p and not election.frozen_at %}six{% else %}twelve{% endif %}">
  <div class="panel">
    <ol>
      {% for a in election.questions.0.answers %}
      <li>
      {{ a }}
      </li>
  {% empty %}
  <li><span class="label alert">No candidates entered yet.</span></li>
  {% endfor %}
</ol>
</div>
</div>
{% endblock %}
