{% extends TEMPLATE_BASE %}

{% block header %}
<h2>{{ settings.SITE_TITLE }} | Login/h2>
{% endblock %}

{% block tabs_menu %}
<dd class="active"><a href="#">Login</a></dd>
{% endblock %}

{% block content %}
<div class="row">
<div class="columns twelve">
<p>
This is a login form for election administrators only.
Voters have to use the link sent to them via Email or SMS.
</p>
</div>
</div>
<div class="row">
<div class="columns six">
{% if error %}
<div class="alert-box alert">
  {{error}}
</div>
{% endif %}

<form 
    class="prettyform" 
    action="{% url login %}" 
    method="POST" 
    id="login_form">
<table>
    {% csrf_token %}
    {{form.as_p}}
</table>
<div>
<input class="button" type="submit" value="Login" />
</div>
</form>
</div>
</div>
{% endblock %}

