{% extends TEMPLATE_BASE %}
{% load i18n %}

{% block title %}{% trans "Cookies are required for Helios use" %}{% endblock %}

{% block content %}
<h3 class="title">
  {% trans "Cookies are Required for Helios" %}
</h3>

<p>
  {% trans "It appears your browser does not support cookies or is set up to block cookies from this site. Helios needs to set a session cookie so that it can save your vote, let you log in, etc. Enable cookies and then" %}
  <a href="{{retest_url}}">{% trans "proceed to preparing your ballot" %}</a>
</p>
<p>
  {% trans "If you keep getting sent back to this page, it's probably because you haven't enabled cookies successfully." %}
</p>
{% endblock %}