{% extends TEMPLATE_BASE %}

{% block title %}Resend Password - {{election.name}}{% endblock %}

{% block content %}
<h2>Resend Voting Credentials</h2>

<p>
Election: <b>{{election.name}}</b>
</p>

{% if error %}
<p style="color: red;">
{{error}}
</p>
{% endif %}

{% if sent %}
<p style="color: green;">
<b>If a voter with that ID exists in this election, an email with your voting credentials has been sent.</b>
</p>
<p>
Please check your email inbox (and spam folder) for your voter ID and password.
</p>
<p>
You can now close this window and return to the voting booth.
</p>
{% else %}
<p>
Forgot your password? Enter your voter ID below and we'll email your voting credentials to you.
</p>

<form method="post" action="{% url "election@password-voter-resend" election.uuid %}">
<input type="hidden" name="csrf_token" value="{{csrf_token}}" />

<div style="border: 1px solid #888; padding: 10px; max-width: 500px;">
{{resend_form.as_p}}
<input type="submit" class="button" value="Resend Credentials" />
</div>
</form>
{% endif %}

{% endblock %}
