{% extends TEMPLATE_BASE %}
{% block title %}Log In to View Election{% endblock %}

{% load foundation %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>Private Election&mdash;Please Log In</h2>

      <p>
        This election, with fingerprint <tt>{{election.hash}}</tt>, is private, and can only be viewed by eligible voters. If one was given, please provide the voter ID and password you received by email. It is also possible that the e-mail mentioned one of the third-party providers.
      </p>

      {% if bad_voter_login %}
        <div data-alert class="alert-box warning">
          Bad voter ID or password, please try again.
        </div>
      {% endif %}

      <h3>Log In to Start Voting</h3>

      <p>
        {{login_box|safe}}
      </p>

      {% if password_login_form %}
        <div class="panel">
          <h3>Password</h3>

          <form method="post" action="{% url 'helios.views.password_voter_login' election.uuid %}">
            <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
            <input type="hidden" name="return_url" value="{{return_url}}" />
            <input type="hidden" name="cast_ballot" value="{{cast_ballot}}" />

            {{password_login_form|foundationinline}}

            <div class="row">
              <div class="large-9 large-offset-3 columns">
                <input type="submit" class="small button" value="Log In" />
              </div>
            </div>
          </form>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
