{% extends TEMPLATE_BASE %}
{% block title %}Statistics for Problematic Elections{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
      <h1>
        Statistics&mdash;Problematic Elections <small>[<a href="{% url 'helios.stats_views.home' %}">Back</a>]</small>
      </h1>

      <h2>Unfrozen for more than a day.</h2>

      <table>
        <thead>
          <tr>
            <th>Election</th>
            <th width="10%">Voters</th>
          </tr>
        </thead>

        <tbody>
          {% for election in elections %}
            <tr>
              <td><a href="{% url 'helios.views.one_election_view' election.uuid %}">{{election.name}}</a></td>
              <td>{{election.num_voters}}</td>
            </tr>
          {% empty %}
            <tr>
              <td class="text-center" colspan="3">
                There are no problematic elections.
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
