{% extends TEMPLATE_BASE %}
{% block title %}Statistics{% endblock %}

{% block content %}
<h1>Admin</h1>

<ul>
<li> <a href="{% url "stats@elections" %}">elections</a></li>
<li> <a href="{% url "stats@deleted-elections" %}">deleted elections</a></li>
<li> <a href="{% url "stats@user-search" %}">user search</a></li>
<li> <a href="{% url "stats@recent-votes" %}">recent votes</a></li>
<li> <a href="{% url "stats@elections-problems" %}">recent problem elections</a></li>
</ul>

<div><b>{{num_votes_in_queue}}</b> votes in queue. {% if num_votes_in_queue %}[<form class="inline-action" method="post" action="{% url "stats@force-queue" %}"><input type="hidden" name="csrf_token" value="{{csrf_token}}" /><button type="submit" class="link-button">force it</button></form>]{% endif %}</div>

{% endblock %}
