{% extends TEMPLATE_BASE %}
{% block title %}Statistics{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h1>Statistics</h1>

      <p>
        <a class="button" href="{% url 'helios.stats_views.elections' %}">Elections</a>
        <a class="button" href="{% url 'helios.stats_views.recent_votes' %}">Recent Votes</a>
        <a class="button" href="{% url 'helios.stats_views.recent_problem_elections' %}">Recent Problem Elections</a>
      </p>

      <div class="panel">
        <b>{{num_votes_in_queue}}</b> votes in queue. {% if num_votes_in_queue %}[<a href="{% url 'helios.stats_views.force_queue' %}">force it</a>]{% endif %}
      </div>
    </div>
  </div>
{% endblock %}
