{% extends "helios/templates/trustee_home_base.html" %}

{% block content %}
<script language="javascript">

$(document).ready(function() {
    $('#result_div').hide();
    $('#waiting_div').hide();
    $('#waiting_submit_div').hide();
    $('#done_div').hide();
    $('#error_div').hide();
    
    BigInt.setup(function() {
        ELECTION_JSON = {{election.toJSON|safe}};
        ELECTION_PK = ElGamal.PublicKey.fromJSONObject(ELECTION_JSON['public_key']);
        TALLY = HELIOS.Tally.fromJSONObject({{election.encrypted_tally.toJSON|safe}}, ELECTION_PK);   
        $('#sk_section').show();
    });
});


function decrypt_and_prove_tally(tally, public_key, secret_key, callback) {
    // we need to keep track of the values of g^{voter_num} for decryption
    var DISCRETE_LOGS = {};
    var CURRENT_EXP = 0;
    var CURRENT_RESULT = BigInt.ONE;
    DISCRETE_LOGS[CURRENT_RESULT.toString()] = CURRENT_EXP;
    
    // go through the num_tallied
    while (CURRENT_EXP < tally.num_tallied) {
      CURRENT_EXP += 1;
      CURRENT_RESULT = CURRENT_RESULT.multiply(public_key.g).mod(public_key.p);
      DISCRETE_LOGS[CURRENT_RESULT.toString()] = CURRENT_EXP;      
    }
    
    // initialize the arrays
    var decryption_factors= [[]];
    var decryption_proofs= [[]];
    
    function update_progress() {
        var met = $(".progress .meter");
        var perc = (100 * computed) / tally.num_tallied;
    }

    var computed = 0;
    var computed_perc = 0;

    var batches = [];
    var BATCH_SIZE = 5;
    var batch_med_time = 0;
    var batches_completed = 0;

    _.each(_.range(tally.num_tallied/BATCH_SIZE), function(i){
        var from, to, batch;
        from = i * BATCH_SIZE;
        to = from + BATCH_SIZE;
        if (to >= tally.num_tallied) {
            to = tally.num_tallied;
        }
        batch = tally.tally[0].slice(from, to);
        if (batch.length) {
            batches.push(batch); 
        }
      });

    var batches_count = batches.length;
    var remaining = 0;
    var choice_num = 0;
    function _decrypt(from, to) {
        var dbatch = batches.pop();
        var time = new Date
        
        if (!dbatch) {
            callback({
                'decryption_factors': decryption_factors,
                'decryption_proofs': decryption_proofs
              });
            return;
        }
        $(dbatch).each(function(index, q_tally) {
          $(q_tally).each(function(choice_tally_index, choice_tally) {
                var choice_tally = tally.tally[0][choice_num];
                var one_choice_result = secret_key.decryptionFactorAndProof(choice_tally, 
                                                ElGamal.fiatshamir_challenge_generator);
               decryption_factors[0][choice_num] = one_choice_result.decryption_factor
               decryption_proofs[0][choice_num] = one_choice_result.decryption_proof;
               choice_num++;
           });
       });

       batch_time = new Date - time;
       batches_completed++;
       batch_med_time = (batch_med_time + batch_time) / 2;
       time_remaining = batch_med_time * (batches_count - batches_completed + 1);
       var percentage_done = (100*batches_completed) / batches_count
       batch_complete_callback(dbatch, batches_completed, batch_time, 
                               batch_med_time, time_remaining, 
                               batches_count, percentage_done);

       window.setTimeout(_decrypt, 100);
        
    };
   window.setTimeout(_decrypt, 100);
}

function batch_complete_callback(batch, batch_index, time, median_time, 
                                 time_remaining, total_batches, percentage) {
    //console.log("BATCH", batch_index, " of ", total_batches, 
                //" finished in ", time/1000, "seconds. Approx. time:", 
                //time_remaining, " Percentage:", percentage);
    
    if (batch_index > 1) {
      $(".progress-message").show();
    }
    $(".progress .meter").css({'width': percentage + '%'});

    var time_msg = parseInt(time_remaining/1000) + " δευτερόλεπτα.";
    if (time_remaining/1000 > 120) {
      time_msg = parseInt(time_remaining/1000/60) + " λεπτά.";
    }

    $(".progress-message .time").text(time_msg);
}

function get_secret_key() {
  try{
    return ElGamal.SecretKey.fromJSONObject($.secureEvalJSON($('#sk_textarea').val()));
  } catch (err) {
    alert("error");
  }
}

function do_tally() {
  $('#sk_section').hide();
  $('#waiting_div').show();

  $(".progress").show();
  $(".progress .meter").width(10);
  
  var secret_key = get_secret_key();
  
  decrypt_and_prove_tally(TALLY, ELECTION_PK, secret_key, callback);

  function callback(factors_and_proof) {

      $(".progress-message").hide();
      $(".progress-message .time").text("");

      // json'ify it
      var factors = factors_and_proof.decryption_factors
      var decryption_proofs = $(factors_and_proof.decryption_proofs).map(function(i, q_proof) {
          return $(q_proof).map(function(j, a_proof){
             return a_proof.toJSONObject(); 
          });
      });
      
      var factors_and_proofs = {'decryption_factors': factors, 'decryption_proofs': decryption_proofs};
      var factors_and_proofs_json = $.toJSON(factors_and_proofs);
      
      // clear stuff
      secret_key = null;
      $('#sk_textarea').val("");
      
      // display the result in a text area.
      $('#waiting_div').hide();
      
      $('#result_textarea').html(factors_and_proofs_json);
      $('#result_div').show();
      $('#first-step-success').show();
  }
}

function submit_result() {
  $('#result_div').hide();
  $('#waiting_submit_div').show();

  var result = $('#result_textarea').val();
  
  // do the post
  $.ajax({
      type: 'POST',
      url: "./upload-decryption",
      data: {'factors_and_proofs': result},
      success: function(result) {
        $('#waiting_submit_div').hide();
        if (result != "FAILURE") {
          $('#done_div').show();
        } else {
          alert('Η επαλήθευση απέτυχε. Πιθανώς δώσατε εσφαλμένο Κωδικό.');
          reset();
        }
      },
      error: function(error) {
          $('#waiting_submit_div').hide();
          $('#error_div').show();
      }
  });
}

function skip_to_second_step() {
  $('#sk_section').hide();
  $('#result_div').show();
  $('#result_textarea').html('');
  $('#skip_to_second_step_instructions').hide();
}

function reset() {
  $('#result_div').hide();
  $('#skip_to_second_step_instructions').show();
  $('#sk_section').show();
  $('#result_textarea').html('');
  $('#first-step-success').hide();
}

var opts = {
    dragClass: "drag",
    accept: false,
    readAsMap: {
        'text/*' : 'Text'
    },
    readAsDefault: 'Text',
    on: {
        load: function(e, file) {
          // Native ProgressEvent
          if (e.srcElement && e.srcElement.result) {
            $("textarea#sk_textarea").val(e.srcElement.result);
          }
          if (e.currentTarget && e.currentTarget.result) {
            $("textarea#sk_textarea").val(e.currentTarget.result);
          }
    	},
    }
  };

  $(document).ready(function(){
    try {
      $("#file-input").fileReaderJS(opts);
      } catch (err) {
      console.log(err);
    }
  })
</script>
  <h4 class="title">{{trustee.name}} &mdash; Αποκρυπτογράφηση
      ψηφοδελτίων για την {{election.name}}</h4>

<p>
    <b>Μέλος της εφορευτικής επιτροπής:</b> <tt>{{trustee.email}}</tt><br/>
</p>

    <p>
      Το τελικά κρυπτογραφημένα ψηφοδέλτια έχουν ετοιμαστεί.<br/>
      Τώρα πρέπει να υπολογισθεί και να παραδοθεί η μερική αποκρυπτογράφηση σας.
    </p>

  <div id="sk_section" style="display:none;">

      <form onsubmit="return false;">
          <h3>Βήμα πρώτο: εισάγετε το μυστικό κλειδί σας</h3>
          <input type="file" id="file-input" />
          <textarea id="sk_textarea" cols="60" rows="5"></textarea>
      </form>
      <p id="tally_section">
          <button class="button success medium" onclick="do_tally();">Υπολογισμός μερικής αποκρυπτογράφησης</button>
          </p>
      <p id="skip_to_second_step_instructions">
        <a href="javascript:skip_to_second_step();">μεταφορά στο δεύτερο βήμα</a><br />
        (πρέπει να έχετε ήδη υπολογίσει τη μερική αποκρυπτογράφησή σας.)
      </p>
  </div>
  
  <div id="waiting_div">
    <b>Υπολογισμός μερικής αποκρυπτογράφησης...</b><br
    /><br />
    <div class="alert-box alert">
Σε αυτό το σημείο το πρόγραμμα πλοήγησης ενδέχεται να μην αποκρίνεται μέχρι το πέρας της διαδικασίας. Παρακαλούμε περιμένετε.
    </div>
      <br />
          <div class="row">
              <div class="columns twelve">
                  <div class="radius progress success eight" style="display:none">
                      <span style="width:0px" class="meter"></span>
                  </div>
                  <div style="display:none" class="progress-message">Εκτιμώμενος
                    χρόνος αποκρυπτογράφησης: <span class="time"></span></div>
              </div>
          </div>
  </div>

  <div id="waiting_submit_div">
      Υποβολή της αποκρυπτογράφησης...<br />
      <img src="/static/helios/loading.gif" />
  </div>
  
  <div id="result_div">
      <h3>Βήμα δεύτερο: αποστολή της μερικής αποκρυπτογράφησης</h3>
      <p id="first-step-success" style="display: none;">
          Τα μερικώς αποκρυπτογράφημενα ψηφοδέλτια εμφανίζονται παρακάτω:<br />
          Ο Κωδικός Ψηφοφορίας σας έχει διαγραφεί από την μνήμη.<br />
          Όταν είστε έτοιμοι, υποβάλετε τα αποτελέσματα στον εξυπηρετητή.
      </p>
      Η μερική αποκρυπτογράφηση σας:<br />
      <form action="javascript:submit_result();">
          <textarea id="result_textarea" cols="60" rows="5" wrap="soft"></textarea><br /><br />
          <input class="button medium success" type="submit" value="Αποστολή αποκρυπτογράφησης στο σύστημα «Ζευς»" />
      </form>
      <br />
      <a href="javascript:reset()">επαναφορά και επανεκκίνηση της διαδικασίας αποκρυπτογράφησης</a>
      <br />
  </div>
  
  <div id="done_div">
    Η διαδικασία της μερικής αποκρυπτογράφησης ολοκληρώθηκε!
    <a class="button medium alert" href="{% url heliosauth.views.logout %}">Έξοδος</a>
  </div>
  
  <div id="error_div">
      Σφάλμα: ο Κωδικός Ψηφοφορίας σας δεν ήταν έγκυρος.
  </div>

  <div id="applet_div">
  </div>

{% endblock %}
