{% extends "helios/templates/cryptobase.html" %}

{% block title %}Trustee Home for {{trustee.name}}{% endblock %}
{% block top-bar_style %}trustee{% endblock %}

{% block content %}
  <script language="javascript">
  	function get_secret_key_signing() {
      var keys = $.secureEvalJSON($('#sk_textarea_signing').val());
      return ElGamal.SecretKey.fromJSONObject(keys.signing);
    }

    function get_variables() {
      ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
      var p = ELGAMAL_PARAMS.p;
      var g = ELGAMAL_PARAMS.g;
      var q = ELGAMAL_PARAMS.q;

      SCHEME_PARAMS = Thresholdalgs.Thresholdscheme.fromJSONObject({{scheme_params_json|safe}});
      var n = SCHEME_PARAMS.n;
      var k = SCHEME_PARAMS.k;
      var ground_1 = SCHEME_PARAMS.ground_1;
      var ground_2 = SCHEME_PARAMS.ground_2;

      var id_array=[];
      var name_array = [];
      var email_array = [];
      var pok_encrypt_array = [];
      var pok_signing_array = [];
      var pk_encrypt_array = [];
      var pk_signing_array = [];
      var pk_encrypt_hash_array = []
      var pk_signing_hash_array = [];
      var encry_shares = [];

      var dict, pk, proof;
      var id_dict = {{id_dict|safe}};
      var trustee_ids_dict = {{trustee_ids_dict|safe}}
      var name_dict = JSON.parse(JSON.stringify({{name_dict|safe}}));
      var email_dict = JSON.parse(JSON.stringify({{email_dict|safe}}));
      var pk_encrypt_dict = JSON.parse(JSON.stringify({{pk_encrypt_dict|safe}}));
      var pk_signing_dict = JSON.parse(JSON.stringify({{pk_signing_dict|safe}}));
      var pk_encrypt_hash_dict = JSON.parse(JSON.stringify({{pk_encrypt_hash_dict|safe}}));
      var pk_signing_hash_dict = JSON.parse(JSON.stringify({{pk_signing_hash_dict|safe}}));
      var encry_shares_dict = JSON.parse(JSON.stringify({{encry_shares_dict|safe}}));

      var i = 0;

      var trustee_ids_array = [];

      while (String(i) in id_dict) {
        dict = id_dict[String(i)];

        var id_value = parseInt(dict);
        if (id_value == parseInt({{signer_id}}))
    		  var trustee_index = i;

        id_array.push(id_value);

        dict = trustee_ids_dict[String(i)];
        var trustee_id_value = parseInt(dict);
        trustee_ids_array.push(trustee_id_value);

        dict = name_dict[String(i)];
        name_array.push(String(dict));

        dict = email_dict[String(i)];
        email_array.push(String(dict));

        dict = pk_encrypt_dict[String(i)];
        pk = ElGamal.PublicKey.fromJSONObject(jQuery.secureEvalJSON(dict));
        pk_encrypt_array.push(pk);

        dict = pk_signing_dict[String(i)];
        pk = ElGamal.PublicKey.fromJSONObject(jQuery.secureEvalJSON(dict));
        pk_signing_array.push(pk);

        dict = pk_encrypt_hash_dict[String(i)];
        pk_encrypt_hash_array.push(String(dict));

        dict = pk_signing_hash_dict[String(i)];
        pk_signing_hash_array.push(String(dict));

        i++;
      }

      var i = 0;
      var test = BigInt.fromInt(5);
      var test_big = BigInt.fromInt(test);
      var result_check = test_big.toJSONObject();

      while (String(i) in encry_shares_dict) {
        var dict = encry_shares_dict[String(i)];
        var encry_share = Thresholdalgs.Signed_Encrypted_Share.fromJSONObject(JSON.parse(dict));
        encry_shares.push(encry_share);
        i++;
      }

      return [id_array, name_array, email_array, pk_encrypt_array, pk_signing_array, trustee_index,encry_shares, trustee_ids_array];
    }

    function calculate_shares() {
      $('#first_step').hide();
      $('#first_step_waiting_div').show();

      ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
      var p = ELGAMAL_PARAMS.p;
      var g = ELGAMAL_PARAMS.g;
      var q = ELGAMAL_PARAMS.q;

      SCHEME_PARAMS = Thresholdalgs.Thresholdscheme.fromJSONObject({{scheme_params_json|safe}});
      var n = SCHEME_PARAMS.n;
      var k = SCHEME_PARAMS.k;
      var ground_1 = SCHEME_PARAMS.ground_1;
      var ground_2 = SCHEME_PARAMS.ground_2;
      var id_array, name_array, email_array, pk_encrypt_array, pk_signing_array, trustee_index, encry_shares, trustee_ids_array;
      var data = get_variables();
      id_array = data[0];
      name_array = data[1];
      email_array = data[2];
      pk_encrypt_array = data[3];
      pk_signing_array = data[4];
      trustee_index = data[5];
      encry_shares = data[6];
      trustee_ids_array = data[7];

      var secret_key_sig = get_secret_key_signing();
      var signer_index = trustee_index;
      var correct_shares = true;
      if ((g.modPow(secret_key_sig.x,p).toString()) == (pk_signing_array[signer_index].y.toString())) {
        var signer = name_array[signer_index];
        var pk_signer = pk_signing_array[signer_index];
        var scheme = new Thresholdalgs.Thresholdscheme({{election_id}}, n, k, ground_1, ground_2);
        var s = Random.getRandomInteger(q);
        var t = Random.getRandomInteger(q);
        var s_str = s.toJSONObject(s);
        var q_str = q.toJSONObject(q);

        // also give the id's from the trustees (trustee.id)
        var shares = scheme.share_verifiably(s, t, ELGAMAL_PARAMS, trustee_ids_array);
        if (id_array.length == shares.length) {
    		  var encry_shares = [];

    		  for (var i = 0; i < n; i++) {
      			var receiver_id = id_array[i];
      			var trustee_receiver_id = trustee_ids_array[i];
      			var receiver = name_array[i];
      			var pk_encrypt_receiver = pk_encrypt_array[i];
      			var pk_check = pk_encrypt_receiver.y.toJSONObject();

      			var share = shares[i];

      			var share_string = JSON.stringify(share.toJSONObject());
      			if (share.point_s.x_value != trustee_receiver_id)
      				correct_shares = false;

      			var encry_share = share.encrypt(pk_encrypt_receiver);
      			var encry_share_string = JSON.stringify(encry_share.toJSONObject());
      			var sig  = share.sign(secret_key_sig,p,q,g);
      			var signed_encry_share = new Thresholdalgs.Signed_Encrypted_Share(sig, encry_share);
      			var signed_encry_share_string = JSON.stringify(signed_encry_share.toJSONObject());

      			if (sig.verify(share_string,pk_signer,p,q,g)) {
      				console.log(signer + ' created correct share ' + String(i));
      				encry_shares.push(signed_encry_share);
      			} else {
      				console.log(signer + ' created incorrect share ' + String(i));
      			}
      		}
      	}

        if (encry_shares.length == n) {
          var encry_shares_text = '';
          var item;
          var dict = {};

          for (var i = 0; i < n; i++) {
      		  item = encry_shares[i];
      		  dict[String(i)] = item.toJSONObject();
          }

          encry_shares_text = JSON.stringify(dict);

          $('#first_step_waiting_div').hide();
          $('#second_step').show();
          $('#encry_shares_textarea').val(encry_shares_text);

          window.onbeforeunload = function() {
            return 'You have not yet uploaded your encrypted shares.';
          };
        }
      } else {
        $('#first_step_waiting_div').hide();
        $('#error').show();
      }
    }

    function submit_result() {
      $('#second_step').hide();
      $('#second_step_waiting_div').show();

      var result = $('#encry_shares_textarea').val();

      $.ajax({
        type: 'POST',
        url: '{% url helios.views.trustee_upload_encrypted_shares election.uuid, trustee.uuid %}',
        data: {'encry_shares': result},
        success: function(result) {
          $('#second_step_waiting_div').hide();
          if (result != 'FAILURE') {
            $('#done').show();
          } else {
            alert('Verification failed, you probably used the wrong key.');
            reset();
          }
        },
        error: function(error) {
            $('#second_step_waiting_div').hide();
            $('#error').show();
        }
      });
    }

    function skip_to_second_step() {
      $('#first_step').hide();
      $('#second_step').show();
      $('#encry_shares_textarea').html('');
    }

    function reset() {
      $('#second_step').hide();
      $('#first_step').show();
      $('#first_step_success').hide();

      $('#encry_shares_textarea').val('');
      $('#sk_textarea_encryption').val('');
      $('#sk_textarea_signing').val('');
      $('.sk_upload').each(function() {
        $(this).val('');
      });
    }

    function get_secret_key_encryption() {
      var keys = $.secureEvalJSON($('#sk_textarea_encryption').val());
      return ElGamal.SecretKey.fromJSONObject(keys.encryption);
    }

    function setup_public_key_and_proof() {
      // Generate PoK of secret key
      PROOF = SECRET_KEY.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
      PUBLIC_KEY = SECRET_KEY.pk;

      var pk_val = jQuery.toJSON({'pok': PROOF, 'public_key': PUBLIC_KEY});
      $('#pk_textarea').val(pk_val);
      $('#pk_hash').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY)));

      $('#clear_button').show();
      show_sk();
    }

    function calculate_keypair() {
      $('#third_step').hide();
      $('#third_step_waiting_div').show();

      ELGAMAL_PARAMS = ElGamal.Params.fromJSONObject({{eg_params_json|safe}});
      var p = ELGAMAL_PARAMS.p;
      var g = ELGAMAL_PARAMS.g;
      var q = ELGAMAL_PARAMS.q;

      SCHEME_PARAMS = Thresholdalgs.Thresholdscheme.fromJSONObject({{scheme_params_json|safe}});
      var n = SCHEME_PARAMS.n;
      var k = SCHEME_PARAMS.k;
      var ground_1 = SCHEME_PARAMS.ground_1;
      var ground_2 = SCHEME_PARAMS.ground_2;

      var id_array, name_array, email_array, pk_encrypt_array, pk_signing_array, trustee_index, encry_shares, trustee_ids_array;
    	var data = get_variables();
    	id_array = data[0];
    	name_array = data[1];
    	email_array = data[2];
    	pk_encrypt_array = data[3];
    	pk_signing_array = data[4];
    	trustee_index = data[5];
    	encry_shares = data[6];
    	trustee_ids_array = data[7];

   		var sk_decrypt = get_secret_key_encryption();
  		var pk_trustee = pk_encrypt_array[trustee_index];
  		var y_cal = g.modPow(sk_decrypt.x,p).mod(p);

  		if (y_cal.equals(pk_trustee.y)) {
  			console.log('Correct keypair for decryption');
  		} else {
  			console.log('Incorrect keypair for decryption');
  		}

  		// Test for encyrption
  		var plaintext = new ElGamal.Plaintext(BigInt.fromInt(999), pk_trustee);
  		var r = Random.getRandomInteger(pk_trustee.q);

  		var ciph = ElGamal.encrypt(pk_trustee, plaintext,r);
  		var plain = sk_decrypt.decrypt(ciph);

  		// Loop over all trustees
  		if (encry_shares.length == n) {
  			var secret_shares = [];
  			var trustee_id = trustee_ids_array[trustee_index];

  			for (var i = 0; i < n; i++) {
  				var pk_sender_sig = pk_signing_array[i];
  				var sig_encry_share = encry_shares[i];
  				var encry_share = sig_encry_share.encr_share;
  				var sig = sig_encry_share.sig;
  				var share = encry_share.decrypt(sk_decrypt);
  				var share_string = JSON.stringify(share.toJSONObject());
  				var correct_share = false;

  				if ((share.point_s.x_value == trustee_id) && (share.point_t.x_value == trustee_id)) {
  					if (sig.verify(share_string,pk_sender_sig,p,q,g)) {
  						console.log(name_array[trustee_index] + ' verified signature of his share created by ' + name_array[i] + ': correct signature');

  						if (share.verify_share(SCHEME_PARAMS,p,q,g)) {
  							console.log(name_array[trustee_index] + ' verified commitments of his share created by ' + name_array[i] + ': correct commitments');

  							secret_shares.push(share);
  							correct_share = true;

  							console.log(name_array[trustee_index] + ' accepted share number ' + String(i) + ' from ' + name_array[i]);
  						} else{
  							console.log(name_array[trustee_index] + ' verified commitments of his share created by ' + name_array[i] + ': wrong commitments');
  						}
  					} else {
              console.log(name_array[trustee_index] + ' verified signature of his share created by ' + name_array[i] + ': wrong signature');
            }
  				} else {
  				  console.log(name_array[trustee_index] + ' spotted a share with wrong x-coordinates of ' + name_array[i]);
          }
  			}
  		} else {
  		  console.log(name_array[trustee_index]+ ' received '+ String(encry_shares.length) + ' shares, instead of ' + String(n) + ' shares');
      }

      if (secret_shares.length == n) {
        var share = secret_shares[0];
        var share_string = share.toJSONObject();

        for (var i = 1 ; i < n ; i++) {
  		    var share_string = secret_shares[i].toJSONObject();
  		    var succes = share.add(secret_shares[i],p,q,g,SCHEME_PARAMS);
        }

        var fin_share_string = share.toJSONObject();
        var fin_com = share.Ei;
        var q_str = q.toJSONObject();
        if (share.verify_share(SCHEME_PARAMS,p,q,g)) {
  		    console.log('Final secret share has commitment: ' + fin_com);
        } else {
  		    console.log('Final secret share: wrong commitments');
        }

        var sk_val = share.point_s.y_value;
        var pk_val = g.modPow(sk_val,p).mod(p);
        PUBLIC_KEY = new ElGamal.PublicKey(p,q,g,pk_val);
        SECRET_KEY = new ElGamal.SecretKey(sk_val,PUBLIC_KEY);
        PROOF = SECRET_KEY.proveKnowledge(ElGamal.fiatshamir_dlog_challenge_generator);
        var pk_val = jQuery.toJSON({'pok': PROOF, 'public_key': PUBLIC_KEY});
        $('#pk_textarea').val(pk_val);
        $('#pk_hash').html(b64_sha256(jQuery.toJSON(PUBLIC_KEY)));

        $('#third_step_waiting_div').hide();
        show_sk();
      }
    }

    function show_sk() {
      $('#sk_download').show();
    }

    function download_sk() {
      var blob = new Blob([jQuery.toJSON(SECRET_KEY)], {type: 'application/json'});
      var url = URL.createObjectURL(blob);

      saveAs(blob, 'secret_key.json');
    }

    function show_pk() {
      $('#sk_download').hide();
      $('#pk_hash').show();
      $('#pk_form').show();

      window.onbeforeunload = function() {
        return 'You have not yet uploaded your public key.';
      };
    }

    function handleFileSelect(e) {
      var file = e.target.files[0];
      var jsonType = /application\/json/;

      var output = $('#' + $(e.target).data('output'));

      if (file.type.match(jsonType)) {
        var reader = new FileReader();

        reader.onload = function(e) {
          output.val(reader.result);
        }

        reader.readAsText(file);
      } else {
        output.addClass('error');
        output.parent().find('.error').show();
      }
    }

    $(document).ready(function() {
      BigInt.setup(function() {
          ELECTION_JSON = {{election.toJSON|safe}};
      });

      $('.sk_upload').change(handleFileSelect);

      $('#second_step form').submit(function() {
        window.onbeforeunload = null;
      });

      $('#pk_form form').submit(function() {
        window.onbeforeunload = null;
      });
    });
  </script>

  <div class="row">
    <div class="large-12 columns">
      <h2>{{election.name}}&mdash;Trustee Home for {{trustee.name}}</h2>

      {% if not election.use_threshold %}
        <p>
          This is your trustee homepage. As a trustee, you are responsible for decrypting the result of the election when all votes have been cast. In order to encrypt the votes, the system needs you to generate a key pair.
        </p>
      {% else %}
        <p>
          This is your trustee homepage. As a trustee, you are responsible for decrypting the result of the election when all votes have been cast. This election uses threshold encryption, which means that you will have to participate in a key ceremony. During this ceremony, you (and all other trustees) will receive part of the key that will be used to encrypt the ballots.
        </p>

        {% if not trustee.public_key %}
          <p>
            The ceremony consists of three steps:

            <ol>
              <li>{% if trustee.key %}<s>{% endif %}Generate a key pair for encryption and for signing.{% if trustee.key %}</s>{% endif %}</li>
              <li>{% if trustee.added_encrypted_shares %}<s>{% endif %}Generate and upload encrypted shares for the other trustees.{% if trustee.added_encrypted_shares %}</s>{% endif %}</li>
              <li>
                Decrypt the shares of the other trustees and calculate your key pair.
                <br />
                <i>This is only available when all the trustees have uploaded their shares.</i>
              </li>
            </ol>
          </p>
        {% endif %}
      {% endif %}

      {% if election.frozen_at %}
        {% if election.encrypted_tally %}
          {% if trustee.decryption_factors %}
            <div data-alert class="alert-box info">
              You have successfully uploaded your decryption.
            </div>
          {% else %}
            <div data-alert class="alert-box info">
              The encrypted tally for this election is ready.
            </div>

            <a class="button" href="{% url helios.views.trustee_decrypt_and_prove election.uuid, trustee.uuid %}">Decrypt With Your Key</a>
          {% endif %}
        {% else %}
          <div class="alert-box info">
            <b>Next</b> Once the tally is computed, you will need to come back here to provide your secret key for decryption purposes. You should keep the email with your trustee homepage link, which contains the credentials needed to get back here.
          </div>
        {% endif %}
      {% else %}
        {% if trustee.public_key %}
          <div class="alert-box info">
            <b>Next</b> You have obtained a key pair that will be used to encrypt the ballots. When all trustees have done this, the election administrator will freeze the election.
          </div>
        {% endif %}
      {% endif %}

      {% if trustee.public_key %}
        <p>
          You have successfully uploaded your public key, with fingerprint <tt>{{trustee.public_key_hash}}</tt>. If you want to verify whether you still have the correct secret key stored on your machine, you can do so by clicking on the following button.
        </p>

        <a class="button" href="{% url helios.views.trustee_check_sk election.uuid, trustee.uuid %}">Verify Your Secret Key &raquo;</a>
      {% endif %}

      {% if not election.use_threshold %}
        {% if not trustee.public_key %}
          <p>
            As a trustee, you have to generate a key pair that will be used to encrypt the ballots. A generator is provided that runs entirely in your browser, so that the generated secret key will not leave your machine.
          </p>

          <div data-alert class="alert-box info">
            You have not yet uploaded your public key.
          </div>

          <a class="button" href="{% url helios.views.trustee_keygenerator election.uuid, trustee.uuid %}">Generate Key Pair &raquo;</a>
        {% endif %}
      {% else %}
        {% if not trustee.key %}
          <p>
            You will first need to generate two key pairs: one for encryption and one for signing. Both pairs will be used to secure the communication with the other trustees during the key ceremony. A generator is provided that runs entirely in your browser, so that the generated secret key will not leave your machine.
          </p>

          <a class="button" href="{% url helios.views.trustee_keygenerator_threshold election.uuid, trustee.uuid %}">Generate Key Pairs</a>
        {% else %}
            {% if not scheme_params_json or not election.trustees_added_communication_keys %}
              {% if not scheme_params_json %}
                <div data-alert class="alert-box info">
                  <b>Next</b> You have to wait for the election administrator to define the threshold scheme before you can generate your encrypted shares.
                </div>
              {% else %}
                <div data-alert class="alert-box info">
                  <b>Next</b> You have to wait for the other trustees to upload their communication keys.
                </div>
              {% endif %}
          {% else %}
            {% if not trustee.added_encrypted_shares %}
              <div id="first_step">
                <h3>Generate Your Encrypted Shares</h3>

                <p>
                  To generate your encrypted shares, you first have to enter your secret key for signing. If you generated your key pair with our generator, it was stored in a file called <tt>communication_keys.json</tt>. This file contains your private keys, which are unknown to the server. This is the reason you need it here again.
                </p>

                <form>
                  <div class="row">
                    <div class="large-3 columns">
                      <label for="sk_upload" class="right inline">Secret Key for Signing</label>
                    </div>
                    <div class="large-9 columns">
                      <input type="file" name="sk_upload" class="sk_upload" data-output="sk_textarea_signing" />
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-9 large-offset-3 columns">
                      <textarea id="sk_textarea_signing" style="height: 100px;" disabled></textarea>
                      <small class="error" style="display: none;">The file must be formatted as JSON.</small>
                    </div>
                  </div>

                  <div class="row">
                    <div class="large-9 large-offset-3 columns">
                      <button onclick="calculate_shares(); return false;">Generate Your Encrypted Shares</button>
                    </div>
                  </div>
                </form>
              </div>

              <div id="first_step_waiting_div" style="display: none;">
                <h3>Generate Your Encrypted Shares</h3>

                <p>
                  Calculating your encrypted shares...
                </p>

                <p class="text-center">
                  <img src="/static/helios/loading.gif" />
                </p>
              </div>

              <div id="second_step" style="display: none;">
                <h3>Upload Your Encrypted Shares <small>[<a href="javascript:reset()">Back</a>]</small></h3>

                <p id="first_step_success">
                  Your encrypted shares have been generated and your secret key was cleared from memory. When you're ready, you can submit this result to the server.
                </p>

                <form action="javascript:submit_result();">
                  <textarea id="encry_shares_textarea" style="display: none;"></textarea>
                  <input class="button" type="submit" value="Upload Encrypted Shares" />
                </form>
              </div>

              <div id="second_step_waiting_div" style="display: none;">
                <h3>Upload Your Encrypted Shares</h3>

                <p>
                  Submitting and checking your decryption factors and proofs...
                </p>

                <p class="text-center">
                  <img src="/static/helios/loading.gif" />
                </p>
              </div>
            {% else %}
              {% if not trustee.public_key %}
                {% if not election.encrypted_shares_uploaded %}
                  <div id="third_step">
                    <h3>Decrypt Encrypted Shares and Calculate Your Keypair</h3>

                    <div data-alert class="alert-box info">
                      <b>Next</b> Wait for the other trustees to calculate the encrypted shares. Please come back later.
                    </div>
                  </div>
                {% else %}
                  <div id="third_step">
                    <h3>Decrypt Encrypted Shares and Calculate Your Keypair</h3>

                    <p>
                      To decrypt your shares, you first have to upload your secret key for encryption. If you generated your key pair with our generator, it was stored in a file called <tt>communication_keys.json</tt>. This file contains your private keys, which are unknown to the server. This is the reason you need it here again.
                    </p>

                    <form>
                      <div class="row">
                        <div class="large-3 columns">
                          <label for="sk_upload" class="right inline">Secret Key for Encryption</label>
                        </div>
                        <div class="large-9 columns">
                          <input type="file" name="sk_upload" class="sk_upload" data-output="sk_textarea_encryption" />
                        </div>
                      </div>

                      <div class="row">
                        <div class="large-9 large-offset-3 columns">
                          <textarea id="sk_textarea_encryption" style="height: 100px;" disabled></textarea>
                          <small class="error" style="display: none;">The file must be formatted as JSON.</small>
                        </div>
                      </div>

                      <div class="row">
                        <div class="large-9 large-offset-3 columns">
                          <button onclick="calculate_keypair(); return false;">Decrypt Encrypted Shares</button>
                        </div>
                      </div>
                    </form>
                  </div>

                  <div id="third_step_waiting_div" style="display: none;">
                    <h3>Decrypt Encrypted Shares and Calculate Keypair</h3>

                    <p>
                      Decrypting encrypted shares and calculating the keypair...
                    </p>

                    <p class="text-center">
                      <img src="/static/helios/loading.gif" />
                    </p>
                  </div>

                  <div id="sk_download" style="display: none;">
                    <h3>Your Calculated Key Pair</h3>

                    <p>
                      Your key pair has been calculated and you can now save the secret key. <b>It is important that you do not lose this file, because you will need it if you are one of the trustees asked to decrypt the tally.</b>
                    </p>

                    <button id="sk_link" onclick="download_sk(); $('#pk_link').show(); $('#sk_link').addClass('secondary'); return false;">Save Secret Key</button>
                    <button id="pk_link" onclick="show_pk(); return false;" style="display: none;">Upload Your Public Key &raquo;</button>
                  </div>

                  <div id="pk_form" style="display: none;">
                    <h3>Upload Your Public Key</h3>

                    <p>
                      It's time to upload the public key to the server.
                    </p>

                    <p>
                      The fingerprint of your public key is: <tt id="pk_hash"></tt>. You may want to save this to confirm that your public key was properly stored by the server.
                    </p>

                    <p>
                      <i>Your public key is not currently being displayed because you do not need to save it, the fingerprint is sufficient.</i>
                    </p>

                    <form method="post" action="{% url helios.views.trustee_upload_pk election.uuid, trustee.uuid %}">
                      <textarea id="pk_textarea" name="public_key_json" style="display: none;"></textarea>
                      <input class="button" type="submit" value="Upload Public Key">
                    </form>
                  </div>
                {% endif %}
              {% endif %}
            {% endif %}

            <div id="done" style="display: none;">
              <h3>Done</h3>

              <a class="button" href="{% url helios.views.one_election_view election.uuid %}">Back to Election</a>
            </div>

            <div data-alert class="alert-box warning" id="error" style="display: none;">
              <b>Error</b> Your secret key was likely incorrect.
            </div>
          {% endif %}
        {% endif %}
      {% endif %}

      <div id="applet_div"></div>
    </div>
  </div>
{% endblock %}
