{% extends "helios/templates/cryptobase.html" %}

{% block title %}{{election.name}}: σελίδα μέλους εφορευτικής επιτροπής{% endblock %}
{% block head_subtitle %}
<script>
    var CSRF_TOKEN = "{{ csrf_token }}";
    var CSRF_TOKEN_NAME = "csrfmiddlewaretoken";
</script>
<div id="header" class="columns twelve">
   <h4 id="election-name" class="subheader">
      {{election.name}}<span class="button small election-desc-toggle">Πληροφορίες</span>
    </h4>
  <div id="election-description-modal" class="reveal-modal">
    <h4>{{ election.name }}</h4>
    <p class="election-description-in-modal">{{ election.description }}</p>
  </div>
  <script>
    $("span.election-desc-toggle").live("click", function(){
      $('#election-description-modal').reveal();
    })
</script>
</div>
{% endblock %}


{% block tabs_menu %}
<dd class="active"><a 
  href="{% url election_index election.uuid %}">Ενέργειες μέλους εφορευτικής επιτροπής</a></dd>
{% endblock %}
