{% extends "helios/templates/trustee_home_base.html" %}

{% block content %}
<p>
{% if trustee.public_key_hash %}
Το δημόσιο κλειδί του Κωδικού σας μεταφορτώθηκε με επιτυχία.<br />
<a href="{% url helios.views.trustee_check_sk election.uuid, trustee.uuid %}">
Επαληθεύστε ότι έχετε το σωστό Κωδικό Ψηφοφορίας</a>, αν δεν το έχετε ήδη κάνει.
{% else %}
<a href="{% url helios.views.trustee_keygenerator election.uuid, trustee.uuid %}">ρυθμίστε τον Κωδικό Ψηφοφορίας</a>
{% endif %}
</p>

<p>
{% if election.encrypted_tally %}
{% if trustee.decryption_factors %}
Έχετε αποστείλει τη μερική αποκρυπτογράφησή σας με επιτυχία.
{% else %}
<b>Τα τελικά ψηφοδέλτια είναι έτοιμα για αποκρυπτογράφηση.</b><br /><br />
<a class="button success medium" href="{% url helios.views.trustee_decrypt_and_prove election.uuid, trustee.uuid %}">
Αποκρυπτογραφήστε με τον Κωδικό Ψηφοφορίας σας</a>
{% endif %}
{% else %}
Μετά την ολοκλήρωση της καταμέτρησης μπορείτε να επιστρέψετε εδώ για την αποκρυπτογράφηση των αποτελεσμάτων.<br />
Πρέπει να κρατήσετε το μήνυμα του συστήματος &laquo;Ζευς&raquo; στο ηλεκτρονικό ταχυδρομείο σας με τον σύνδεσμο στην αρχική σελίδα σας.
{% endif %}
</p>

{% endblock %}
