{% extends TEMPLATE_BASE %}
{% block title %}Threshold Scheme for {{election.name}}{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>{{election.name}}&mdash;Threshold Scheme <small>[<a href="{% url 'helios.views.trustees_list_view' election.uuid %}">Back</a>]</small></h2>

      <p>
        There are {{n}} trustees for the election {{election.name}}. You can now specify the number of trustees that is required to decrypt the result. You can submit any number between 1 and {{n}}.
      </p>

      <form action="" method="post">
        <div class="row">
          <div class="large-3 columns">
            <label for="name" class="right inline">Trustees for Decryption</label>
          </div>
          <div class="large-9 columns">
            <input type="number" name="k" min="1" max="{{n}}">
          </div>
        </div>

        <div class="row">
          <div class="large-9 large-offset-3 columns">
            <input type="submit" class="small button" value="Submit" />
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
