{% extends "helios/templates/cryptobase.html" %}

{% block title %}Decrypt Result for {{trustee.name}}{% endblock %}
{% block top-bar_style %}trustee{% endblock %}

{% block content %}
  <script language="javascript">
    function decrypt_and_prove_tally(tally, public_key, secret_key) {
      // we need to keep track of the values of g^{voter_num} for decryption
      var DISCRETE_LOGS = {};
      var CURRENT_EXP = 0;
      var CURRENT_RESULT = BigInt.ONE;
      DISCRETE_LOGS[CURRENT_RESULT.toString()] = CURRENT_EXP;

      // go through the num_tallied
      while (CURRENT_EXP < tally.num_tallied) {
        CURRENT_EXP += 1;
        CURRENT_RESULT = CURRENT_RESULT.multiply(public_key.g).mod(public_key.p);
        DISCRETE_LOGS[CURRENT_RESULT.toString()] = CURRENT_EXP;
      }

      // initialize the arrays
      var decryption_factors= [];
      var decryption_proofs= [];

      var start = new Date().getTime();
      // decrypt the tallies
      $(tally.tally).each(function(q_num, q_tally) {
        decryption_factors[q_num] = [];
        decryption_proofs[q_num] = [];

        $(q_tally).each(function(choice_num, choice_tally) {
          var one_choice_result = secret_key.decryptionFactorAndProof(choice_tally, ElGamal.fiatshamir_challenge_generator);

          decryption_factors[q_num][choice_num] = one_choice_result.decryption_factor
          decryption_proofs[q_num][choice_num] = one_choice_result.decryption_proof;
        });
      });
      var stop = new Date().getTime();
      console.log('Calculated decryption factors in ' + String(stop-start) + ' ms');

      return {'decryption_factors': decryption_factors, 'decryption_proofs': decryption_proofs};
    }

    function get_secret_key() {
      return ElGamal.SecretKey.fromJSONObject($.secureEvalJSON($('#sk_textarea').val()));
    }

    function do_tally() {
      $('#sk_section').hide();
      $('#waiting_div').show();

      var secret_key = get_secret_key();

      var factors_and_proof = decrypt_and_prove_tally(TALLY, ELECTION_PK, secret_key);

      var factors = factors_and_proof.decryption_factors
      var decryption_proofs = $(factors_and_proof.decryption_proofs).map(function(i, q_proof) {
        return $(q_proof).map(function(j, a_proof) {
          return a_proof.toJSONObject();
        });
      });

      var factors_and_proofs = {'decryption_factors': factors, 'decryption_proofs': decryption_proofs};
      var factors_and_proofs_json = $.toJSON(factors_and_proofs);

      // clear stuff
      secret_key = null;
      $('#sk_textarea').val('');

      // display the result in a text area.
      $('#waiting_div').hide();

      $('#result_textarea').html(factors_and_proofs_json);
      $('#result').show();
      $('#first_step_success').show();
    }

    function submit_result() {
      $('#result').hide();
      $('#waiting_submit_div').show();

      var result = $('#result_textarea').val();

      // do the post
      $.ajax({
        type: 'POST',
        url: "{% url helios.views.trustee_upload_decryption election.uuid, trustee.uuid %}",
        data: {'factors_and_proofs': result},
        success: function(result) {
          $('#waiting_submit_div').hide();
          if (result != "FAILURE") {
            $('#done').show();
          } else {
            alert('Verification failed, you probably used the wrong key.');
            reset();
          }
        },
        error: function(error) {
          $('#waiting_submit_div').hide();
          $('#error').show();
        }
      });
    }

    function reset() {
      $('#result').hide();
      $('#sk_section').show();
      $('#result_textarea').html('');
      $('#first_step_success').hide();

      $('.sk_upload').each(function() {
        $(this).val('');
      });
      $('#sk_textarea').val('');
    }

    function handleFileSelect(e) {
      var file = e.target.files[0];
      var jsonType = /application\/json/;

      var output = $('#' + $(e.target).data('output'));

      if (file.type.match(jsonType)) {
        var reader = new FileReader();

        reader.onload = function(e) {
          output.val(reader.result);
        }

        reader.readAsText(file);
      } else {
        output.addClass('error');
        output.parent().find('.error').show();
      }
    }

    $(document).ready(function() {
      $('#result').hide();
      $('#waiting_div').hide();
      $('#waiting_submit_div').hide();
      $('#done').hide();
      $('#error').hide();

      $('.sk_upload').change(handleFileSelect);

      BigInt.setup(function() {
        ELECTION_JSON = {{election.toJSON|safe}};
        ELECTION_PK = ElGamal.PublicKey.fromJSONObject(ELECTION_JSON['public_key']);
        TALLY = HELIOS.Tally.fromJSONObject({{election.encrypted_tally.toJSON|safe}}, ELECTION_PK);
        $('#sk_section').show();
      });
    });
  </script>

  <div class="row">
    <div class="large-12 columns">
      <h2>{{election.name}}&mdash;Decrypt Result for {{trustee.name}}</h2>

      <p>
        The encrypted tally for your election has been computed. Now it's time to compute and submit your partial decryption.
      </p>

      <p>
        This process is performed in two steps:

        <ol>
          <li>Your secret key is used to decrypt the tally <i>inside</i> your browser.</li>
          <li>Once your decryption factors have been computed, you will need to submit them to the server.</li>
        </ol>
      </p>

      <div id="sk_section" style="display:none;">
        <h3>Generate Partial Decryption</h3>

        <p>
          To generate your partial decryption, you first have to enter your secret key. If you created your key pair with our generator, it was stored in a file called <tt>secret_key.json</tt>. This file contains your private key, which are unknown to the server. This is the reason you need it here again.
        </p>

        <form>
          <div class="row">
            <div class="large-3 columns">
              <label for="sk_upload" class="right inline">Secret Key</label>
            </div>
            <div class="large-9 columns">
              <input type="file" name="sk_upload" class="sk_upload" data-output="sk_textarea" />
            </div>
          </div>

          <div class="row">
            <div class="large-9 large-offset-3 columns">
              <textarea id="sk_textarea" style="height: 100px;" disabled></textarea>
              <small class="error" style="display: none;">The file must be formatted as JSON.</small>
            </div>
          </div>

          <div class="row">
            <div class="large-9 large-offset-3 columns">
              <button onclick="do_tally(); return false;">Generate Partial Decryption</button>
            </div>
          </div>
        </form>
      </div>

      <div id="waiting_div">
        <h3>Generate Partial Decryption</h3>

        <p>
          Generating partial decryption factors and proofs...
        </p>

        <p class="text-center">
          <img src="/static/helios/loading.gif" />
        </p>
      </div>

      <div id="result">
        <h3>Upload Your Partial Decryption</h3>

        <p id="first_step_success" style="display: none;">
          Your partial decryption factors and proofs have been generated and are shown below. Your secret key has been cleared from memory. When you're ready, you can submit this result to the server.
        </p>

        <form action="javascript:submit_result();">
          <textarea id="result_textarea" style="height: 100px;" disabled></textarea>
          <input class="button" type="submit" value="Upload Your Partial Decryption" />
          <a class="secondary button" href="javascript:reset();">Cancel</a>
        </form>
      </div>

      <div id="waiting_submit_div">
        <p>
          Submitting and checking your decryption factors and proofs...
        </p>

        <p class="text-center">
          <img src="/static/helios/loading.gif" />
        </p>
      </div>

      <div id="done">
        <h3>Done</h3>

        <a class="button" href="{% url helios.views.one_election_view election.uuid %}">Back to Election</a>
      </div>

      <div data-alert class="alert-box warning" id="error">
        <b>Error</b> Your secret key was likely incorrect.
      </div>

      <div id="applet_div"></div>
    </div>
  </div>
{% endblock %}
