{% load i18n %}
  {% if user and user.is_admin %}
  <div class="columns twelve loginbox">
      <div class="panel warning">{% trans "You are logged in as election administrator" %} &#8212;
          <em>"{{ user.institution.name }}"</em>
          <br /><br />
          <a class="button tiny" href="{% url admin_home %}">{% trans "control panel" %}</a>
          {% if user.is_manager or user.is_superadmin %}
          <a class="button tiny" href={% url list_users %}>{% trans "accounts" %}
          </a>
          {% endif %}
          <a class="button tiny alert" href="{% url change_password %}?return_url=/">{% trans "change password" %}</a>
          <a class="button tiny alert" href="{% url logout %}?return_url=/">{% trans "logout" %}</a>
      </div>
  </div>
  {% endif %}
  {% if voter %}
  <div class="columns twelve loginbox">
      <div class="panel warning">{% trans "You are logged in as voter" %}
          <u>{{ voter.voter_surname }} {{ voter.voter_name }}</u> &#8212;
          <em>"<a href="{% url election_poll_index voter.poll.election.uuid voter.poll.uuid %}">
            {{ voter.poll.name_display }}</a>"</em>
          <br /><br />
          <a class="button tiny" href="{% url election_poll_index voter.poll.election.uuid voter.poll.uuid %}">
		  {% trans "proceed to election site" %}</a>
          <a class="button tiny alert" href="{% url logout %}?return_url=/">{% trans "logout" %}</a>
      </div>
  </div>
  {% endif %}
  {% if trustee and trustee.election %}
  <div class="columns twelve loginbox">
      <div class="panel warning">{% trans "You are logged in as trustee" %} &#8212;
          <em>"<a href="{% url election_index trustee.election.uuid %}">{{ trustee.election.name }}</a>"</em>
          <br /><br />
          <a class="button tiny" 
              href="{% url election_trustee_home trustee.election.uuid %}">{% trans "trustee dashboard" %}</a>
          <a class="button tiny alert" href="{% url logout %}?return_url=/">{% trans "logout" %}</a>
        </div>
        <div class="alert-box alert" style="display:none"
          id="invalid-browser">
{% trans "Your web browser is not supported for trustee functions." %}
        </div>
  </div>
  {% endif %}

