  {% if user and user.is_admin %}
  <div class="columns twelve loginbox">
      <div class="panel warning">Έχετε συνδεθεί ως διαχειριστής εκλογών για το 
          <em>"{{ user.institution.name }}"</em>
          <br /><br />
          <a class="button tiny" href="/admin/">σελίδα διαχείρισης</a>
          <a class="button tiny alert" href="{% url login %}?return_url=/">αλλαγή κωδικού</a>
          <a class="button tiny alert" href="{% url logout %}?return_url=/">έξοδος</a>
      </div>
  </div>
  {% endif %}
  {% if voter %}
  <div class="columns twelve loginbox">
      <div class="panel warning">Έχετε συνδεθεί ως o ψηφοφόρος 
          <u>{{ voter.voter_surname }} {{ voter.voter_name }}</u> της ψηφοφορίας
          <em>"<a 
href="{% url election_poll_index voter.poll.election.uuid voter.poll.uuid %}">
{{ voter.poll.name_display }}
</a>"</em>
          <br /><br />
          <a class="button tiny" href="{% url election_poll_index voter.poll.election.uuid voter.poll.uuid %}">προβολή
              σελίδας ψηφοφορίας</a>
          <a class="button tiny alert" href="{% url logout %}?return_url=/">έξοδος</a>
      </div>
  </div>
  {% endif %}
  {% if trustee and trustee.election %}
  <div class="columns twelve loginbox">
      <div class="panel warning">Έχετε συνδεθεί ως μέλος εφορευτικής επιτροπής της ψηφοφορίας 
          <em>"<a href="{% url election_index trustee.election.uuid %}">{{ trustee.election.name }}</a>"</em>
          <br /><br />
          <a class="button tiny" 
              href="{% url election_trustee_home trustee.election.uuid %}">σελίδα μέλους εφορευτικής</a>
          <a class="button tiny alert" href="{% url logout %}?return_url=/">έξοδος</a>
        </div>
        <div class="alert-box alert" style="display:none"
          id="invalid-browser">
Το πρόγραμμα πλοήγησης που χρησιμοποιείτε δεν υποστηρίζεται για τις
ενέργειες του μέλους της εφορευτικής επιτροπής.
        </div>
  </div>
  {% endif %}

