{% extends "election_page.html" %}

{% block title %}{{election.name}}: Ψηφοφόροι{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}

{% if admin_p %}
<div class="row">
  <div class="columns seven">
    <div class="columns six">
    <h6>Σύνολο ψηφοφόρων: <span>{{ voters.count }}</span></h6>
    </div>
    <div class="columns six" style="padding-left:0; width: 42%;" >
    <h6>Έχουν ψηφίσει: {{ voted_count }}</h6>
    </div>
  </div>
  <div class="columns five">
  {% if election.frozen_at %}
  <a style="float: right" class="button small" href="{% url helios.views.voters_email election.uuid %}">Αποστολή email</a>
  {% else %}
  <a style="float: right" class="button small disabled" href="#">Αποστολή email</a>
  {% endif %}
  <a style="float: right; margin-right: 10px;" class="button small" href="{% url helios.views.voters_upload election.uuid %}">Προσθήκη</a>

</div>
</div>
{% endif %}
<br /><br />
{% if 0 %}
<div class="panel">
  <h5>Έλεγχος αναγνωριστικού ψήφου</h5>

  <form action="./list" method="get">
    {% if validate_hash %}
      <br />
      {% if hash_valid == "1" %}
      <div class="label success" style="padding:10px;">Το αναγνωρίστικό ψήφου
        "<b style="font-size: 1.2em">{{ validate_hash }}</b>" έχει καταχωρηθεί</div>
      {% endif %}
      {% if hash_invalid == "1" %}
      <div class="label alert" style="padding:10px;">Το αναγνωρίστικό ψήφου "<b
          style="font-size: 1.2em">{{ validate_hash }}</b>" δεν έχει καταχωρηθεί</div>
      {% endif %}
      <br /><br /><br />
      {% else %}
    {% endif %}
      <p>συμπληρώστε το αναγνωριστικό της ψήφου σας στο παρακάτω πεδίο και πατήστε
      επιβεβαίωση για να επιβεβαιώσετε οτι η ψήφος σας έχει καταχωρηθεί.</p>
      <input type="text" value="" name="vote_hash" />
      <input type="submit" class="button small success" value="Επιβεβαίωση"/>
  </form>
</div>
{% endif %}

{% if admin_p %}
<table class="voters" width="100%">
  <thead>
    <tr>
      <th>Επώνυμο</th>
      <th>Όνομα</th>
      <th>Πατρώνυμο</th>
      <th>Email</th>
      <th>Έχει ψηφίσει</th>
      {% if admin_p %}
      {% if election.frozen_at %}
      <th>Αποστολή email</th>
      {% endif %}
      <th>Διαγραφή</th>
      <th>Τελευταία αποστολή email στις</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for voter in voters %}
  <tr>
    <td width="100%">
      {{ voter.voter_surname }}
    </td>
    <td>
      {{ voter.name }}
    </td>
    <td>
      {{ voter.voter_fathername }}
    </td>
    <td>
      {{ voter.voter_email }}
    </td>
    <td>
      {% if voter.vote_hash %}
      Ναι
      {% else %}
      Όχι
      {% endif %}

    </td>
{% if admin_p %}
      {% if election.frozen_at %}
    <td>
<a href="{% url helios.views.voters_email election.uuid %}?voter_id={{voter.voter_login_id}}">Αποστολή email</a>
</td>
{% endif %}
<td>
    {% if not voter.vote %}
<a onclick="return confirm('επιβεβαιώστε τη διαγραφή ψηφοφόρου: {{voter.name}} ?');" 
  href="{% url helios.views.voter_delete election.uuid, voter.uuid %}">
  Διαγραφή
  </a>
  {% endif %}
</td>
<td>
  {{ voter.last_email_send_at }}
</td>
  {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}
