{% extends "election_page.html" %}
{% load pagination_tags %} 

{% block title %}{{election.name}}: Ψηφοφόροι{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}
{% block content %}

{% if admin_p %}


<div class="row">
  <div class="columns seven">
    <div class="columns six">
    <h6>Σύνολο ψηφοφόρων: <span>{{ voters.count }}</span></h6>
    </div>
    <div class="columns six" style="padding-left:0; width: 42%;" >
    <h6>Έχουν ψηφίσει: {{ voted_count }}</h6>
    </div>
  </div>
  <div class="columns five">

{% autopaginate voters 100 %}
{% if admin_p %}

        <div href="#" class="button medium dropdown" style="float:right;">
          Ενέργειες λίστας&nbsp;
          <ul>
            <li>
  <a style="" class="foundicon-plus" href="{% url helios.views.voters_upload election.uuid %}"> &nbsp;Προσθήκη</a>
  </li>
  <li>
  {% if election.frozen_at %}
  <a style="" class="foundicon-mail" href="{% url helios.views.voters_email election.uuid %}"> &nbsp;Αποστολή email</a>
  {% else %}
  <a style="" class="foundicon-mail" href="{% url helios.views.voters_email election.uuid %}"> &nbsp;Αποστολή email</a>
  {% endif %}
  </li>
  <li>
  <a style="" class="foundicon-down-arrow"
    href="{% url helios.views.voters_csv election.uuid %}"> &nbsp;Αποθήκευση σε CSV</a>
  </li>
  {% if not election.frozen_at %}
            <li>
<a class="foundicon-remove alert" 
    onclick="return confirm('Είστε σίγουρος ότι θέλετε να διαγράψετε όλους τους ψηφοφόρους;')",
    href="{% url helios.views.voters_clear election.uuid %}"> &nbsp;Διαγραφή όλων</a>
  </li>
  {% endif %}
          </ul>
        </div>

  {% endif %}




</div>
</div>
{% endif %}
<br /><br />
{% if 0 %}
<div class="panel">
  <h5>Έλεγχος αναγνωριστικού ψήφου</h5>

  <form action="./list" method="get">
    {% if validate_hash %}
      <br />
      {% if hash_valid == "1" %}
      <div class="label success" style="padding:10px;">Το αναγνωρίστικό ψήφου
        "<b style="font-size: 1.2em">{{ validate_hash }}</b>" έχει καταχωρηθεί</div>
      {% endif %}
      {% if hash_invalid == "1" %}
      <div class="label alert" style="padding:10px;">Το αναγνωρίστικό ψήφου "<b
          style="font-size: 1.2em">{{ validate_hash }}</b>" δεν έχει καταχωρηθεί</div>
      {% endif %}
      <br /><br /><br />
      {% else %}
    {% endif %}
      <p>συμπληρώστε το αναγνωριστικό της ψήφου σας στο παρακάτω πεδίο και πατήστε
      επιβεβαίωση για να επιβεβαιώσετε οτι η ψήφος σας έχει καταχωρηθεί.</p>
      <input type="text" value="" name="vote_hash" />
      <input type="submit" class="button small success" value="Επιβεβαίωση"/>
  </form>
</div>
{% endif %}

{% if admin_p %}
{% paginate %}
<br />
<br />
<table class="voters" width="100%">
  <thead>
    <tr>
      <th>Email</th>
      <th>Επώνυμο , Όνομα , Πατρώνυμο</th>
      {% if admin_p %}
      <th>Έχει ψηφίσει</th>
      <th>Τελευταία αποστολή email στις</th>
      <th>Τελευταία επίσκεψη</th>
      <th>Ενέργειες</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
  {% for voter in voters %}
  <tr>
    <td>
      {{ voter.voter_email }}
    </td>
    <td width="100%">
      {{ voter.voter_surname }} , {{ voter.voter_name }} {% if voter.voter_fathername %}, {{ voter.voter_fathername }}{% endif %}
    </td>
    <td>
      {% if voter.voted %}
      ΝΑΙ {% if voter.excluded_at %}<b style="color:red">(ΕΞΑΙΡΕΘΗΚΕ)</b>{% endif %}
      {% else %}
      ΟΧΙ
      {% endif %}

    </td>
    {% if admin_p %}
<td>
  {{ voter.last_email_send_at }}
</td>
    <td>
      {{ voter.last_visit }}
    </td>
    {% endif %}
{% if admin_p %}
      <td>
        <div href="#" class="tiny button dropdown">
          Ενέργειες&nbsp;
          <ul>
      {% if election.frozen_at %}
            <li>
<a class="foundicon-mail" href="{% url helios.views.voters_email election.uuid %}?voter_id={{voter.voter_login_id}}"> &nbsp;Αποστολή email</a>
</li>
{% else %}
<li>
<a class="foundicon-mail" href="{% url helios.views.voters_email election.uuid %}?voter_id={{voter.voter_login_id}}"> &nbsp;Αποστολή email</a>
</li>
{% endif %}
    {% if not voter.voted %}
            <li>
            <a class="alert foundicon-remove" 
              onclick="return confirm('Eπιβεβαιώστε τη διαγραφή ψηφοφόρου: '+
              '{{ voter.voter_name}} {{ voter.voter_surname }} ' +
              '{{voter.voter_fathername }} ({{voter.voter_email}}) ;');" 
  href="{% url helios.views.voter_delete election.uuid, voter.uuid %}"> &nbsp;Διαγραφή
  </a>
            </li>
            {% else %}
            {% if not election.mixing_started and not voter.excluded_at %}
            <li>
            <a class="alert foundicon-remove" 
  href="{% url helios.views.voter_exclude election.uuid, voter.uuid %}">
  &nbsp;Εξαίρεση
  </a>
            </li>
            {% endif %}
            {% endif %}
          </ul>
        </div>
</td>
  {% endif %}
  </tr>
  {% endfor %}
</tbody>
</table>
{% endif %}
{% endblock %}
