{% extends TEMPLATE_BASE %}
{% block title %}Bulk Upload Voters for {{election.name}}&mdash;Confirm{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>
        {{election.name}}&mdash;Bulk Upload Voters&mdash;Confirm <small>[<a href="{% url helios.views.voters_list_pretty election.uuid %}">Back</a>]</small>
      </h2>

      <p>
        You have uploaded a file of voters. The first few rows of this file are:
      </p>

      <table>
        <thead>
          <tr>
            <th>Voter ID</th>
            <th>E-mail Address</th>
            <th>Name</th>
            <th>User Type</th>
          </tr>
        </thead>

        <tbody>
          {% for v in voters %}
            <tr>
              <td>{{v.voter_id}}</td>
              <td>{% if v.email %}{{v.email}}{% endif %}</td>
              <td>{{v.name}}</td>
              {% if v.user_type %}
                <td>{{v.user_type|capfirst}}
              {% else %}
                <td>Password</td>
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="panel">
        {% if problems %}
          <h5>Hold On</h5>

          <ul>
            {% for problem in problems %}
              <li>{{problem}}</li>
            {% endfor %}
          </ul>

          <a href="{% url helios.views.voters_upload_cancel election.uuid %}" class="button secondary no-margin">Never mind, let me upload a different file.</a>
        {% else %}
          <form method="post" action="" id="upload_form">
            <input type="hidden" name="confirm_p" value="1" />

            <h5>Does this look right to you?</h5>

            <input type="submit" class="button no-margin" value="Yes, let's go!" />
            <a href="{% url helios.views.voters_upload_cancel election.uuid %}" class="button secondary no-margin">No, let me upload a different file.</a>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
