{% extends "election_page.html" %}

{% block title %}{{election.name}}: Ψηφοφόροι{% endblock %}
{% block tabs_menu %}
{% include "_election_view_menu.html" %}
{% endblock %}

{% block content %}
<h5>Μαζική προσθήκη ψηφοφόρων στην ψηφοφορία</h5>
<form method="post" action="" id="upload_form" enctype="multipart/form-data">
  <p>
    Παρακαλώ προετοιμάστε ένα αρχείο απλού κειμένου σε μορφή CSV, όπως το παρακάτω:
  </p>
  <pre>
      psifoforos1@idrima.minedu.gov.gr,Όνομα1,Επώνυμο1,Πατρώνυμο1
      psifoforos2@idrima.minedu.gov.gr,Όνομα2,Επώνυμο2,Πατρώνυμο2
      psifoforos3@idrima.minedu.gov.gr,Όνομα3,Επώνυμο3,Πατρώνυμο3
      ...
  </pre> 
  <u style="float:right">* Το πατρώνυμο είναι προαιρετικό</u>
  <br /><br />
  <p>
    Ο ευκολότερος τρόπος για να προετοιμάσετε ένα τέτοιο αρχείο είναι 
    να χρησιμοποιήσετε ένα πρόγραμμα υπολογιστικών φύλλων και να το εξάγετε σε μορφή CSV.
  </p>
  {% if error %}
  <div style="color: red;">{{error}}</div>
  {% endif %}
    <input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
    
    <input type="file" name="voters_file" />
    <br /><br />
    <input class="button success" type="submit" value="Μεταφόρτωση αρχείου"/>
</form>

<div id="processing">
</div>

<div id="done" style="display:none;">
  Η μεταφόρτωση ολοκληρώθηκε.<br />
  Μπορείτε τώρα να <a href="./manage">δείτε την λίστα των ψηφοφόρων</a>.
</div>

{% endblock %}
