{% extends TEMPLATE_BASE %}
{% block title %}Bulk Upload Voters for {{election.name}}{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2 class="title">
        {{election.name}}&mdash;Bulk Upload Voters <small>[<a href="{% url helios.views.voters_list_pretty election.uuid %}">Back</a>]</small>
      </h2>

      <p>
        If you would like to specify your list of voters by name and email address, you can bulk upload a list of such voters here. Please prepare a text file of comma-separated values with the fields:
      </p>

      <pre>
        &lt;unique_id&gt;,&lt;email&gt,&lt;full name&gt;
      </pre>

      <p>
        For example:
      </p>

      <pre>
        benadida,ben@adida.net,Ben Adida
        bobsmith,bob@acme.org,Bob Smith
        ...
      </pre>

      <p>
        The easiest way to prepare such a file is to use a spreadsheet program and export as "CSV".
      </p>

      <div class="panel">
        {% if error %}
          <div data-alert class="alert-box warning">
            <b>Error</b> {{error}}
          </div>
        {% endif %}

        <form method="post" id="upload_form" enctype="multipart/form-data">
          <input type="hidden" name="csrf_token" value="{{csrf_token}}" />
          <input type="file" name="voters_file" />
          <input type="submit" class="tiny button no-margin" value="Go" />
        </form>
      </div>
    </div>
  </div>
{% endblock %}
