{% extends TEMPLATE_BASE %}
{% block title %}Contact Voters for {{election.name}}{% endblock %}

{% load foundation %}

{% block content %}
  <script>
    var voter_id = null;
    {% if voter %}
      voter_id = '{{voter.voter_id}}';
    {% endif %}
  </script>

  <div class="row">
    <div class="large-12 columns">
      <h2>
        {{election.name}}&mdash;Contact Voters <small>[<a href="{% url 'helios.views.one_election_view' election.uuid %}">Back</a>]</small>
      </h2>

      {% if voter %}
        <div data-alert class="alert-box info">
          You are sending this email to a specific user: <b>{{voter.name}} ({{voter.voter_id}})</b>.
        </div>
      {% endif %}

      <dl class="sub-nav">
        <dt>Templates</dt>

        {% for template_option in templates %}
          <dd {% if template_option.0 == template %}class="active"{% endif %}>
            <a href="?template={{template_option.0}}&voter_id={{voter.voter_login_id}}">{{template_option.1}}</a>
          </dd>
        {% endfor %}
      </dl>

      <h3>Subject</h3>

      <div class="panel">
        <pre>{{default_subject}}</pre>
      </div>

      <h3>Message</h3>

      <div class="panel">
        <pre>
{{default_body|safe}}</pre>
      </div>

      <p>
        You may tweak the subject and add a custom message using the form below.
      </p>

      <form method="POST" id="email_form">
        <input type="hidden" name="csrf_token" value="{{csrf_token}}" />

        <input type="hidden" name="template" value="{{template}}" />
        <input type="hidden" name="voter_id" value="{{voter.voter_login_id}}" />

        {{email_form|foundationinline}}

        <div class="row">
          <div class="large-9 large-offset-3 columns">
            <input type="submit" class="small button" value="Send" id="send_button" />
          </div>
        </div>
      </form>
  </div>
{% endblock %}
