{% extends TEMPLATE_BASE %}
{% load i18n %}
{% block content %}
  <h2 class="title">{{election.name}} &mdash; {% trans "Search Voters for" %} '{{search_term}}' <span style="font-size:0.7em;">[<a href="{% url "helios.views.one_election_view" election.uuid %}">{% trans "back to election" %}</a>]</span></h2>

{% if voter %}
{% trans "Voter Found:" %} {{voter.name}} ({{voter.voter_id}})<br /><br />
{% if email_voters and election.frozen_at %}
<a href="{% url "helios.views.voters_email" election.uuid %}?voter_id={{voter.voter_id}}">{% trans "email this voter" %}</a>
{% else %}
{% trans "once this election is frozen, you'll be able to email this voter." %}
{% endif %}
{% else %}
<em>{% trans "no such voter found" %}</em>
{% endif %}

{% endblock %}
