{% extends TEMPLATE_BASE %}
{% block title %}Bulk Upload Voters for {{election.name}}&mdash;Confirm{% endblock %}

{% block content %}
  <div class="row">
    <div class="large-12 columns">
      <h2>
        {{election.name}}&mdash;Bulk Upload Voters&mdash;Confirm <small>[<a href="{% url helios.views.voters_list_pretty election.uuid %}">Back</a>]</small>
      </h2>

      <p>
        You have uploaded a file of voters. The first few rows of this file are:
      </p>

      <table>
        <thead>
          <tr>
            <th>Voter Login</th>
            <th>Email Address</th>
            <th>Name</th>
          </tr>
        </thead>

        <tbody>
          {% for v in voters %}
            <tr>
              <td>{{v.voter_id}}</td>
              <td>{{v.email}}</td>
              <td>{{v.name}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <div class="panel">
        <form method="post" action="" id="upload_form">
          <input type="hidden" name="confirm_p" value="1" />

          <h5>Does this look right to you?</h5>

          <input type="submit" class="tiny button no-margin" value="Yes, let's go!" />
          <a href="{% url helios.views.voters_upload_cancel election.uuid %}" class="tiny button secondary no-margin">No, let me upload a different file.</a>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
