
{% extends "helios/templates/cryptobase.html" %}

{% block title %}Add Encrypted Shares {% endblock %}

{% block content %}
  <h2 class="title">Bulletin Board &mdash; Add Encrypted Shares <span style="font-size:0.7em;">[<a href="/helios/elections/{{election.uuid}}/trustees/view">back to Trustees Page</a>]</span></h2>

<p>
To generate your encrypted shares, insert your secret key for signing.   

</p>
 
<body>
    <form action="" method="post">
        <li>Signature: <input type="text" name="signature"></li>
       
        <input type="submit" value="Submit">
    </form>
</body>





{% endblock %}



